In [26]:
# default_exp data.finance

In [27]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [28]:
from libs import is_lib_exists

In [120]:
required_libs = [ ("numpy", "numpy"),
                  ("pandas", "pandas"),
                  ("seaborn", "seaborn"),
                  ("matplotlib", "matplotlib"),
                  ("investpy", "investpy"),
                  ("dateutil", "python-dateutil"),
                ]

In [122]:
for (clz,lib) in required_libs:
    if not is_lib_exists(clz):
        print(f"Installing {lib}")
        !pip install {lib}
    else:
        print(f"{lib} exists")

numpy exists
pandas exists
seaborn exists
matplotlib exists
investpy exists
python-dateutil exists

In [123]:
#export
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import investpy
from pathlib import Path
from dateutil import relativedelta

In [32]:
%matplotlib inline

# Finance Data

> Functionality to gather finance data.

The classes here provide bases classes used to gather finance data for model training.

In [33]:
#hide
from nbdev.showdoc import *

In [44]:
DATASET_PATH = Path("../../data")
FTSE_KLSE = "ftse_klse.csv"
DATASET = DATASET_PATH/FTSE_KLSE

## FTSE KLSE

In [125]:
dataset = pd.read_csv(DATASET, header=0, sep=',', quotechar='"')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   S.No.         30 non-null     int64
 1   Company Name  30 non-null     object
 2   Ticker        30 non-null     object
dtypes: int64(1), object(2)
memory usage: 848.0+ bytes

In [126]:
ticker = dataset.iloc[0] # Test with 1st stockdataset
ticker

S.No.                                1
Company Name    Hong Leong Bank Berhad
Ticker                         5819.KL
Name: 0, dtype: object

In [133]:
stocks_df = investpy.get_stocks(country='malaysia')
stocks_df

,country,name,full_name,isin,currency,symbol
0,malaysia,Media Chinese Int,Media Chinese International Ltd,BMG5959D1048,MYR,MDCH
1,malaysia,AMMB,AMMB Holdings Bhd,MYL1015OO006,MYR,AMMB
2,malaysia,CIMB Group,CIMB Group Holdings Bhd,MYL1023OO000,MYR,CIMB
3,malaysia,RHB Bank,RHB Bank Bhd,MYL1066OO009,MYR,RHBC
4,malaysia,Hong Leong Financial,Hong Leong Financial Group Bhd,MYL1082OO006,MYR,HLCB
...,...,...,...,...,...,...
924,malaysia,Greatech Technology,Greatech Technology Bhd,MYQ0208OO007,MYR,GREA
925,malaysia,HPMT Holdings,HPMT Holdings Bhd,MYL5291OO009,MYR,HPMT
926,malaysia,Mestron Holdings,Mestron Holdings,MYQ0207OO009,MYR,MEST
927,malaysia,Parlo Bhd,Parlo Bhd,MYQ0022OO002,MYR,PARL
928,malaysia,Mtag Group Berhad,Mtag Group Berhad,MYQ0213OO007,MYR,MTAG

In [131]:
stock = investpy.get_stock_recent_data(stock='ytlp', country='malaysia')
print(stock.head())
stock

             Open   High    Low  Close   Volume Currency
Date
2020-05-18  0.670  0.670  0.660  0.670   833500      MYR
2020-05-19  0.675  0.680  0.670  0.675   920900      MYR
2020-05-20  0.670  0.680  0.670  0.675   672300      MYR
2020-05-21  0.680  0.695  0.675  0.690  3152100      MYR
2020-05-22  0.695  0.695  0.675  0.680  1425700      MYR

             Open   High    Low  Close    Volume Currency
Date
2020-05-18  0.670  0.670  0.660  0.670    833500      MYR
2020-05-19  0.675  0.680  0.670  0.675    920900      MYR
2020-05-20  0.670  0.680  0.670  0.675    672300      MYR
2020-05-21  0.680  0.695  0.675  0.690   3152100      MYR
2020-05-22  0.695  0.695  0.675  0.680   1425700      MYR
2020-05-27  0.680  0.690  0.680  0.680   1248400      MYR
2020-05-28  0.680  0.685  0.675  0.675   1002300      MYR
2020-05-29  0.675  0.720  0.675  0.695   4778100      MYR
2020-06-01  0.705  0.705  0.680  0.685   1234500      MYR
2020-06-02  0.685  0.690  0.680  0.690   1041300      MYR
2020-06-03  0.690  0.700  0.685  0.700   1361400      MYR
2020-06-04  0.700  0.705  0.700  0.700   1261000      MYR
2020-06-05  0.705  0.705  0.695  0.700   1317100      MYR
2020-06-09  0.700  0.710  0.695  0.700  13785700      MYR
2020-06-10  0.700  0.705  0.695  0.700   8148600      MYR
2020-06-11  0.700  0.700  0.690  0.700   4506200      MYR
2020-06-12  0.680  0.695  0.670  0.695   5319400      MYR
2020-06-15  0.695  0.695  0.680  0.685   4993400      MYR
2020-06-16  0.695  0.695  0.685  0.695   2672200      MYR