In [28]:
# default_exp data.finance

In [29]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [30]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [31]:
from libs import is_lib_exists

In [32]:
required_libs = [ ("numpy", "numpy"),
                  ("pandas", "pandas"),
                  ("seaborn", "seaborn"),
                  ("matplotlib", "matplotlib"),
                  ("investpy", "investpy"),
                  ("dateutil", "python-dateutil"),
                ]

In [33]:
for (clz,lib) in required_libs:
    if not is_lib_exists(clz):
        print(f"Installing {lib}")
        !pip install {lib}
    else:
        print(f"{lib} exists")

numpy exists
pandas exists
seaborn exists
matplotlib exists
investpy exists
python-dateutil exists

In [34]:
#export
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import investpy
from pathlib import Path
from dateutil.relativedelta import *
from datetime import *
import calendar
import traceback

In [35]:
%matplotlib inline

In [36]:
# % - line, %% - cell
# %run, %%timeit, %%writefile, %pycat
# %who, %store
# %html 
# %env, %pinfo
# %lsmagic
# %history
# %prun
# %%heat
# https://github.com/lmmx/devnotes/wiki/IPython-'magic'-function-documentation#edit
# %quickref

# https://ipython.readthedocs.io/en/stable/interactive/magics.html#

In [37]:
#%%bash
#for i in {2..10}
#do
#echo $i
#done

In [38]:
from IPython.display import display, Image

# Finance Data

> Functionality to gather finance data.

The classes here provide bases classes used to gather finance data for model training.

In [39]:
#hide
from nbdev.showdoc import *

In [40]:
# Dataset path
DATASET_PATH = Path("../../data")  

# Country to analyze
COUNTRY = "malaysia"

# Dataset
DATASET = DATASET_PATH/f"ftse_klse_investing.csv"

# Stocks summary
DATASET_STOCKS_SUMMARY = DATASET_PATH/f"stocks_summary.csv"

## FTSE KLSE

In [41]:
# Retrieve stock components
dataset = investpy.get_stocks(country=COUNTRY)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 929 entries, 0 to 928
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    929 non-null    object
 1   name       929 non-null    object
 2   full_name  929 non-null    object
 3   isin       929 non-null    object
 4   currency   929 non-null    object
 5   symbol     929 non-null    object
dtypes: object(6)
memory usage: 43.7+ KB

In [44]:
# Save the dataset
dataset.to_csv(DATASET, index=False)

#dataset = pd.read_csv(DATASET, header=0, sep=',', quotechar='"')

In [45]:
display(dataset.head(3))

,country,name,full_name,isin,currency,symbol
0,malaysia,Media Chinese Int,Media Chinese International Ltd,BMG5959D1048,MYR,MDCH
1,malaysia,AMMB,AMMB Holdings Bhd,MYL1015OO006,MYR,AMMB
2,malaysia,CIMB Group,CIMB Group Holdings Bhd,MYL1023OO000,MYR,CIMB

## TODO - stock sector, balance sheet and P&L

In [46]:
def calculate_yield(idx, name, symbol):
    """Calculate stock yield based on latest close price"""
    try:
        df_dividends = investpy.get_stock_dividends(stock=symbol, country=COUNTRY)
        #display(df_dividends)
        df_dividends['Year'] = pd.DatetimeIndex(df_dividends['Date']).year
        # Convert yield percentage to number
        df_dividends['Historical Yield'] =  df_dividends['Yield'].apply(\
                                                     lambda y : \
                                                     float(y.translate(str.maketrans({',': '.', '%': '', '-':'0'}))))
        
        # Aggregate the dividends by years
        df_dividends_summary = df_dividends.groupby(by=['Year'], sort=False, as_index=False).\
                                agg({'Dividend':'sum', 'Historical Yield':'sum', \
                                     'Date': lambda d: ','.join(d.dt.strftime('%Y-%m-%d'))})
        # print(df_dividends.groupby(by=['Year'], sort=False, as_index=False))
        # display(df_dividends_summary[df_dividends_summary['Year'].isin(PAST_3_YEARS)])
        #display(df_dividends_summary)
        
        df_recent_data = investpy.get_stock_recent_data(stock=symbol, country=COUNTRY).reset_index()
        last_close_price = df_recent_data[df_recent_data['Date'].eq(df_recent_data['Date'].max())]['Close'].values[0]
        # display(f"Recent price {last_close_price}")
        # display(df_recent_data)
     
        df_dividends_summary['Name'] = name
        df_dividends_summary['Symbol'] = symbol
        df_dividends_summary['Last Close Price'] = last_close_price
        df_dividends_summary['Calculated Yield'] = df_dividends_summary['Dividend'] / last_close_price * 100
       
        # display(df_dividends_summary)
        
        
        print(f'{idx}. {symbol} - {name}')
        return df_dividends_summary
            
    except Exception as exception:
        print(f"{idx}. Skipping {name} - {symbol}")
        #traceback.print_exc()
        return pd.DataFrame()

In [47]:
def summarize_stocks(df_summary, df):
    """Summarize the stock dividends details"""
    if df is None or df.empty:
        return df_summary
    if df_summary.empty:
        return df
    return df_summary.append(df)

In [48]:
import time

def generate_dataset():
    #!rm -rf {DATASET_STOCK_SUMMARY}
    df_all_dividends = pd.DataFrame()

    #df = calculate_yield(0, "BIMB", "BIMB")
    #df_all_dividends = summarize_stocks(df_all_dividends, df)
    #display(df_all_dividends)

    START_INDEX = 0
    for idx, row in dataset.iloc[START_INDEX:].iterrows():
        name = row['name']
        symbol = row['symbol']
        df = calculate_yield(idx, name, symbol)
        df_all_dividends = summarize_stocks(df_all_dividends, df)
        if (idx % 10 == 0 or idx == (len(dataset) - 1)):
            if (idx >= 15) 
                header = False
            else
                header = True
            df_all_dividends.to_csv(DATASET_STOCKS_SUMMARY, mode='a', index=False, header=header)
            df_all_dividends = pd.DataFrame()
        time.sleep(3)
    # display(df_all_dividends)

# Generate the dataset again?
#generate_dataset()

0. MDCH - Media Chinese Int
1. AMMB - AMMB
2. CIMB - CIMB Group
3. RHBC - RHB Bank
4. HLCB - Hong Leong Financial
5. MBBM - Malayan Banking
6. MBSS - Malaysia Building
7. PUBM - Public Bank
8. BSTB - Berjaya Sports Toto
9. DRBM - DRB Hicom
10. MYRS - Malaysian Resources
11. BMYS - Bursa Malaysia
12. IOIB - IOI Corp
13. TDMS - TDM
14. MMCB - MMC Corp
15. GENP - Genting Plantations
16. KLKK - Kuala Lumpur Kepong
17. ALLI - Alliance Bank Malaysia
18. BOUS - Boustead
19. CBMS - Carlsberg Brewery
20. DBMS - Dutch Lady Milk
21. HAPS - Hap Seng Consolidated
22. GENT - Genting
23. IJMS - IJM Corp
24. BGRO - Berjaya Corp
25. ENOB - Eastern & Oriental
26. MALY - Lafarge Malayan Cement
27. MISC - MISC
28. MAGM - Magnum
29. Skipping Mulpha Int - MITC
30. PEPT - PPB
31. BATO - BAT Malaysia
32. SIME - Sime Darby
33. MPRM - Media Prima
34. UMWS - UMW
35. YTLS - YTL Corp
36. TLMM - Telekom Malaysia
37. TCOM - TIME Dotcom
38. THPB - TH Plantations
39. ZHCO - Zhulian Corp
40. UMSB - UEM Sunrise
41. TAGL - TA Global
42. UOAD - UOA Development
43. TENA - Tenaga Nasional
44. TROP - Tropicana Corp
45. YTLP - YTL Power Int
46. TPGC - Top Glove Corp
47. TSHR - TSH Resources
48. WCTE - WCT
49. PSHL - POS Malaysia & Srvcs
50. GENM - Genting Malaysia
51. TAAN - Ta Ann
52. MAHB - Malaysia Airport
53. OSKH - OSK
54. MBCB - Malaysian Bulk Carriers
55. MJYA - Mudajaya
56. AIRA - Airasia
57. Skipping Rimbunan Sawit - RIMB
58. HAPP - Hap Seng Plantations
59. ANCR - Aeon Credit Service
60. DEHB - Dayang Enterprise
61. JCYI - JCY Int
62. HTHB - Hartalega
63. CAMA - CapitaLand Malaysia Mall
64. PCGB - Petronas Chemicals
65. MHEB - Malaysia Marine and Heavy Eng
66. GASM - Gas Malaysia
67. BUAB - Bumi Armada
68. SWAY - Sunway
69. PREI - Pavilion REIT
70. SAEN - Sapura Energy
71. FGVH - Felda Global Ventures
72. IHHH - IHH Healthcare
73. IGRE - IGB REIT
74. KLCC - KLCC Property
75. BIMB - BIMB
76. GAMU - Gamuda
77. Skipping Parkson - PRKN
78. PETR - Petronas Dagangan
79. HLBB - Hong Leong Bank
80. KPJH - KPJ Healthcare
81. MBMR - MBM Resources
82. MXSC - Maxis
83. PGAS - Petronas Gas
84. ASTR - Astro Malaysia
85. AXIA - Axiata
86. DSOM - DiGi.Com
87. PDNI - Padini
88. QRES - QL Resources
89. SUPM - Supermax Corp
90. KRIB - Kossan Rubber Ind
91. DIAL - Dialog
92. MAHS - Mah Sing
93. SETI - SP Setia
94. Skipping Perisai Petroleum - PPTB
95. KARE - Karex
96. CARM - Carimin Petroleum
97. Skipping Key Alliance - KGRP
98. Skipping Appasia - APPA
99. ONLY - Only World
100. EATE - EA Technique M
101. PRGH - Prg
102. AASB - Astral Asia
103. Skipping Able - ABEL
104. Skipping ABM Fujiya - ABMF
105. Skipping Ancom - ACBM
106. Skipping Acme - ACME
107. ACOU - Acoustech
108. ADVA - Advance Synergy
109. Skipping Adventa - ADVE
110. Skipping AE Multi - AEMU
111. AEOM - AEON Co
112. AFCB - Asia File Corp
113. AFHB - Apollo Food
114. AFIN - AFFIN
115. AINM - Allianz Malaysia
116. Skipping AirAsia X - AIRX
117. Skipping Amalgamated Steel - AISS
118. AJIN - Ajinomoto Malaysia
119. AJIY - Ajiya
120. Skipping Alam Maritim Res - ALMT
121. AMCO - Amcorp Properties
122. ALCO - Aluminium Malaysia
123. Skipping Amverton - AMVE
124. AMWA - Amway
125. ANNJ - Ann Joo Resources
126. ANRE - Analabs Resources
127. APBS - APB Resources
128. APER - Apex Healthcare
129. APES - Apex Equity
130. Skipping APFT - APFT
131. APHB - Asian Pac
132. APMA - APM Automotive
133. APTB - Advanced Packaging Tech
134. Skipping ARK Resources - ARKS
135. ARNK - A Rank
136. Skipping AHB - ARTW
137. ASIA - Asia Brands
138. Skipping RGT Bhd - RGTB
139. Skipping Vizione Holdings - VIZI
140. ATLA - Atlan
141. ATNO - Astino
142. Skipping Arb - ARBB
143. AWCF - AWC
144. AYSV - AYS Ventures
145. AZRB - Ahmad Zaki Res
146. Skipping BCB - BCBB
147. BDBS - Bina Darulaman
148. BENL - Benalec
149. BERJ - Berjaya Assets
150. Skipping Bertam Alliance - BERM
151. Skipping Brahims - BHBD
152. BHIB - Boustead Heavy Ind
153. Skipping Nextgreen Global - NEXT
154. Skipping BIG Industries - BIGI
155. BIOA - Bioalpha
156. Skipping Impiana Hotels - IMPI
157. BERA - Bermaz Auto
158. BJFO - Berjaya Food
159. Skipping Berjaya Media - BJME
160. Skipping Bintai Kinden Corp - BKCB
161. Skipping Chin Hin Property - CHIN
162. Skipping Berjaya Land - BLAD
163. BLDN - BLD Plantation
164. BOIL - Boilermech
165. BONI - Bonia Corp
166. BOPL - Boustead Plantations
167. Skipping Bright Packaging - BPAC
168. Skipping Box Pak - BPAK
169. BPOT - Bintulu Port
170. BPPL - BP Plastics
171. BPUR - Bina Puri
172. BREM - Brem Holding
173. Skipping Borneo Oil - BRNL
174. Skipping BSL Corp - BSLC
175. BTKW - Batu Kawan
176. Skipping BTM Resources - BTMR
177. CABC - CAB Cakaran Corp
178. CAEY - Caely
179. Skipping Caring Pharmacy - CARI
180. CBIP - CB Industrial Product
181. CCLD - Cocoaland
182. DUOP - Duopharma Biotech
183. CETH - Cheetah
184. Skipping Computer Forms - CFMS
185. CWGH - Chee Wah
186. Skipping Country Heights - CHHB
187. CHOO - Choo Bee Metal Ind
188. CHRB - Chuan Huat Res
189. Skipping China Stationery - CHST
190. CENT - Central Industrial
191. CIHB - CI
192. CLMS - Chemical Co Malaysia
193. Skipping CME - CMEG
194. Skipping Comintel Corp - CMNL
195. CMSM - Cahya Mata Sarawak
196. Skipping CN Asia Corp - CNAC
197. CNIH - CNI
198. CNON - Can One
199. Skipping Censof - CNSH
200. Skipping Concrete Engineering - CONC
201. Skipping China Ouhua Winery - COWH
202. Skipping Compugates - CPGT
203. CPLG - Complete Logistic Srvcs
204. CPWA - Cepatwawasan
205. CREC - Crescendo Corp
206. CREH - Crest Builder
207. CRSM - CAM Resources
208. CSCB - Classic Scenic
209. CSTH - CSC Steel
210. CTAL - Coastal Contracts
211. CJCE - CJ Century Logistics
212. CTPB - Chin Teck Plantations
213. Skipping Cuscapi Berhad - CUSC
214. CVIE - Country View
215. CWHB - Chin Well
216. CYCB - Cycle Carriage Bintang
217. CYLC - CYL Corp
218. CYPR - Cypark Res Berhad
219. Skipping Damansara Realty - DAMA
220. Skipping Dataprep - DATA
221. Skipping Daya Materials - DAYA
222. Skipping D.B.E. Gurney Res - DBEG
223. Skipping DeGem - DEGM
224. DELM - DKSH Malaysia Berhad
225. Skipping Destini - DEST
226. ATAI - ATA IMS
227. Skipping iDimension Cons - DIME
228. DKLS - DKLS Industries
229. DLEU - Deleum
230. Skipping Dnonce Tech - DNCE
231. DNEX - Dagang Nexchange
232. Skipping Dolomite Corp - DOLC
233. DOMN - Dominant Enterprise
234. DOVT - D O Green Tech
235. DAIB - Daibochi
236. Skipping DPS Resources - DPSS
237. DSON - Datasonic
238. DUFU - Dufu Tech Corp
239. DUTA - Dutaland
240. Skipping EA - EAHL
241. Skipping Eastland Equity - EAST
242. Skipping Efficient E Solutions - ECES
243. Skipping ECM Libra Financial - ECMA
244. Skipping EcoFirst Cons - ECOF
245. Skipping Eco World Develop - ECOW
246. VSTE - ECS ICT
247. Skipping Eden Inc - EDEN
248. Skipping Eg Industries - EGCM
249. Skipping EKA Noodles - EKAN
250. Skipping MB World Group - MBWO
251. EKOV - Ekovest
252. EKSN - Eksons Corp
253. Skipping Emico - EMIC
254. Skipping Encorp - ENCR
255. ENGH - Eng Kah Corp
256. EONM - Eonmetall
257. EPMB - EP Manufacturing
258. Skipping Euro - ERHB
259. Skipping Eurospan - ESAN
260. ESCB - Eversendai Corp
261. ESTH - Esthetics Int
262. ETEX - Engtex
263. Skipping Trive Property Group - TRIV
264. EUPE - Eupe Corp
265. EVGN - Evergreen Fibreboard
266. EWEI - Ewein
267. EXFM - Excel Force MSC
268. FACN - FACB Industries
269. FAJA - Fajarbaru Builder
270. FCWH - FCW
271. FEHS - Far East
272. FIHB - Federal International
273. FIAM - Fiamma
274. FIBN - Fibon
275. FIMA - Fima Corp
276. FITT - Fitters Diversified
277. FLIM - Farlim
278. Skipping Sinmah Capital - SINM
279. FMHB - Freight Management
280. FOLU - Focus Lumber
281. FPIB - Formosa Prosonic
282. FRAS - Fraser Neave
283. FRKN - Frontken Corp
284. Skipping FSBM - FUJI
285. KREJ - Kerjaya Prospek
286. FVCO - Favelle Favco
287. GADA - Gadang
288. PARA - Goh Ban Huat
289. GDEX - GD Express Carrier
290. Skipping Ge Shen Corp - GESH
291. GHLS - GHL Systems
292. Skipping Grand Hoover - GHOO
293. GKMS - George Kent
294. IGBB - IGB
295. GLOL - Global Oriental
296. GLOM - Glomac
297. Skipping Globaltec Formation - GLOT
298. GMUT - Gromutual
299. GNCH - Guan Chong
300. GNIC - Globetronics Tech
301. GOLD - Golden Land
302. GOPK - Gopeng
303. Skipping GPA - GPAH
304. Skipping Green Packet - GRNP
305. GROS - Golden Pharos
306. Skipping GSB - GSBR
307. GUHB - GUH
308. HEIN - Heineken
309. GUNU - Gunung Capital
310. GUOL - GuocoLand
311. Skipping Goodway Integrated - GWAY
312. HAIO - Hai O Enterprise
313. HARR - Harbour Link
314. Skipping Anzo Holdings - ANZO
315. Skipping HB Global - HBGL
316. Skipping HCK Capital - HCKC
317. Skipping Handal Resources - HDEB
318. HEIT - HeiTech Padu
319. HEVE - HeveaBoard
320. Skipping Ho Hup Construction - HHCS
321. HILI - Hil Industries
322. HLEN - Harn Len Corp
323. HEXT - Hextar Global
324. HLIB - Hong Leong Ind
325. Skipping Hock Heng Stone - HOCK
326. HOME - Homeritz Corp
327. Skipping Ho Wah Genting - HOWA
328. HSIB - Hup Seng Industries
329. HSLB - Hock Seng Lee
330. HSON - Harrisons
331. HTVE - Hiap Teck Venture
332. HUAY - Hua Yang
333. Skipping HUBLine - HUBE
334. HUIN - Hume Industries
335. Skipping Hwa Tai Industries - HWAT
336. HXZS - Hexza Corp
337. IBHD - I-Berhad
338. IBRC - Ibraco
339. IJMP - IJM Plantations
340. IKEN - Inch Kenneth Kajang Rubber
341. ILBM - Integrated Logistics
342. IMSP - Imaspro Corp
343. INAR - Inari Amertron
344. Skipping Industronics - INDU
345. INNO - Innoprise Plantations
346. INSS - Insas
347. IOIP - IOI Properties
348. IPMU - Ipmuda
349. IQGH - IQ
350. Skipping Ire Tex Corp - IREE
351. IRKA - Ireka Corp
352. COMF - Comfort Gloves
353. IUBN - Ideal United Bintang
354. IVRY - Ivory Properties
355. Skipping Iskandar Waterfront City - IWCI
356. Skipping Jadi Imaging - JADI
357. Skipping JAKS Resources - JAKS
358. JAYC - Jaycorp
359. JERA - Jerasia Capital
360. Skipping Kumpulan Jetson - JETS
361. Skipping Johan - JHHS
362. JHTN - Johore Tin
363. Skipping Jiankun Int - JIAN
364. JKBM - Jasa Kita
365. JADE - JMR Conglomeration
366. JCBN - JCBNext Berhad
367. JTIA - Jaya Tiasa
368. Skipping GETS Global - GETS
369. KCDS - Kuchai Develop
370. KENH - Ken
371. KESM - KESM Industries
372. Skipping WCE Holdings - WCEH
373. KFIM - Kumpulan Fima
374. Skipping Kuantan Flour Mills - LOTU
375. KHEE - Khee San
376. KHIN - Khind
377. KICB - Kimlun Corp
378. KIML - Kim Loong Resources
379. JKGL - JKG Land
380. KLRK - Kluang Rubber
381. Skipping Kamdar - KMDA
382. KNNK - K N Kenanga
383. KNUS - Knusford
384. KOBA - Kobay Tech
385. KOIN - Kotra Industries
386. KPSB - Kumpulan Perangsang Selangor
387. Skipping KPS Consortium - KPSC
388. Skipping Karambunai Corp - KRBN
389. KREK - Kretam
390. KSLH - KSL
391. KSSC - K Seng Seng Corp
392. Skipping Konsortium Transnasional - KSTM
393. Skipping K Star Sports - KSTR
394. KUBM - KUB Malaysia
395. KWAN - Kwantas Corp
396. KWNF - Kawan Food
397. Skipping Key ASIC - KYAC
398. LAND - Land General
399. LAYH - Lay Hong
400. LBIP - LBI Capital
401. LBSB - LBS Bina
402. LCBH - Luxchem Corp
403. Skipping Sand Nisko - SAND
404. Skipping Lebtech - LEBT
405. LEON - Leon Fuat
406. Skipping LFE Corp - LFEC
407. Skipping Lien Hoe Corp - LHCK
408. LHEN - Lii Hen Industries
409. LHTM - Lee Swee Kiat
410. Skipping Lion Forest Ind - LIOF
411. Skipping London Biscuits - LONB
412. LOND - LPI Capital
413. LTHB - Latitude Tree
414. LTKM - LTKM
415. MAAS - MAA
416. MIND - Minda Global
417. MAGN - Magna Prima
418. Skipping Managepay Systems - MANS
419. MATE - Magni Tech Ind
420. MATR - Matrix Concepts
421. Skipping Maxwell Int - MAXW
422. Skipping MClean Technologies - MCLN
423. MCTB - Gw Plastics
424. Skipping Meridian - MERI
425. MEGA - Mega First Corp
426. MEHB - Melati Ehsan
427. Skipping Thriven Global - THRI
428. STEL - Stella Holdings Bhd
429. METR - MKH
430. MFMS - Malayan Flour Mills
431. Skipping Malaysian Genomics - MGRC
432. MHBS - Malpac
433. MHCP - MHC Plantations
434. Skipping Milux Corp - MILU
435. Skipping Mintye Industries - MINT
436. MITR - Mitrajaya
437. MJPR - Majuperak
438. MKLH - M K Land
439. MLTO - Malton
440. Skipping Menang Corp - MNCS
441. MNGA - Mesiniaga
442. MNLF - Manulife
443. MNRB - MNRB
444. Skipping MPHB Capital - MPHB
445. MPIM - Malaysian Pacific Ind
446. Skipping Malaysia Pacific Corp - MPLB
447. MRHB - Marco
448. MSMH - MSM Malaysia
449. Skipping Multi Sports - MSPT
450. MSTP - Master Pack
451. Skipping MTD ACPI Engineering - MTDA
452. MUHI - Muhibbah Engineering
453. Skipping MUI Properties - MUIP
454. MYEG - MY EG Services
455. NCHB - Naim
456. NESM - Nestle
457. NHFH - New Hoong Fatt
458. NHSN - Ni Hsin Resources
459. Skipping Niche Capital Emas - NICH
460. NSOS - Negri Sembilan Oil Palms
461. NTPM - NTPM
462. NVTE - Notion Vtec
463. OCEA - Oceancash Pacific
464. OFIH - Oriental Food Ind
465. OINT - Oriental Interest
466. Skipping Omesti - OMES
467. OPCM - OPCOM
468. OTLS - Oriental
469. PACO - Pacific Orient
470. Skipping Mscm - MSCM
471. PAOS - Paos
472. PCCS - PCCS
473. Skipping Pasdec - PDEC
474. Skipping Pelikan Int - PELK
475. Skipping Paragon Union - PGON
476. PHUA - Poh Huat Resources
477. PINT - Pintaras Jaya
478. Skipping Pinehill Pacific - PIPB
479. PLBE - PLB Engineering
480. PLET - Plenitude
481. Skipping PLS Plantations - PLSB
482. PMAS - Pentamaster Corp
483. PMCS - Pan Malaysia Corp
484. PMMY - Panasonic Manufacture
485. POHK - Poh Kong
486. POWE - Power Root
487. ENRA - Enra Group
488. PRMS - Paramount Corp
489. PRTO - Protasco
490. Skipping Prinsiptek Corp - PSIP
491. PTMR - Petron Refining
492. PWFC - PW Consolidated
493. PXUS - Prolexus
494. REDI - RCE Capital Berhad
495. REXI - Rex Industry
496. RVWL - Riverview Rubber Estates
497. SAEG - Sam Engineering Equip
498. Skipping Saudee - SAUD
499. SBRK - Sungei Bagan Rubber
500. SDGS - Selangor Dredging
501. Skipping Selangor Properties - SELS
502. SEVE - 7 Eleven
503. SGNA - Signature Int
504. Skipping Sin Heng Chan - SHCS
505. SHHR - SHH Resources
506. SHLC - SHL Consolidated
507. SIAH - SBC Corp
508. Skipping Sinotop - SINH
509. Skipping Sern Kou Resources - SKOU
510. Skipping South Malaysia Ind - SMIS
511. Skipping Smtrack - SMTR
512. SNTO - Sentoria
513. SOPS - Sarawak Oil Palms
514. SPLN - Sarawak Plantation
515. SPTZ - Spritzer
516. SRCS - Sapura Resources
517. SWSB - SWS Capital
518. Skipping Sycal Ventures - SYCA
519. SYFR - SYF Resources
520. SYML - Symphony Life
521. TAES - TA Enterprise
522. Skipping TAFI Industries - TAFI
523. AYER - AYER
524. TAKA - Syarikat Takaful
525. Skipping Talam Transform - TALA
526. TAMB - Tambun Indah Land
527. Skipping Tanco - TANC
528. TGLB - Teo Guan Lee Corp
529. Skipping Theta Edge - THET
530. Skipping OCR - OCRG
531. TMEI - Tomei Consolidated
532. TNCS - Tan Chong Motor
533. Skipping TPC Plus - TPCP
534. Skipping Pimpinan Eshan - PIMP
535. TRCG - TRC Synergy
536. TSCP - Teo Seng Capital
537. TSHB - Tek Seng
538. TSRP - TSR Capital
539. UEME - Faber
540. VELE - Velesto Energy
541. UMRS - United Malacca
542. UNSM - Unisem M
543. UPAB - UPA Corp
544. UTPS - United Plantations
545. VTRX - ViTrox Corp
546. WLOW - Willowglen MSC
547. WPHB - Westports
548. WTKH - WTK
549. Skipping Xian Leng - XIAN
550. Skipping XiDeLang - XIDE
551. Skipping Xingquan Int Sports - XING
552. YGCB - Y&G Corp
553. YGON - Yoong Onn Corp
554. YINS - Yinson
555. Skipping Yee Lee Corp - YLEE
556. YNHB - YNH Property
557. YSPS - YSP Southeast Asia
558. Skipping YTL Land Develop - YTLL
559. Skipping ZECON - ZCON
560. Skipping Zelan - ZLAN
561. Skipping Amtel Holdings Bhd - AMTH
562. CCKH - CCK Consolidated Holdings
563. Skipping Cymao Holdings Bhd - CYMA
564. Skipping Edaran Bhd - EDSB
565. KHLH - Kumpulan H L High Tech
566. Skipping Kia Lim Bhd - KIAL
567. KIMH - Kim Hin Industry Bhd
568. KKBE - KKB Engineering Berhad
569. Skipping KNM Group Bhd - KNMP
570. Skipping Komarkcorp Bhd - KOMK
571. KPOW - Kumpulan Powernet Bhd
572. KSMS - Keck Seng Malaysia
573. Skipping Kinsteel Bhd - KSTE
574. LBAL - LB Aluminium Bhd
575. Skipping Leweko Resources Bhd - LEWE
576. Skipping Lion Industries Corp - LLBM
577. Skipping Luster Industries Bhd - LTER
578. LYSA - Lysaght Galvanized Steel
579. MCEI - MCE Holdings
580. MEIS - Mercury Industries Bhd
581. MENT - Mentiga Corporation Bhd
582. MIEC - Mieco Chipboard Bhd
583. Skipping MGB - MGBB
584. MNHO - Minho M Bhd
585. Skipping Minetech Resources Bhd - MNTH
586. MSCB - Malaysia Smelting
587. Skipping Melewar Industrial Group - MSTM
588. MUBL - Muar Ban Lee Group Bhd
589. MUDA - Muda Holdings Bhd
590. Skipping Multi Usage Holdings Bhd - MUHB
591. Skipping Mycron Steel Bhd - MYCS
592. NMBS - Nylex Malaysia Bhd
593. OKAC - Oka Corporation Bhd
594. ORPA - Ornapaper Bhd
595. Skipping P.A. Resources Bhd - PARB
596. PENS - Pensonic Holdings Bhd
597. PESO - Pesona Metro Holdings Bhd
598. Skipping Poly Glass Fibre M Bhd - PGFM
599. PIEN - PIE Industrial Bhd
600. PMBT - PMB Technology Bhd
601. PMET - Press Metal Bhd
602. Skipping Permaju Industries Bhd - PMJU
603. Skipping PNE PCB Bhd - PNEB
604. PPGB - Pelangi Publishing Group
605. PPHB - Public Packages Holdings
606. PSTM - Perusahaan Sadur Timah
607. PTAR - Prestar Resources Bhd
608. Skipping Priceworth International - PWPB
609. Skipping Rapid Synergy Bhd - RAPD
610. RESN - Resintech Bhd
611. RUMM - Rubberex Corporation M
612. SACB - Sarawak Cable Bhd
613. Skipping Sanbumi Holdings Bhd - ICOI
614. SAPU - Sapura Industrial Bhd
615. SCCE - Success Transformer Corp
616. SCER - Seacera Group Bhd
617. SCGB - SCGM Bhd
618. SCIB - Sarawak Consolidated Industries
619. Skipping Scomi Group Bhd - SCOI
620. SCPE - Scope Industries Bhd
621. Skipping Scanwolf Corporation Bhd - SCWF
622. Skipping SEAL Incorporated Bhd - SEAL
623. SIGS - SIG Gases Bhd
624. SKPR - SKP Resources Bhd
625. Skipping Sealink International Bhd - SLKI
626. SLPB - SLP Resources Bhd
627. HENY - Hengyuan Refining
628. Skipping Atta Global Group - ATTA
629. Skipping Sino Hua An International - SNHN
630. SOUS - Southern Acids M Bhd
631. SPLH - Superlon Holdings Bhd
632. STEE - Southern Steel Bhd
633. STIK - Scientex Bhd
634. SUBU - Subur Tiasa Holdings Bhd
635. Skipping Sunsuria Bhd - SUNS
636. SUNW - Sunway Real Estate Invest Trust
637. Skipping Tadmax Resources Bhd - TADM
638. Skipping Dynaciate - DYNA
639. ROHA - Rohas Tecnic
640. Skipping Tekala - WMGH
641. TGIB - Thong Guan Industries Bhd
642. THEA - Three A Resources Bhd
643. THRB - Tong Herr Resources Bhd
644. Skipping Tiger Synergy Bhd - TIGE
645. Skipping Tasek Corporation Bhd - TKCS
646. TOMY - Tomypak Holdings Bhd
647. Skipping TAS Offshore Bhd - TSOF
648. Skipping Turiya Bhd - TURY
649. TWEL - Timberwell Bhd
650. TWPH - Tien Wah Press Holdings
651. UCHI - Uchi Technologies Bhd
652. UMSN - UMS Neiken
653. UULI - United U Li Corporation
654. VSID - VS Industry Bhd
655. Skipping Versatile Creative Bhd - VSTL
656. WAHE - Wah Seong Corporation Bhd
657. Skipping Watta Holding Bhd - WATA
658. WCAL - Wellcall Holdings Bhd
659. WENG - Wong Engineering Corp
660. WHSE - White Horse Bhd
661. WZRB - WZ Satu Bhd
662. Skipping YKGI Holdings Bhd - YKGI
663. YLAI - Yi Lai
664. YLIH - YLI Holdings Bhd
665. Skipping G3 Global - GLOA
666. MALA - Malakoff Corporation Bhd
667. Skipping Hibiscus Petroleum BHD - HIBI
668. SEDA - Sedania Innovator Bhd
669. XINW - Xin Hwa Holdings Bhd
670. ESCM - ES Ceramics Technology Bhd
671. IKHM - Ikhmas Jaya Group Bhd
672. JHMC - JHM Consolidation Bhd
673. PRTB - Privasia Technology Bhd
674. SCOG - Sunway Construction Group Bhd
675. Skipping Sersol Bhd - SSOL
676. AEML - Aemulus Holdings Bhd
677. ALSA - Al-Salam Real Estate
678. Skipping Sumatec Resources Bhd - SUTR
679. TUNE - Tune Protect Group Bhd
680. Skipping Dolphin International Bhd - DOLP
681. KEHG - Kein Hing International Bhd
682. Skipping MESB Bhd - MESB
683. MSWK - Malaysia Steel Works KL Bhd
684. Skipping Metronic Global Bhd - MTNC
685. Skipping Malayan United Industries Bhd - MUIB
686. Skipping Nationwide Express - NEXP
687. Skipping Naim Indah - PEGA
688. NPCR - NPC Resources Bhd
689. OCBB - OCB Bhd
690. Skipping Olympia Industries Bhd - OLYM
691. OVER - Oversea Enterprise Bhd

In [60]:
dataset = pd.read_csv(DATASET_STOCKS_SUMMARY, header=0, sep=',', quotechar='"')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2633 entries, 0 to 2632
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              2633 non-null   int64
 1   Dividend          2633 non-null   float64
 2   Historical Yield  2633 non-null   float64
 3   Date              2633 non-null   object
 4   Name              2633 non-null   object
 5   Symbol            2633 non-null   object
 6   Last Close Price  2633 non-null   float64
 7   Calculated Yield  2633 non-null   float64
dtypes: float64(4), int64(1), object(3)
memory usage: 164.7+ KB

In [61]:
# Today's date
TODAY = date.today()

# Past 3 years
#PAST_3_YEARS = [ TODAY.year - y for y in range(1,4) ]
PAST_3_YEARS = [ TODAY.year - y for y in range(0,3) ]
print(PAST_3_YEARS)

# Expected YIELD %
EXPECTED_YIELD_PERCENTAGE = 15

[2020, 2019, 2018]

In [62]:
df_dividend_stocks = dataset[
                 (dataset['Year'].isin(PAST_3_YEARS)) & 
                 (dataset['Calculated Yield'] >= EXPECTED_YIELD_PERCENTAGE)]

#df_dividend_stocks = df_dividend_stocks.sort_values(by=['Name', 'Year'])

In [63]:
for symbol in df_dividend_stocks['Symbol'].unique():
    display(dataset[dataset['Symbol']==symbol])

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
0,2020,0.0041,2.48,2020-07-10,Media Chinese Int,MDCH,0.16,2.5625
1,2019,0.0226,12.90,"2019-12-09,2019-06-19",Media Chinese Int,MDCH,0.16,14.1250
2,2018,0.0322,16.50,"2018-12-12,2018-06-18",Media Chinese Int,MDCH,0.16,20.1250
3,2017,0.0557,15.78,"2017-12-11,2017-06-16",Media Chinese Int,MDCH,0.16,34.8125
4,2016,0.0879,13.60,"2016-12-13,2016-06-20",Media Chinese Int,MDCH,0.16,54.9375
5,2015,0.0790,6.18,"2015-12-08,2015-07-08",Media Chinese Int,MDCH,0.16,49.3750

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
48,2020,0.3222,14.92,"2020-12-30,2020-03-10",Berjaya Sports Toto,BSTB,2.21,14.579186
49,2019,0.6350,25.35,"2019-12-12,2019-07-18,2019-04-10,2019-01-16",Berjaya Sports Toto,BSTB,2.21,28.733032
50,2018,0.6100,26.95,"2018-10-03,2018-07-16,2018-04-11,2018-01-24",Berjaya Sports Toto,BSTB,2.21,27.601810
51,2017,0.6100,24.15,"2017-10-06,2017-07-18,2017-04-11,2017-01-05",Berjaya Sports Toto,BSTB,2.21,27.601810
52,2016,0.5189,16.22,"2016-07-18,2016-04-11,2016-01-18",Berjaya Sports Toto,BSTB,2.21,23.479638
53,2015,0.1839,5.99,2015-10-08,Berjaya Sports Toto,BSTB,2.21,8.321267

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
105,2018,0.3600,23.35,"2018-12-13,2018-09-19,2018-06-13,2018-03-13",Boustead,BOUS,0.615,58.536585
106,2017,0.5707,20.66,"2017-12-14,2017-09-14,2017-06-13,2017-03-14",Boustead,BOUS,0.615,92.796748
107,2016,0.6173,24.09,"2016-12-13,2016-09-09,2016-06-08,2016-03-29",Boustead,BOUS,0.615,100.373984
108,2015,0.4200,5.22,"2015-12-22,2015-09-15",Boustead,BOUS,0.615,68.292683

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
109,2020,3.6309,12.95,"2020-09-04,2020-05-15,2020-03-26,2020-01-02",Carlsberg Brewery,CBMS,23.22,15.636951
110,2019,4.3520,17.91,"2019-10-18,2019-07-17,2019-05-16,2019-03-27,20...",Carlsberg Brewery,CBMS,23.22,18.742463
111,2018,1.9770,10.25,"2018-09-18,2018-06-18,2018-05-02",Carlsberg Brewery,CBMS,23.22,8.514212
112,2017,1.4900,9.56,"2017-09-19,2017-05-03",Carlsberg Brewery,CBMS,23.22,6.416882
113,2016,1.4400,9.72,"2016-09-21,2016-05-03",Carlsberg Brewery,CBMS,23.22,6.201550
114,2015,0.7100,5.83,2015-09-22,Carlsberg Brewery,CBMS,23.22,3.057709

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
147,2020,1.200,16.24,"2020-12-02,2020-08-27,2020-05-22,2020-03-02",MISC,MISC,6.72,17.857143
148,2019,1.200,16.18,"2019-11-26,2019-08-27,2019-06-10,2019-03-06",MISC,MISC,6.72,17.857143
149,2018,1.200,17.72,"2018-11-30,2018-08-17,2018-05-24,2018-02-26",MISC,MISC,6.72,17.857143
150,2017,0.720,9.95,"2017-11-15,2017-08-21,2017-05-19",MISC,MISC,6.72,10.714286
151,2016,0.825,10.65,"2016-08-18,2016-04-18,2016-02-22",MISC,MISC,6.72,12.276786

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
152,2020,0.4177,18.90,"2020-12-11,2020-06-12,2020-03-17",Magnum,MAGM,2.19,19.073059
153,2019,0.6400,24.54,"2019-12-13,2019-09-18,2019-06-18,2019-03-13",Magnum,MAGM,2.19,29.223744
154,2018,0.4800,22.91,"2018-12-13,2018-09-14,2018-06-13,2018-03-13",Magnum,MAGM,2.19,21.917808
155,2017,0.3800,21.35,"2017-12-14,2017-09-13,2017-03-10",Magnum,MAGM,2.19,17.351598
156,2016,0.5750,24.78,"2016-12-08,2016-09-13,2016-06-08,2016-03-11",Magnum,MAGM,2.19,26.255708
157,2015,0.3750,6.86,"2015-12-07,2015-09-07",Magnum,MAGM,2.19,17.123288

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
164,2020,5.27,44.22,"2020-11-12,2020-08-06,2020-06-05,2020-03-17,20...",BAT Malaysia,BATO,14.04,37.535613
165,2019,5.82,28.22,"2019-11-13,2019-08-08,2019-06-13,2019-03-06",BAT Malaysia,BATO,14.04,41.452991
166,2018,6.36,18.66,"2018-11-01,2018-08-01,2018-06-01,2018-03-09",BAT Malaysia,BATO,14.04,45.299145
167,2017,8.67,21.31,"2017-11-10,2017-08-10,2017-05-12,2017-03-09",BAT Malaysia,BATO,14.04,61.752137
168,2016,8.57,16.11,"2016-08-11,2016-05-16,2016-03-03",BAT Malaysia,BATO,14.04,61.039886
169,2015,6.24,5.58,"2015-11-13,2015-08-13",BAT Malaysia,BATO,14.04,44.444444

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
203,2020,0.380,28.19,"2020-11-12,2020-08-13,2020-05-27,2020-02-18",Zhulian Corp,ZHCO,1.63,23.312883
204,2019,0.320,21.46,"2019-11-14,2019-08-15,2019-05-14,2019-02-11",Zhulian Corp,ZHCO,1.63,19.631902
205,2018,0.270,19.79,"2018-11-02,2018-08-15,2018-05-14,2018-02-12",Zhulian Corp,ZHCO,1.63,16.564417
206,2017,0.240,13.18,"2017-11-01,2017-08-09,2017-05-08,2017-02-14",Zhulian Corp,ZHCO,1.63,14.723926
207,2016,0.180,12.60,"2016-08-10,2016-05-09,2016-02-15",Zhulian Corp,ZHCO,1.63,11.042945
208,2015,0.065,4.48,2015-10-29,Zhulian Corp,ZHCO,1.63,3.987730

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
284,2019,0.24,28.24,2019-03-11,Airasia,AIRA,0.91,26.373626
285,2018,0.24,7.74,2018-06-12,Airasia,AIRA,0.91,26.373626
286,2017,0.30,9.13,"2017-09-13,2017-05-23",Airasia,AIRA,0.91,32.967033
287,2016,0.04,1.30,2016-05-26,Airasia,AIRA,0.91,4.395604
288,2015,0.03,1.64,2015-06-01,Airasia,AIRA,0.91,3.296703

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
313,2020,0.1029,15.71,"2020-09-04,2020-02-06",CapitaLand Malaysia Mall,CAMA,0.635,16.204724
314,2019,0.1463,14.18,"2019-08-08,2019-02-13",CapitaLand Malaysia Mall,CAMA,0.635,23.039370
315,2018,0.1632,14.62,"2018-08-06,2018-02-07",CapitaLand Malaysia Mall,CAMA,0.635,25.700787
316,2017,0.1680,11.42,"2017-08-01,2017-02-07",CapitaLand Malaysia Mall,CAMA,0.635,26.456693
317,2016,0.1679,10.93,"2016-07-29,2016-02-03",CapitaLand Malaysia Mall,CAMA,0.635,26.440945
318,2015,0.0899,6.33,2015-07-06,CapitaLand Malaysia Mall,CAMA,0.635,14.157480

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
358,2020,0.3173,18.49,"2020-11-09,2020-08-03,2020-05-06,2020-02-05",IGB REIT,IGRE,1.75,18.131429
359,2019,0.3675,19.23,"2019-11-06,2019-08-06,2019-05-08,2019-02-07",IGB REIT,IGRE,1.75,21.000000
360,2018,0.3773,22.99,"2018-11-07,2018-07-26,2018-05-04,2018-02-06",IGB REIT,IGRE,1.75,21.560000
361,2017,0.1739,10.46,"2017-08-14,2017-02-08",IGB REIT,IGRE,1.75,9.937143
362,2016,0.1620,9.85,"2016-08-05,2016-02-10",IGB REIT,IGRE,1.75,9.257143
363,2015,0.0837,6.15,2015-08-07,IGB REIT,IGRE,1.75,4.782857

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
364,2020,1.4476,19.09,"2020-11-24,2020-08-24,2020-05-21,2020-02-07",KLCC Property,KLCC,7.19,20.133519
365,2019,1.4036,17.83,"2019-11-25,2019-09-06,2019-05-23,2019-02-11",KLCC Property,KLCC,7.19,19.521558
366,2018,1.4297,18.57,"2018-11-28,2018-08-29,2018-05-30,2018-02-08",KLCC Property,KLCC,7.19,19.884562
367,2017,1.4260,18.28,"2017-11-29,2017-09-06,2017-06-05,2017-02-06",KLCC Property,KLCC,7.19,19.833102
368,2015,0.6720,4.89,"2015-11-24,2015-08-20",KLCC Property,KLCC,7.19,9.346314

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
405,2020,0.74,14.32,"2020-11-27,2020-08-27,2020-05-28,2020-03-17",Maxis,MXSC,5.09,14.538310
406,2019,0.80,14.61,"2019-11-28,2019-08-29,2019-05-30,2019-02-28",Maxis,MXSC,5.09,15.717092
407,2018,0.80,14.23,"2018-11-28,2018-08-28,2018-05-28,2018-02-26",Maxis,MXSC,5.09,15.717092
408,2017,0.80,13.46,"2017-11-28,2017-08-28,2017-05-29,2017-02-24",Maxis,MXSC,5.09,15.717092
409,2016,0.60,9.84,"2016-08-26,2016-05-27,2016-02-25",Maxis,MXSC,5.09,11.787819
410,2015,0.65,5.22,"2015-11-26,2015-08-26",Maxis,MXSC,5.09,12.770138

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
411,2020,2.88,17.81,"2020-12-04,2020-09-08,2020-06-12,2020-03-04",Petronas Gas,PGAS,17.34,16.608997
412,2019,2.88,17.74,"2019-12-05,2019-09-13,2019-06-18,2019-03-01",Petronas Gas,PGAS,17.34,16.608997
413,2018,2.69,14.73,"2018-12-13,2018-08-29,2018-05-31,2018-03-12",Petronas Gas,PGAS,17.34,15.513264
414,2017,2.56,14.08,"2017-11-23,2017-08-28,2017-05-26,2017-03-07",Petronas Gas,PGAS,17.34,14.763552
415,2016,2.40,11.18,"2016-11-16,2016-08-24,2016-05-23,2016-03-09",Petronas Gas,PGAS,17.34,13.840830
416,2015,1.01,2.57,"2015-11-18,2015-08-19",Petronas Gas,PGAS,17.34,5.824683

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
417,2020,0.2550,29.41,"2020-12-17,2020-09-30,2020-07-02,2020-04-08",Astro Malaysia,ASTR,0.905,28.176796
418,2019,0.3300,27.33,"2019-12-18,2019-09-27,2019-07-09,2019-04-08",Astro Malaysia,ASTR,0.905,36.464088
419,2018,0.1200,6.67,2018-04-10,Astro Malaysia,ASTR,0.905,13.259669
420,2017,0.4750,22.42,"2017-12-19,2017-09-29,2017-06-30,2017-04-10",Astro Malaysia,ASTR,0.905,52.486188
421,2016,0.5126,17.97,"2016-12-21,2016-09-28,2016-06-14,2016-04-04",Astro Malaysia,ASTR,0.905,56.640884
422,2015,0.1250,4.24,2015-12-21,Astro Malaysia,ASTR,0.905,13.812155

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
429,2020,0.695,16.33,"2020-11-17,2020-08-25,2020-05-28,2020-02-27",DiGi.Com,DSOM,4.2,16.547619
430,2019,0.763,16.10,"2019-11-21,2019-08-30,2019-05-31,2019-02-27",DiGi.Com,DSOM,4.2,18.166667
431,2018,0.765,17.42,"2018-11-21,2018-08-29,2018-05-31,2018-02-22",DiGi.Com,DSOM,4.2,18.214286
432,2017,0.753,15.19,"2017-11-21,2017-08-29,2017-05-29,2017-03-01",DiGi.Com,DSOM,4.2,17.928571
433,2016,0.635,13.40,"2016-08-29,2016-05-25,2016-02-25",DiGi.Com,DSOM,4.2,15.119048
434,2015,0.497,4.88,"2015-11-06,2015-08-05",DiGi.Com,DSOM,4.2,11.833333

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
470,2020,0.0050,0.49,2020-03-11,SP Setia,SETI,1.03,0.485437
471,2019,0.0855,6.68,2019-03-29,SP Setia,SETI,1.03,8.300971
472,2018,0.3090,12.13,"2018-10-09,2018-03-21",SP Setia,SETI,1.03,30.000000
473,2017,0.3948,11.87,"2017-09-12,2017-06-16",SP Setia,SETI,1.03,38.330097
474,2016,0.3834,10.83,"2016-10-26,2016-06-30",SP Setia,SETI,1.03,37.223301
475,2015,0.0970,3.10,2015-08-07,SP Setia,SETI,1.03,9.417476

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
505,2019,0.44,19.28,"2019-10-03,2019-04-17,2019-01-14",Asia File Corp,AFCB,2.1,20.952381
506,2018,0.47,17.21,"2018-10-05,2018-05-08,2018-01-17",Asia File Corp,AFCB,2.1,22.380952
507,2017,0.07,2.10,2017-05-09,Asia File Corp,AFCB,2.1,3.333333
508,2016,0.44,12.89,"2016-12-22,2016-08-26,2016-03-31",Asia File Corp,AFCB,2.1,20.952381
509,2015,0.15,3.23,2015-11-16,Asia File Corp,AFCB,2.1,7.142857

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
552,2019,0.120,16.67,2019-05-07,Ann Joo Resources,ANNJ,1.65,7.272727
553,2018,0.380,21.69,"2018-09-07,2018-04-19",Ann Joo Resources,ANNJ,1.65,23.030303
554,2017,0.195,5.70,"2017-09-06,2017-05-08",Ann Joo Resources,ANNJ,1.65,11.818182
555,2015,0.030,1.56,2015-06-03,Ann Joo Resources,ANNJ,1.65,1.818182

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
595,2020,0.4000,10.84,"2020-11-26,2020-05-14",Atlan,ATLA,3.65,10.958904
596,2019,0.5500,13.80,"2019-10-30,2019-07-29,2019-02-11",Atlan,ATLA,3.65,15.068493
597,2018,0.5700,12.78,"2018-07-25,2018-02-15",Atlan,ATLA,3.65,15.616438
598,2017,0.4950,11.26,"2017-10-30,2017-07-27,2017-02-13",Atlan,ATLA,3.65,13.561644
599,2016,0.2688,5.39,2016-07-28,Atlan,ATLA,3.65,7.364384
600,2015,0.1750,3.37,2015-10-15,Atlan,ATLA,3.65,4.794521

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
611,2019,0.0200,11.76,2019-09-26,AYS Ventures,AYSV,0.33,6.060606
612,2018,0.0500,14.74,"2018-08-01,2018-03-14",AYS Ventures,AYSV,0.33,15.151515
613,2017,0.0250,5.95,2017-08-02,AYS Ventures,AYSV,0.33,7.575758
614,2016,0.0283,6.11,"2016-12-06,2016-03-07",AYS Ventures,AYSV,0.33,8.575758

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
631,2021,0.0320,2.29,2021-01-15,Bermaz Auto,BERA,1.39,2.302158
632,2020,0.2615,17.83,"2020-10-27,2020-05-04,2020-01-28",Bermaz Auto,BERA,1.39,18.812950
633,2019,0.4230,18.36,"2019-10-09,2019-07-09,2019-04-05",Bermaz Auto,BERA,1.39,30.431655
634,2018,0.4480,20.83,"2018-12-27,2018-10-08,2018-07-06,2018-04-06,20...",Bermaz Auto,BERA,1.39,32.230216
635,2017,0.4320,21.27,"2017-10-09,2017-07-07,2017-04-06,2017-01-05",Bermaz Auto,BERA,1.39,31.079137
636,2016,0.3909,17.41,"2016-10-04,2016-07-05,2016-03-30,2016-01-04",Bermaz Auto,BERA,1.39,28.122302
637,2015,0.0971,4.52,2015-10-06,Bermaz Auto,BERA,1.39,6.985612

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
657,2020,0.0050,0.81,2020-12-08,Boustead Plantations,BOPL,0.615,0.813008
658,2019,0.0550,9.24,2019-06-10,Boustead Plantations,BOPL,0.615,8.943089
659,2018,0.3557,34.01,"2018-12-05,2018-09-06,2018-06-06,2018-03-12",Boustead Plantations,BOPL,0.615,57.837398
660,2017,0.5450,33.07,"2017-12-06,2017-09-06,2017-06-05,2017-03-01",Boustead Plantations,BOPL,0.615,88.617886
661,2016,0.2600,17.27,"2016-09-05,2016-06-06",Boustead Plantations,BOPL,0.615,42.276423

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
662,2020,0.46,11.40,"2020-12-09,2020-09-17,2020-07-20,2020-03-26",Bintulu Port,BPOT,3.86,11.917098
663,2019,0.62,14.10,"2019-12-13,2019-09-19,2019-07-18,2019-03-27",Bintulu Port,BPOT,3.86,16.062176
664,2018,0.71,13.34,"2018-12-12,2018-09-19,2018-07-18,2018-05-14",Bintulu Port,BPOT,3.86,18.393782
665,2017,0.91,15.06,"2017-12-13,2017-09-18,2017-07-12,2017-05-09",Bintulu Port,BPOT,3.86,23.575130
666,2016,0.92,13.95,"2016-11-30,2016-09-21,2016-07-20,2016-05-11",Bintulu Port,BPOT,3.86,23.834197
667,2015,0.44,3.10,"2015-12-09,2015-09-15",Bintulu Port,BPOT,3.86,11.398964

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
760,2020,0.32,47.06,2020-05-13,Complete Logistic Srvcs,CPLG,0.67,47.761194
761,2014,0.03,2.75,2014-09-11,Complete Logistic Srvcs,CPLG,0.67,4.477612

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
781,2020,0.10,11.59,"2020-12-11,2020-04-01",Classic Scenic,CSCB,0.91,10.989011
782,2019,0.13,13.70,"2019-09-26,2019-04-01",Classic Scenic,CSCB,0.91,14.285714
783,2018,0.17,12.99,"2018-10-11,2018-05-04",Classic Scenic,CSCB,0.91,18.681319
784,2017,0.21,12.37,"2017-11-01,2017-04-25",Classic Scenic,CSCB,0.91,23.076923
785,2016,0.22,12.18,"2016-10-31,2016-04-28",Classic Scenic,CSCB,0.91,24.175824
786,2015,0.08,6.15,2015-10-29,Classic Scenic,CSCB,0.91,8.791209

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
820,2020,0.005,1.09,2020-01-10,CYL Corp,CYLC,0.46,1.086957
821,2018,0.080,17.78,"2018-05-24,2018-01-03",CYL Corp,CYLC,0.46,17.391304
822,2017,0.090,12.48,"2017-05-25,2017-01-04",CYL Corp,CYLC,0.46,19.565217
823,2016,0.115,13.16,"2016-06-01,2016-01-07",CYL Corp,CYLC,0.46,25.000000
824,2015,0.050,5.85,2015-06-04,CYL Corp,CYLC,0.46,10.869565

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
852,2020,0.1250,16.91,"2020-12-09,2020-10-09,2020-03-10",Dominant Enterprise,DOMN,0.8,15.6250
853,2019,0.2700,21.65,"2019-12-10,2019-09-30,2019-09-06,2019-03-11",Dominant Enterprise,DOMN,0.8,33.7500
854,2018,0.2700,21.03,"2018-12-07,2018-09-27,2018-09-03,2018-03-12",Dominant Enterprise,DOMN,0.8,33.7500
855,2017,0.2300,18.01,"2017-12-08,2017-09-20,2017-08-30,2017-03-08",Dominant Enterprise,DOMN,0.8,28.7500
856,2016,0.1213,10.47,"2016-12-07,2016-09-05,2016-03-09",Dominant Enterprise,DOMN,0.8,15.1625
857,2015,0.0842,3.67,"2015-12-08,2015-09-04",Dominant Enterprise,DOMN,0.8,10.5250

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
867,2020,0.0863,9.20,"2020-12-11,2020-09-14,2020-07-10,2020-03-12",Datasonic,DSON,0.535,16.130841
868,2019,0.1025,11.22,"2019-12-30,2019-10-02,2019-08-09,2019-05-09",Datasonic,DSON,0.535,19.158879
869,2018,0.1600,27.16,"2018-12-21,2018-11-08,2018-06-19,2018-03-13",Datasonic,DSON,0.535,29.906542
870,2017,0.1450,12.60,"2017-12-20,2017-09-28,2017-06-07,2017-04-10",Datasonic,DSON,0.535,27.102804
871,2016,0.1100,8.19,"2016-12-29,2016-09-09,2016-06-09,2016-03-29",Datasonic,DSON,0.535,20.560748
872,2015,0.0317,1.29,"2015-12-11,2015-06-12",Datasonic,DSON,0.535,5.925234

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
981,2020,0.030,3.41,2020-12-30,Focus Lumber,FOLU,0.88,3.409091
982,2019,0.235,18.35,"2019-07-29,2019-03-29",Focus Lumber,FOLU,0.88,26.704545
983,2018,0.140,10.78,"2018-06-12,2018-03-12",Focus Lumber,FOLU,0.88,15.909091
984,2015,0.150,10.20,2015-12-03,Focus Lumber,FOLU,0.88,17.045455

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1028,2020,0.0225,3.04,2020-09-30,George Kent,GKMS,0.755,2.980132
1029,2019,0.0850,7.89,"2019-04-05,2019-01-04",George Kent,GKMS,0.755,11.258278
1030,2018,0.1850,20.97,"2018-10-10,2018-04-03",George Kent,GKMS,0.755,24.503311
1031,2017,0.1384,3.85,"2017-10-11,2017-06-28",George Kent,GKMS,0.755,18.331126
1032,2016,0.1180,3.73,"2016-12-19,2016-07-08",George Kent,GKMS,0.755,15.629139
1033,2015,0.0880,5.35,"2015-12-31,2015-10-13",George Kent,GKMS,0.755,11.655629

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1086,2020,0.250,14.13,"2020-11-06,2020-05-29,2020-02-21",Hai O Enterprise,HAIO,2.32,10.775862
1087,2019,0.310,14.73,"2019-11-07,2019-02-22",Hai O Enterprise,HAIO,2.32,13.362069
1088,2018,0.515,13.96,"2018-11-07,2018-05-28,2018-02-23",Hai O Enterprise,HAIO,2.32,22.198276
1089,2017,0.250,5.13,"2017-11-08,2017-02-14",Hai O Enterprise,HAIO,2.32,10.775862
1090,2016,0.300,8.95,"2016-11-09,2016-02-17",Hai O Enterprise,HAIO,2.32,12.931034

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1098,2020,0.1750,37.73,"2020-12-21,2020-09-09,2020-06-24,2020-03-27,20...",HeveaBoard,HEVE,0.725,24.137931
1099,2019,0.1540,25.62,"2019-09-20,2019-06-24,2019-03-13",HeveaBoard,HEVE,0.725,21.241379
1100,2018,0.2650,34.10,"2018-12-05,2018-09-12,2018-06-19,2018-03-21",HeveaBoard,HEVE,0.725,36.551724
1101,2017,0.2680,20.98,"2017-12-07,2017-09-20,2017-06-13,2017-03-15",HeveaBoard,HEVE,0.725,36.965517
1102,2016,0.1265,9.59,"2016-12-05,2016-09-06,2016-06-13,2016-03-08",HeveaBoard,HEVE,0.725,17.448276
1103,2015,0.0213,0.70,"2015-11-30,2015-09-11",HeveaBoard,HEVE,0.725,2.937931

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1111,2020,0.1676,22.40,"2020-12-08,2020-09-08,2020-06-03,2020-03-09",Hextar Global,HEXT,0.945,17.73545
1112,2019,0.0358,5.92,2019-11-29,Hextar Global,HEXT,0.945,3.78836

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1113,2020,1.385,16.03,"2020-12-08,2020-06-10",Hong Leong Ind,HLIB,8.91,15.544332
1114,2019,0.895,9.89,"2019-12-10,2019-06-14",Hong Leong Ind,HLIB,8.91,10.044893
1115,2018,0.740,6.94,"2018-11-27,2018-05-08",Hong Leong Ind,HLIB,8.91,8.305275
1116,2017,0.700,6.77,"2017-11-23,2017-05-12",Hong Leong Ind,HLIB,8.91,7.856341
1117,2016,0.660,7.01,"2016-11-22,2016-05-05",Hong Leong Ind,HLIB,8.91,7.407407
1118,2015,0.590,4.48,"2015-12-01,2015-05-07",Hong Leong Ind,HLIB,8.91,6.621773

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1125,2020,0.1800,19.25,"2020-12-17,2020-09-25,2020-03-12",Hup Seng Industries,HSIB,0.945,19.047619
1126,2019,0.1800,19.82,"2019-12-18,2019-10-02,2019-03-18",Hup Seng Industries,HSIB,0.945,19.047619
1127,2018,0.1833,17.92,"2018-12-17,2018-09-18,2018-03-14",Hup Seng Industries,HSIB,0.945,19.396825
1128,2017,0.1300,11.54,"2017-12-14,2017-09-20,2017-03-20",Hup Seng Industries,HSIB,0.945,13.756614
1129,2016,0.0800,6.48,"2016-09-20,2016-03-23",Hup Seng Industries,HSIB,0.945,8.465608
1130,2015,0.0350,2.73,2015-09-15,Hup Seng Industries,HSIB,0.945,3.703704

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1372,2020,0.7250,22.65,"2020-12-03,2020-09-28,2020-09-14,2020-07-09,20...",Lii Hen Industries,LHEN,4.02,18.034826
1373,2019,0.7400,25.35,"2019-12-11,2019-09-11,2019-07-04,2019-06-12,20...",Lii Hen Industries,LHEN,4.02,18.407960
1374,2018,0.5250,18.58,"2018-12-10,2018-09-06,2018-07-03,2018-06-11",Lii Hen Industries,LHEN,4.02,13.059701
1375,2017,0.6400,20.16,"2017-12-12,2017-09-08,2017-07-07,2017-06-13",Lii Hen Industries,LHEN,4.02,15.920398
1376,2016,0.5766,17.88,"2016-12-13,2016-09-06,2016-07-08,2016-06-10",Lii Hen Industries,LHEN,4.02,14.343284
1377,2015,0.1550,3.47,"2015-12-08,2015-09-07",Lii Hen Industries,LHEN,4.02,3.855721

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1408,2020,0.3613,15.86,"2020-12-17,2020-09-24,2020-07-07,2020-03-24",Magni Tech Ind,MATE,2.27,15.916300
1409,2019,0.1863,7.90,"2019-12-24,2019-10-09",Magni Tech Ind,MATE,2.27,8.207048
1410,2018,0.3475,8.59,"2018-12-26,2018-10-10,2018-03-28",Magni Tech Ind,MATE,2.27,15.308370
1411,2017,0.4050,7.03,"2017-12-27,2017-10-11,2017-03-29",Magni Tech Ind,MATE,2.27,17.841410
1412,2016,0.4250,9.52,"2016-12-27,2016-10-11,2016-04-05,2016-01-07",Magni Tech Ind,MATE,2.27,18.722467
1413,2015,0.0533,1.27,2015-11-05,Magni Tech Ind,MATE,2.27,2.348018

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1414,2020,0.4450,25.32,"2020-12-23,2020-09-23,2020-07-23,2020-03-26",Matrix Concepts,MATR,1.79,24.860335
1415,2019,0.4975,25.78,"2019-12-19,2019-09-19,2019-06-20,2019-03-19",Matrix Concepts,MATR,1.79,27.793296
1416,2018,0.5220,26.48,"2018-12-19,2018-09-19,2018-06-20,2018-03-21",Matrix Concepts,MATR,1.79,29.162011
1417,2017,0.5080,20.63,"2017-12-20,2017-09-12,2017-06-02,2017-03-29",Matrix Concepts,MATR,1.79,28.379888
1418,2016,0.5909,23.59,"2016-12-23,2016-09-21,2016-06-15,2016-03-23",Matrix Concepts,MATR,1.79,33.011173
1419,2015,0.3000,6.23,"2015-12-21,2015-09-22",Matrix Concepts,MATR,1.79,16.759777

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1440,2020,0.0300,4.72,2020-03-12,Malayan Flour Mills,MFMS,0.65,4.615385
1441,2019,0.0511,8.64,"2019-08-28,2019-03-13",Malayan Flour Mills,MFMS,0.65,7.861538
1442,2018,0.1176,14.81,"2018-09-04,2018-03-14",Malayan Flour Mills,MFMS,0.65,18.092308
1443,2017,0.1300,5.92,"2017-08-30,2017-03-08",Malayan Flour Mills,MFMS,0.65,20.000000
1444,2016,0.0900,5.73,"2016-08-29,2016-03-09",Malayan Flour Mills,MFMS,0.65,13.846154
1445,2015,0.0550,4.33,2015-08-19,Malayan Flour Mills,MFMS,0.65,8.461538

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1564,2020,0.3003,36.21,"2020-12-30,2020-10-09,2020-08-07,2020-05-14,20...",Pacific Orient,PACO,0.885,33.932203
1565,2019,0.3401,34.81,"2019-12-30,2019-10-11,2019-07-26,2019-05-03,20...",Pacific Orient,PACO,0.885,38.429379
1566,2018,0.3188,29.04,"2018-10-12,2018-08-01,2018-05-04,2018-03-09,20...",Pacific Orient,PACO,0.885,36.022599
1567,2017,0.4390,34.58,"2017-10-12,2017-07-24,2017-04-21,2017-03-08,20...",Pacific Orient,PACO,0.885,49.604520
1568,2016,0.2930,22.38,"2016-07-22,2016-05-03,2016-02-22",Pacific Orient,PACO,0.885,33.107345
1569,2015,0.2700,12.83,"2015-12-29,2015-11-18,2015-09-01",Pacific Orient,PACO,0.885,30.508475

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1612,2020,0.3290,15.21,"2020-12-11,2020-09-14,2020-06-15,2020-03-16",Power Root,POWE,2.0,16.450
1613,2019,0.3042,15.40,"2019-12-13,2019-09-13,2019-06-18,2019-03-15",Power Root,POWE,2.0,15.210
1614,2018,0.3035,20.02,"2018-12-14,2018-09-14,2018-06-18,2018-03-13",Power Root,POWE,2.0,15.175
1615,2017,0.4500,22.78,"2017-12-14,2017-09-18,2017-06-15,2017-03-14",Power Root,POWE,2.0,22.500
1616,2016,0.3950,18.97,"2016-12-15,2016-09-15,2016-06-13,2016-03-14",Power Root,POWE,2.0,19.750
1617,2015,0.1500,3.38,"2015-12-10,2015-09-14",Power Root,POWE,2.0,7.500

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1622,2020,0.0650,7.98,2020-07-08,Paramount Corp,PRMS,0.815,7.975460
1623,2019,0.1236,13.11,"2019-09-06,2019-06-19",Paramount Corp,PRMS,0.815,15.165644
1624,2018,0.1700,8.52,"2018-09-05,2018-06-18",Paramount Corp,PRMS,0.815,20.858896
1625,2017,0.1700,9.09,"2017-09-07,2017-05-29",Paramount Corp,PRMS,0.815,20.858896
1626,2016,0.1650,10.76,"2016-09-07,2016-05-30",Paramount Corp,PRMS,0.815,20.245399
1627,2015,0.0750,4.81,2015-09-08,Paramount Corp,PRMS,0.815,9.202454

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1628,2019,0.0180,6.87,"2019-12-30,2019-06-18",Protasco,PRTO,0.275,6.545455
1629,2018,0.1107,25.88,"2018-06-19,2018-01-09",Protasco,PRTO,0.275,40.254545
1630,2017,0.1460,13.45,"2017-06-19,2017-01-09",Protasco,PRTO,0.275,53.090909
1631,2016,0.0900,5.77,2016-06-15,Protasco,PRTO,0.275,32.727273
1632,2015,0.1700,5.33,"2015-12-29,2015-06-17",Protasco,PRTO,0.275,61.818182

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1695,2020,0.270,13.73,"2020-10-12,2020-03-30",SHL Consolidated,SHLC,1.95,13.846154
1696,2019,0.400,17.61,"2019-09-19,2019-03-21",SHL Consolidated,SHLC,1.95,20.512821
1697,2018,0.405,16.87,"2018-09-13,2018-03-21",SHL Consolidated,SHLC,1.95,20.769231
1698,2016,0.420,14.68,"2016-09-14,2016-06-13",SHL Consolidated,SHLC,1.95,21.538462
1699,2015,0.500,8.39,"2015-12-11,2015-09-11",SHL Consolidated,SHLC,1.95,25.641026

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1751,2020,0.0635,10.72,"2020-10-05,2020-01-30",Tambun Indah Land,TAMB,0.675,9.407407
1752,2019,0.1160,17.84,"2019-08-22,2019-01-24",Tambun Indah Land,TAMB,0.675,17.185185
1753,2018,0.1770,22.22,"2018-07-30,2018-01-22",Tambun Indah Land,TAMB,0.675,26.222222
1754,2017,0.1900,16.24,"2017-07-24,2017-01-24",Tambun Indah Land,TAMB,0.675,28.148148
1755,2016,0.1870,13.32,"2016-08-01,2016-01-26",Tambun Indah Land,TAMB,0.675,27.703704
1756,2015,0.0970,0.00,2015-09-01,Tambun Indah Land,TAMB,0.675,14.370370

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1778,2020,0.0600,6.78,2020-02-27,Teo Seng Capital,TSCP,0.875,6.857143
1779,2019,0.1475,11.86,"2019-12-06,2019-06-17,2019-04-11",Teo Seng Capital,TSCP,0.875,16.857143
1780,2016,0.0500,4.88,"2016-11-18,2016-07-05",Teo Seng Capital,TSCP,0.875,5.714286
1781,2015,0.0250,1.89,2015-11-27,Teo Seng Capital,TSCP,0.875,2.857143
1782,2014,0.0333,0.00,2014-09-15,Teo Seng Capital,TSCP,0.875,3.805714

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1974,2020,0.0894,2.37,2020-09-03,Perusahaan Sadur Timah,PSTM,3.8,2.352632
1975,2019,0.6000,14.11,"2019-09-04,2019-06-14",Perusahaan Sadur Timah,PSTM,3.8,15.789474
1976,2018,0.6000,12.83,"2018-09-05,2018-05-07",Perusahaan Sadur Timah,PSTM,3.8,15.789474
1977,2017,0.4000,11.11,2017-08-04,Perusahaan Sadur Timah,PSTM,3.8,10.526316
1978,2016,0.7800,11.41,"2016-11-16,2016-08-03",Perusahaan Sadur Timah,PSTM,3.8,20.526316
1979,2015,0.7300,6.48,"2015-11-13,2015-08-04",Perusahaan Sadur Timah,PSTM,3.8,19.210526

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2033,2020,0.2200,22.73,"2020-12-07,2020-09-09,2020-06-11,2020-03-19",SLP Resources Bhd,SLPB,0.93,23.655914
2034,2019,0.2025,16.68,"2019-12-11,2019-09-05,2019-06-11,2019-03-11",SLP Resources Bhd,SLPB,0.93,21.774194
2035,2018,0.1350,12.29,"2018-12-05,2018-09-05,2018-03-09",SLP Resources Bhd,SLPB,0.93,14.516129
2036,2017,0.1213,6.59,"2017-12-06,2017-09-06,2017-03-09",SLP Resources Bhd,SLPB,0.93,13.043011
2037,2016,0.0900,3.51,"2016-12-06,2016-09-06,2016-03-08",SLP Resources Bhd,SLPB,0.93,9.677419
2038,2015,0.0250,1.16,2015-09-22,SLP Resources Bhd,SLPB,0.93,2.688172

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2062,2020,0.2446,16.06,"2020-10-23,2020-08-17,2020-02-27",Sunway Real Estate Invest Trust,SUNW,1.52,16.092105
2063,2019,0.3791,20.23,"2019-11-19,2019-08-23,2019-05-16,2019-02-27",Sunway Real Estate Invest Trust,SUNW,1.52,24.940789
2064,2018,0.3833,22.43,"2018-11-15,2018-08-23,2018-05-16,2018-02-20",Sunway Real Estate Invest Trust,SUNW,1.52,25.217105
2065,2017,0.3686,21.50,"2017-11-13,2017-08-24,2017-05-18,2017-02-27",Sunway Real Estate Invest Trust,SUNW,1.52,24.250000
2066,2016,0.2716,16.18,"2016-08-25,2016-05-12,2016-02-11",Sunway Real Estate Invest Trust,SUNW,1.52,17.868421
2067,2015,0.1730,5.87,"2015-11-12,2015-08-24",Sunway Real Estate Invest Trust,SUNW,1.52,11.381579

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2084,2020,0.10,4.26,2020-06-26,Tong Herr Resources Bhd,THRB,2.37,4.219409
2085,2019,0.20,11.05,2019-05-31,Tong Herr Resources Bhd,THRB,2.37,8.438819
2086,2018,0.62,16.02,"2018-12-10,2018-05-31",Tong Herr Resources Bhd,THRB,2.37,26.160338
2087,2017,0.68,19.97,"2017-12-08,2017-06-01",Tong Herr Resources Bhd,THRB,2.37,28.691983
2088,2016,0.25,10.78,"2016-12-08,2016-06-10",Tong Herr Resources Bhd,THRB,2.37,10.548523
2089,2015,0.12,6.09,2015-06-12,Tong Herr Resources Bhd,THRB,2.37,5.063291

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2128,2020,0.2105,21.40,"2020-12-07,2020-09-09,2020-06-12,2020-03-10",Wellcall Holdings Bhd,WCAL,1.07,19.672897
2129,2019,0.2205,19.07,"2019-12-13,2019-09-10,2019-06-12,2019-03-13",Wellcall Holdings Bhd,WCAL,1.07,20.607477
2130,2018,0.2308,18.06,"2018-12-06,2018-09-07,2018-06-08,2018-03-09",Wellcall Holdings Bhd,WCAL,1.07,21.570093
2131,2017,0.3072,16.71,"2017-12-12,2017-09-15,2017-06-08,2017-03-16",Wellcall Holdings Bhd,WCAL,1.07,28.710280
2132,2016,0.3680,17.77,"2016-12-08,2016-09-09,2016-06-08,2016-03-09",Wellcall Holdings Bhd,WCAL,1.07,34.392523
2133,2015,0.1840,3.55,"2015-12-07,2015-09-11",Wellcall Holdings Bhd,WCAL,1.07,17.196262

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2174,2020,0.0448,7.33,"2020-03-24,2020-02-14",Al-Salam Real Estate,ALSA,0.615,7.284553
2175,2019,0.2150,24.52,"2019-12-11,2019-09-23,2019-06-17,2019-02-14",Al-Salam Real Estate,ALSA,0.615,34.959350
2176,2018,0.1215,14.30,"2018-09-18,2018-06-13,2018-02-12",Al-Salam Real Estate,ALSA,0.615,19.756098
2177,2017,0.1225,12.42,"2017-09-13,2017-02-14",Al-Salam Real Estate,ALSA,0.615,19.918699
2178,2016,0.0320,3.05,2016-09-13,Al-Salam Real Estate,ALSA,0.615,5.203252

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2218,2020,0.460,9.19,"2020-12-04,2020-09-07,2020-06-04",Pharmaniaga Bhd,PHMA,4.95,9.292929
2219,2019,0.485,21.57,"2019-09-11,2019-06-03,2019-03-08",Pharmaniaga Bhd,PHMA,4.95,9.797980
2220,2018,0.790,25.67,"2018-12-03,2018-09-03,2018-05-30,2018-03-13",Pharmaniaga Bhd,PHMA,4.95,15.959596
2221,2017,0.630,15.05,"2017-11-29,2017-08-29,2017-05-29,2017-03-07",Pharmaniaga Bhd,PHMA,4.95,12.727273
2222,2016,1.020,18.45,"2016-12-05,2016-09-02,2016-06-01,2016-03-01",Pharmaniaga Bhd,PHMA,4.95,20.606061
2223,2015,0.690,5.67,"2015-12-09,2015-09-01",Pharmaniaga Bhd,PHMA,4.95,13.939394

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2250,2020,0.2000,21.48,"2020-12-11,2020-09-11,2020-06-15,2020-03-05",Scicom MSC Bhd,SCCM,0.9,22.222222
2251,2019,0.2650,27.25,"2019-12-09,2019-09-12,2019-06-07,2019-03-08",Scicom MSC Bhd,SCCM,0.9,29.444444
2252,2018,0.3600,20.84,"2018-12-05,2018-09-07,2018-06-04,2018-02-20",Scicom MSC Bhd,SCCM,0.9,40.000000
2253,2017,0.3600,18.56,"2017-11-23,2017-09-08,2017-06-01,2017-03-10",Scicom MSC Bhd,SCCM,0.9,40.000000
2254,2016,0.3400,15.69,"2016-11-17,2016-09-08,2016-06-03,2016-03-08",Scicom MSC Bhd,SCCM,0.9,37.777778
2255,2015,0.1525,3.43,"2015-12-10,2015-09-03",Scicom MSC Bhd,SCCM,0.9,16.944444

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2275,2020,0.02,5.56,2020-03-30,Star Media Group Bhd,STAR,0.36,5.555556
2276,2019,0.03,8.00,2019-03-27,Star Media Group Bhd,STAR,0.36,8.333333
2277,2018,0.12,15.38,2018-03-28,Star Media Group Bhd,STAR,0.36,33.333333
2278,2017,0.33,19.14,"2017-09-27,2017-03-29",Star Media Group Bhd,STAR,0.36,91.666667
2279,2016,0.36,14.45,"2016-09-28,2016-03-29",Star Media Group Bhd,STAR,0.36,100.000000
2280,2015,0.15,6.28,2015-09-22,Star Media Group Bhd,STAR,0.36,41.666667

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2287,2020,0.1078,12.84,"2020-12-10,2020-05-06,2020-03-12",Ranhill Holdings,RANH,0.875,12.320000
2288,2019,0.1400,12.70,"2019-12-30,2019-07-24,2019-04-24",Ranhill Holdings,RANH,0.875,16.000000
2289,2018,0.2250,21.40,"2018-11-27,2018-08-23,2018-05-16,2018-01-29",Ranhill Holdings,RANH,0.875,25.714286
2290,2017,0.2440,33.11,"2017-11-24,2017-05-31,2017-03-13,2017-01-03",Ranhill Holdings,RANH,0.875,27.885714
2291,2016,0.0180,1.91,2016-09-09,Ranhill Holdings,RANH,0.875,2.057143

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2319,2020,0.285,34.53,"2020-12-01,2020-09-07,2020-05-29,2020-03-11,20...",Taliworks Corporation Bhd,TWRK,0.83,34.337349
2320,2019,0.144,15.91,"2019-10-30,2019-07-29,2019-04-25",Taliworks Corporation Bhd,TWRK,0.83,17.349398
2321,2018,0.288,26.56,"2018-12-27,2018-09-26,2018-06-13,2018-03-15",Taliworks Corporation Bhd,TWRK,0.83,34.698795
2322,2017,0.320,26.79,"2017-12-14,2017-08-29,2017-06-15,2017-03-01",Taliworks Corporation Bhd,TWRK,0.83,38.554217
2323,2016,0.240,16.67,"2016-08-23,2016-06-13,2016-03-10",Taliworks Corporation Bhd,TWRK,0.83,28.915663
2324,2015,0.115,4.85,"2015-12-09,2015-07-21",Taliworks Corporation Bhd,TWRK,0.83,13.855422

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2368,2020,0.024,5.78,2020-03-09,Salutica Bhd,SALU,0.42,5.714286
2369,2019,0.096,17.56,"2019-12-06,2019-09-06,2019-06-13,2019-03-13",Salutica Bhd,SALU,0.42,22.857143
2370,2018,0.096,18.24,"2018-12-06,2018-09-13,2018-06-07,2018-02-26",Salutica Bhd,SALU,0.42,22.857143
2371,2017,0.072,5.66,"2017-12-06,2017-09-13,2017-06-13",Salutica Bhd,SALU,0.42,17.142857

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2423,2020,0.0675,10.13,"2020-09-17,2020-06-12,2020-03-24",Elsoft Research,ELSR,0.695,9.712230
2424,2019,0.1758,20.61,"2019-12-09,2019-09-17,2019-06-18,2019-03-20",Elsoft Research,ELSR,0.695,25.294964
2425,2018,0.2133,8.80,"2018-12-06,2018-09-12,2018-06-20,2018-03-20",Elsoft Research,ELSR,0.695,30.690647
2426,2017,0.1400,5.32,"2017-12-13,2017-09-13,2017-03-20",Elsoft Research,ELSR,0.695,20.143885
2427,2015,0.0483,2.93,2015-12-08,Elsoft Research,ELSR,0.695,6.949640

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2495,2019,0.0680,15.99,"2019-12-13,2019-07-10",SCC,SCCH,0.38,17.894737
2496,2018,0.0670,13.21,"2018-12-27,2018-07-17",SCC,SCCH,0.38,17.631579
2497,2017,0.0615,12.01,"2017-12-27,2017-06-09",SCC,SCCH,0.38,16.184211

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2525,2020,0.0362,4.00,"2020-08-13,2020-03-04",YTL Hospitality REIT,YTLR,0.91,3.978022
2526,2019,0.3056,22.95,"2019-12-09,2019-08-14,2019-06-17,2019-03-11",YTL Hospitality REIT,YTLR,0.91,33.582418
2527,2018,0.2912,24.42,"2018-12-05,2018-08-10,2018-06-06,2018-03-08",YTL Hospitality REIT,YTLR,0.91,32.000000
2528,2017,0.2702,22.84,"2017-12-06,2017-08-09,2017-06-07,2017-03-08",YTL Hospitality REIT,YTLR,0.91,29.692308
2529,2016,0.0864,7.20,2016-12-09,YTL Hospitality REIT,YTLR,0.91,9.494505

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2541,2020,0.2444,30.57,"2020-11-04,2020-08-12,2020-05-08,2020-01-30",KIP REIT,KIPR,0.81,30.172840
2542,2019,0.2484,28.88,"2019-10-31,2019-08-09,2019-05-03,2019-01-29",KIP REIT,KIPR,0.81,30.666667
2543,2018,0.1799,22.71,"2018-08-08,2018-05-07,2018-02-12",KIP REIT,KIPR,0.81,22.209877
2544,2017,0.0392,4.64,2017-11-09,KIP REIT,KIPR,0.81,4.839506

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2545,2020,0.2015,11.71,"2020-12-14,2020-09-14,2020-06-12,2020-03-13",Serba Dinamik,SERB,1.71,11.783626
2546,2019,0.2994,7.83,"2019-12-13,2019-09-13,2019-06-14,2019-03-12",Serba Dinamik,SERB,1.71,17.508772
2547,2018,0.2775,7.42,"2018-12-11,2018-09-14,2018-06-11,2018-03-13",Serba Dinamik,SERB,1.71,16.228070

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2560,2020,0.1360,17.44,"2020-09-01,2020-01-31",MRCB-Quill Unit,MQRE,0.865,15.722543
2561,2019,0.1512,14.60,"2019-08-22,2019-02-04",MRCB-Quill Unit,MQRE,0.865,17.479769
2562,2018,0.1262,11.51,"2018-08-21,2018-02-05",MRCB-Quill Unit,MQRE,0.865,14.589595
2563,2017,0.1269,10.49,2017-08-24,MRCB-Quill Unit,MQRE,0.865,14.670520
2564,2016,0.1269,9.76,2016-12-14,MRCB-Quill Unit,MQRE,0.865,14.670520

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2569,2020,0.0777,12.14,2020-03-11,Hektar REIT,HEKR,0.62,12.532258
2570,2019,0.3407,33.41,"2019-12-11,2019-09-12,2019-06-10,2019-03-13",Hektar REIT,HEKR,0.62,54.951613
2571,2018,0.3705,31.08,"2018-12-12,2018-08-30,2018-06-04,2018-02-26",Hektar REIT,HEKR,0.62,59.758065
2572,2017,0.1143,9.53,2017-08-23,Hektar REIT,HEKR,0.62,18.435484

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2582,2020,0.2640,21.65,"2020-12-23,2020-08-05,2020-02-05",UOA REIT,UOAR,1.22,21.639344
2583,2019,0.1846,14.94,"2019-08-06,2019-02-04",UOA REIT,UOAR,1.22,15.131148
2584,2018,0.0829,5.96,2018-08-09,UOA REIT,UOAR,1.22,6.795082

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2599,2020,0.2919,27.44,"2020-11-12,2020-08-21,2020-06-12,2020-02-20",Atrium,ATRL,1.16,25.163793
2600,2019,0.2930,26.69,"2019-11-13,2019-07-17,2019-03-21,2019-02-12",Atrium,ATRL,1.16,25.258621
2601,2018,0.1525,13.80,"2018-08-10,2018-05-14",Atrium,ATRL,1.16,13.146552

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2602,2020,0.0615,14.73,"2020-12-08,2020-06-04",AmFIRST,AMFL,0.415,14.819277
2603,2019,0.0786,17.02,"2019-12-03,2019-05-09",AmFIRST,AMFL,0.415,18.939759
2604,2018,0.0815,14.57,"2018-12-03,2018-05-07",AmFIRST,AMFL,0.415,19.638554

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2605,2020,0.1310,20.07,"2020-09-07,2020-03-06",AmanahRaya Real Estate,AMRY,0.66,19.848485
2606,2019,0.2400,30.14,"2019-12-11,2019-09-18,2019-06-14,2019-03-13",AmanahRaya Real Estate,AMRY,0.66,36.363636
2607,2018,0.1745,20.79,"2018-12-13,2018-09-14,2018-06-19",AmanahRaya Real Estate,AMRY,0.66,26.439394

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2608,2020,0.0761,11.05,"2020-08-10,2020-02-05",Tower Real Estate,TWRE,0.58,13.120690
2609,2019,0.0593,7.32,2019-08-09,Tower Real Estate,TWRE,0.58,10.224138
2610,2018,0.1500,16.05,"2018-11-09,2018-08-13,2018-02-19",Tower Real Estate,TWRE,0.58,25.862069

In [66]:
investpy.get_stock_recent_data("PGAS", COUNTRY)

             Open   High    Low  Close   Volume Currency
Date
2020-11-30  16.98  18.16  16.62  18.16  3359800      MYR
2020-12-01  17.56  17.80  17.10  17.80   718800      MYR
2020-12-02  17.50  17.80  17.48  17.80   957300      MYR
2020-12-03  17.86  17.96  17.48  17.60   947100      MYR
2020-12-04  17.58  17.58  17.02  17.40   222500      MYR
2020-12-07  17.30  17.68  17.12  17.20  1061000      MYR
2020-12-08  17.20  17.62  17.18  17.62   540200      MYR
2020-12-09  17.62  17.62  17.14  17.34   684300      MYR
2020-12-10  17.40  17.40  17.20  17.26   244800      MYR
2020-12-11  17.50  17.50  16.98  17.20   682100      MYR
2020-12-14  17.00  17.50  17.00  17.36   457700      MYR
2020-12-15  17.40  17.50  17.18  17.48   501000      MYR
2020-12-16  17.54  17.80  17.32  17.38   566500      MYR
2020-12-17  17.52  17.72  17.32  17.40   623100      MYR
2020-12-18  17.76  17.76  17.28  17.30  1310000      MYR
2020-12-21  17.30  17.60  17.20  17.56   199500      MYR
2020-12-22  17.42  17.54  17.08  17.48   118200      MYR
2020-12-23  17.50  17.58  17.24  17.30   167900      MYR
2020-12-24  17.38  17.38  17.26  17.32   113900      MYR
2020-12-28  17.28  17.52  17.24  17.24   138300      MYR
2020-12-29  17.24  17.46  17.24  17.34   202500      MYR

## Testing

In [64]:
investpy.get_index_recent_data(index="KL Construction", country=COUNTRY)

              Open    High     Low   Close      Volume Currency
Date
2020-11-30  174.52  175.01  172.24  172.24   229508496      MYR
2020-12-01  172.04  176.63  172.03  176.63   313066688      MYR
2020-12-02  176.89  177.30  175.39  177.30   283734784      MYR
2020-12-03  177.76  180.87  177.64  180.87  1041849408      MYR
2020-12-04  181.33  181.55  179.46  181.47   438255808      MYR
2020-12-07  182.45  182.48  181.34  181.88  1009920000      MYR
2020-12-08  183.02  183.32  179.58  179.68   441040096      MYR
2020-12-09  180.92  181.62  180.04  180.51   370906912      MYR
2020-12-10  181.05  181.81  180.49  181.24   232006000      MYR
2020-12-11  181.40  182.42  181.02  181.98   230406208      MYR
2020-12-14  182.53  183.98  181.63  182.51   274895296      MYR
2020-12-15  181.70  182.22  179.69  181.55   213306496      MYR
2020-12-16  182.69  188.49  182.69  188.49   646886784      MYR
2020-12-17  188.79  188.96  186.10  188.81   441789504      MYR
2020-12-18  188.98  188.98  184.42  185.83   400561504      MYR
2020-12-21  186.01  186.68  184.01  185.40   536510784      MYR
2020-12-22  184.62  184.62  180.15  181.45   265822592      MYR
2020-12-23  181.53  184.10  181.01  183.53   187142496      MYR
2020-12-24  183.94  184.11  182.65  183.54   175620496      MYR
2020-12-28  184.38  186.35  183.47  185.98   238565696      MYR

In [25]:
display(investpy.get_stock_information("BATO", country=COUNTRY))

,Stock Symbol,Prev. Close,Todays Range,Revenue,Open,52 wk Range,EPS,Volume,Market Cap,Dividend (Yield),Average Vol. (3m),P/E Ratio,Beta,1-Year Change,Shares Outstanding,Next Earnings Date
0,BATO,14.16,13.92 - 14.26,2.320000e+09,14.18,9.26 - 15.64,0.93,366400.0,4.000000e+09,0.89 (6.29%),968803.0,15.15,0.49,- 7.45%,285530000.0,17/02/2021

In [26]:
investpy.get_indices(COUNTRY)

,country,name,full_name,symbol,currency,class,market
0,malaysia,MSCI Malaysia Net USD,MSCI Malaysia Net USD,MIMY00000NUS,USD,major_indices,global_indices
1,malaysia,MSCI Malaysia,MSCI Malaysia,MIMY00000PMY,MYR,major_indices,global_indices
2,malaysia,DJ Malaysia USD,Dow Jones Malaysia USD,MYDOWD,USD,major_indices,global_indices
3,malaysia,KL Construction,KL Construction,KLCT,MYR,primary_sectors,world_indices
4,malaysia,DJ Islamic Malaysia Titans 25,Dow Jones Islamic Market Malaysia Titans 25,DJMY25,MYR,other_indices,global_indices
5,malaysia,DJ Islam Malaysia Titans 25 USD,Dow Jones Islamic Market Malaysia Titans 25 USD,DJMY25D,USD,other_indices,global_indices
6,malaysia,FTSE4Good Bursa Malaysia,FTSE4Good Bursa Malaysia,FTF4GBM,MYR,other_indices,global_indices
7,malaysia,FTSE Bursa Malaysia KLCI,FTSE Bursa Malaysia KLCI,FTFBMKLCI,MYR,other_indices,global_indices
8,malaysia,KL Energy,KL Energy,KLEN,MYR,primary_sectors,world_indices
9,malaysia,MSCI Malaysia Gross,MSCI International Malaysia Gross Real time,MIMY00000GUS,USD,other_indices,global_indices
10,malaysia,TR Malaysia Commercial REITs Price,TR Malaysia Commercial REITs Price,TRXFLDMYPREIC,MYR,other_indices,global_indices
11,malaysia,KLCI,FTSE Malaysia KLCI,KLSE,MYR,major_indices,world_indices
12,malaysia,FTSE BM Asian Palm Oil USD,FTSE Bursa Malaysia Asian Palm Oil Plantation USD,FTFBMAPU,MYR,primary_sectors,world_indices
13,malaysia,FTSE BM Palm Oil Plantation,FTSE Bursa Malaysia Palm Oil Plantation,FTFBMPM,MYR,primary_sectors,world_indices
14,malaysia,DJ Malaysia,Dow Jones Malaysia,MYDOW,MYR,major_indices,global_indices
15,malaysia,KL Consumer Product,KL Consumer Product,KLCM,MYR,primary_sectors,world_indices
16,malaysia,KL Finance,KL Finance,KLFI,MYR,primary_sectors,world_indices
17,malaysia,KL Property,KL Property,KLPR,MYR,primary_sectors,world_indices
18,malaysia,KL REIT,KL REIT,KLRE,MYR,primary_sectors,world_indices
19,malaysia,KL Technology,KL Technology,KLTE,MYR,primary_sectors,world_indices
20,malaysia,KL Telecomunications & Media,KL Telecomunications & Media,KLTC,MYR,primary_sectors,world_indices
21,malaysia,KL Transporation & Logistics,KL Transporation & Logistics,KLTP,MYR,primary_sectors,world_indices
22,malaysia,KL Utilities,KL Utilities,KLUT,MYR,primary_sectors,world_indices
23,malaysia,Malaysia ACE,FTSE Bursa Malaysia ACE,FTFBMMES,MYR,additional_indices,world_indices
24,malaysia,FTSE BM Mid 70,FTSE Bursa Malaysia Mid 70,FTFBM70,MYR,additional_indices,world_indices
25,malaysia,Malaysia Top 100,FTSE Bursa Malaysia Top 100,FTFBM100,MYR,additional_indices,world_indices
26,malaysia,FTSE Malaysia,FTSE Malaysia,FTWIMALL,MYR,additional_indices,world_indices
27,malaysia,FTSE BM Asian Palm Oil MYR,FTSE Bursa Malaysia Asian Palm Oil Plantation MYR,FTFBMAPM,MYR,other_indices,world_indices
28,malaysia,KL Industrial Product,KL Industrial Product,KLIP,MYR,primary_sectors,world_indices
29,malaysia,FTSE BM EMAS,FTSE Bursa Malaysia EMAS,FTFBMEMAS,MYR,other_indices,world_indices
30,malaysia,FTSE BM EMAS Shariah,FTSE Bursa Malaysia EMAS Shariah,FTFBMS,MYR,other_indices,world_indices
31,malaysia,FTSE BM Fledgling,FTSE Bursa Malaysia Fledgling,FTFBMFLG,MYR,other_indices,world_indices
32,malaysia,FTSE BM Hijrah Shariah,FTSE Bursa Malaysia Hijrah Shariah,FTFBMHS,MYR,other_indices,world_indices
33,malaysia,FTSE BM SmallCap,FTSE Bursa Malaysia Small Cap,FTFBMSCAP,MYR,other_indices,world_indices
34,malaysia,Malaysia 50,Investing.com Malaysia 50,invml50,MYR,other_indices,world_indices
35,malaysia,KL Healthcare,KL Healthcare,KLHC,MYR,primary_sectors,world_indices
36,malaysia,KL Morgan Stanley CI,KL Morgan Stanley CI,MSCIMY,MYR,primary_sectors,world_indices
37,malaysia,KL Plantation,KL Plantation,KLPL,MYR,primary_sectors,world_indices