In [22]:
# default_exp data.finance

In [23]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [24]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [25]:
from libs import is_lib_exists

In [26]:
required_libs = [ ("numpy", "numpy"),
                  ("pandas", "pandas"),
                  ("seaborn", "seaborn"),
                  ("matplotlib", "matplotlib"),
                  ("investpy", "investpy"),
                  ("dateutil", "python-dateutil"),
                ]

In [27]:
for (clz,lib) in required_libs:
    if not is_lib_exists(clz):
        print(f"Installing {lib}")
        !pip install {lib}
    else:
        print(f"{lib} exists")

numpy exists
pandas exists
seaborn exists
matplotlib exists
investpy exists
python-dateutil exists

In [28]:
#export
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import investpy
from pathlib import Path
from dateutil.relativedelta import *
from datetime import *
import calendar
import traceback

In [29]:
%matplotlib inline

In [30]:
# % - line, %% - cell
# %run, %%timeit, %%writefile, %pycat
# %who, %store
# %html 
# %env, %pinfo
# %lsmagic
# %history
# %prun
# %%heat
# https://github.com/lmmx/devnotes/wiki/IPython-'magic'-function-documentation#edit
# %quickref

In [31]:
from IPython.display import display, Image

# Finance Data

> Functionality to gather finance data.

The classes here provide bases classes used to gather finance data for model training.

In [32]:
#hide
from nbdev.showdoc import *

In [33]:
# Dataset path
DATASET_PATH = Path("../../data")  

# Country to analyze
COUNTRY = "malaysia"

# Dataset
DATASET = DATASET_PATH/f"ftse_klse_investing.csv"

# Stocks summary
DATASET_STOCKS_SUMMARY = DATASET_PATH/f"stocks_summary.csv"

## FTSE KLSE

In [34]:
# Retrieve stock components
dataset = investpy.get_stocks(country=COUNTRY)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 929 entries, 0 to 928
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    929 non-null    object
 1   name       929 non-null    object
 2   full_name  929 non-null    object
 3   isin       929 non-null    object
 4   currency   929 non-null    object
 5   symbol     929 non-null    object
dtypes: object(6)
memory usage: 43.7+ KB

In [35]:
# Save the dataset
dataset.to_csv(DATASET, index=False)

#dataset = pd.read_csv(DATASET, header=0, sep=',', quotechar='"')

In [36]:
display(dataset.head(3))

,country,name,full_name,isin,currency,symbol
0,malaysia,Media Chinese Int,Media Chinese International Ltd,BMG5959D1048,MYR,MDCH
1,malaysia,AMMB,AMMB Holdings Bhd,MYL1015OO006,MYR,AMMB
2,malaysia,CIMB Group,CIMB Group Holdings Bhd,MYL1023OO000,MYR,CIMB

In [48]:
def calculate_yield(idx, name, symbol):
    """Calculate stock yield based on latest close price"""
    try:
        df_dividends = investpy.get_stock_dividends(stock=symbol, country=COUNTRY)
        #display(df_dividends)
        df_dividends['Year'] = pd.DatetimeIndex(df_dividends['Date']).year
        # Convert yield percentage to number
        df_dividends['Historical Yield'] =  df_dividends['Yield'].apply(\
                                                     lambda y : \
                                                     float(y.translate(str.maketrans({',': '.', '%': '', '-':'0'}))))
        
        # Aggregate the dividends by years
        df_dividends_summary = df_dividends.groupby(by=['Year'], sort=False, as_index=False).\
                                agg({'Dividend':'sum', 'Historical Yield':'sum', \
                                     'Date': lambda d: ','.join(d.dt.strftime('%Y-%m-%d'))})
        # print(df_dividends.groupby(by=['Year'], sort=False, as_index=False))
        # display(df_dividends_summary[df_dividends_summary['Year'].isin(PAST_3_YEARS)])
        #display(df_dividends_summary)
        
        df_recent_data = investpy.get_stock_recent_data(stock=symbol, country=COUNTRY).reset_index()
        last_close_price = df_recent_data[df_recent_data['Date'].eq(df_recent_data['Date'].max())]['Close'].values[0]
        # display(f"Recent price {last_close_price}")
        # display(df_recent_data)
     
        df_dividends_summary['Name'] = name
        df_dividends_summary['Symbol'] = symbol
        df_dividends_summary['Last Close Price'] = last_close_price
        df_dividends_summary['Calculated Yield'] = df_dividends_summary['Dividend'] / last_close_price * 100
       
        # display(df_dividends_summary)
        
        
        print(f'{idx}. {symbol} - {name}')
        return df_dividends_summary
            
    except Exception as exception:
        print(f"{idx}. Skipping {name} - {symbol}")
        #traceback.print_exc()
        return pd.DataFrame()

In [49]:
def summarize_stocks(df_summary, df):
    """Summarize the stock dividends details"""
    if df is None or df.empty:
        return df_summary
    if df_summary.empty:
        return df
    return df_summary.append(df)

In [52]:
import time

def generate_dataset():
    #!rm -rf {DATASET_STOCK_SUMMARY}
    df_all_dividends = pd.DataFrame()

    #df = calculate_yield(0, "BIMB", "BIMB")
    #df_all_dividends = summarize_stocks(df_all_dividends, df)
    #display(df_all_dividends)

    START_INDEX = 0
    for idx, row in dataset.iloc[START_INDEX:].iterrows():
        name = row['name']
        symbol = row['symbol']
        df = calculate_yield(idx, name, symbol)
        df_all_dividends = summarize_stocks(df_all_dividends, df)
        if (idx % 10 == 0 or idx == (len(dataset) - 1)):
            df_all_dividends.to_csv(DATASET_STOCKS_SUMMARY, mode='a', index=False)
            df_all_dividends = pd.DataFrame()
        time.sleep(3)
    # display(df_all_dividends)

# Generate the dataset again?

In [71]:
dataset = pd.read_csv(DATASET_STOCKS_SUMMARY, header=0, sep=',', quotechar='"')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2551 entries, 0 to 2550
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              2551 non-null   int64
 1   Dividend          2551 non-null   float64
 2   Historical Yield  2551 non-null   float64
 3   Date              2551 non-null   object
 4   Name              2551 non-null   object
 5   Symbol            2551 non-null   object
 6   Last Close Price  2551 non-null   float64
 7   Calculated Yield  2551 non-null   float64
dtypes: float64(4), int64(1), object(3)
memory usage: 159.6+ KB

In [102]:
# Today's date
TODAY = date.today()

# Past 3 years
PAST_3_YEARS = [ TODAY.year - y for y in range(1,4) ]

# Expected YIELD %
EXPECTED_YIELD_PERCENTAGE = 12

In [103]:
df_dividend_stocks = dataset[
                 (dataset['Year'].isin(PAST_3_YEARS)) & 
                 (dataset['Calculated Yield'] >= EXPECTED_YIELD_PERCENTAGE)]
df_dividend_stocks = df_dividend_stocks.sort_values(by=['Name', 'Year'])

In [112]:
for symbol in df_dividend_stocks['Symbol'].unique():
    display(dataset[dataset['Symbol']==symbol])

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
6,2020,0.133,4.29,2020-07-16,AMMB,AMMB,3.17,4.195584
7,2019,0.410,11.59,"2019-12-13,2019-06-25",AMMB,AMMB,3.17,12.933754
8,2018,0.300,6.93,"2018-12-13,2018-08-09",AMMB,AMMB,3.17,9.463722
9,2017,0.352,8.96,"2017-12-13,2017-08-04",AMMB,AMMB,3.17,11.104101
10,2016,0.310,6.91,"2016-12-06,2016-08-24",AMMB,AMMB,3.17,9.779180
11,2015,0.476,4.70,"2015-12-02,2015-08-26",AMMB,AMMB,3.17,15.015773

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
555,2018,0.030,5.26,2018-03-14,APB Resources,APBS,0.34,8.823529
556,2017,0.065,6.84,2017-03-01,APB Resources,APBS,0.34,19.117647
557,2016,0.130,12.41,"2016-06-13,2016-04-12",APB Resources,APBS,0.34,38.235294
558,2015,0.065,5.80,2015-06-24,APB Resources,APBS,0.34,19.117647

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
571,2020,0.100,5.85,2020-08-12,APM Automotive,APMA,1.71,5.847953
572,2019,0.240,12.14,"2019-09-18,2019-06-11",APM Automotive,APMA,1.71,14.035088
573,2018,0.265,8.15,"2018-09-18,2018-06-06",APM Automotive,APMA,1.71,15.497076
574,2017,0.295,8.49,"2017-09-06,2017-06-06",APM Automotive,APMA,1.71,17.251462
575,2016,0.365,9.99,"2016-09-06,2016-06-02",APM Automotive,APMA,1.71,21.345029
576,2015,0.195,5.00,2015-09-07,APM Automotive,APMA,1.71,11.403509

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
604,2019,0.0200,11.76,2019-09-26,AYS Ventures,AYSV,0.175,11.428571
605,2018,0.0500,14.74,"2018-08-01,2018-03-14",AYS Ventures,AYSV,0.175,28.571429
606,2017,0.0250,5.95,2017-08-02,AYS Ventures,AYSV,0.175,14.285714
607,2016,0.0283,6.11,"2016-12-06,2016-03-07",AYS Ventures,AYSV,0.175,16.171429

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
282,2019,0.24,28.24,2019-03-11,Airasia,AIRA,0.9,26.666667
283,2018,0.24,7.74,2018-06-12,Airasia,AIRA,0.9,26.666667
284,2017,0.30,9.13,"2017-09-13,2017-05-23",Airasia,AIRA,0.9,33.333333
285,2016,0.04,1.30,2016-05-26,Airasia,AIRA,0.9,4.444444
286,2015,0.03,1.64,2015-06-01,Airasia,AIRA,0.9,3.333333

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2120,2020,0.0448,6.53,"2020-03-24,2020-02-14",Al-Salam Real Estate,ALSA,0.69,6.492754
2121,2019,0.2150,24.52,"2019-12-11,2019-09-23,2019-06-17,2019-02-14",Al-Salam Real Estate,ALSA,0.69,31.159420
2122,2018,0.1215,14.30,"2018-09-18,2018-06-13,2018-02-12",Al-Salam Real Estate,ALSA,0.69,17.608696
2123,2017,0.1225,12.42,"2017-09-13,2017-02-14",Al-Salam Real Estate,ALSA,0.69,17.753623
2124,2016,0.0320,3.05,2016-09-13,Al-Salam Real Estate,ALSA,0.69,4.637681

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
99,2019,0.309,12.85,"2019-12-12,2019-06-17",Alliance Bank Malaysia,ALLI,2.21,13.981900
100,2018,0.306,7.94,"2018-12-14,2018-06-18",Alliance Bank Malaysia,ALLI,2.21,13.846154
101,2017,0.320,8.31,"2017-12-15,2017-06-14",Alliance Bank Malaysia,ALLI,2.21,14.479638
102,2016,0.295,7.34,"2016-12-14,2016-06-13",Alliance Bank Malaysia,ALLI,2.21,13.348416
103,2015,0.298,3.63,"2015-12-11,2015-06-11",Alliance Bank Malaysia,ALLI,2.21,13.484163

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
537,2017,0.205,41.84,2017-07-03,Aluminium Malaysia,ALCO,0.4,51.25
538,2015,0.050,3.70,2015-08-03,Aluminium Malaysia,ALCO,0.4,12.50

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2525,2020,0.0335,7.98,2020-06-04,AmFIRST,AMFL,0.42,7.976190
2526,2019,0.0786,17.02,"2019-12-03,2019-05-09",AmFIRST,AMFL,0.42,18.714286
2527,2018,0.0815,14.57,"2018-12-03,2018-05-07",AmFIRST,AMFL,0.42,19.404762

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2510,2020,0.0575,8.33,2020-02-19,Amanah Harta Tanah,AHBM,0.705,8.156028
2511,2019,0.1146,14.47,"2019-08-21,2019-02-19",Amanah Harta Tanah,AHBM,0.705,16.255319
2512,2018,0.1035,13.66,"2018-08-20,2018-02-19",Amanah Harta Tanah,AHBM,0.705,14.680851

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2528,2020,0.0620,9.12,2020-03-06,AmanahRaya Real Estate,AMRY,0.69,8.985507
2529,2019,0.2400,30.14,"2019-12-11,2019-09-18,2019-06-14,2019-03-13",AmanahRaya Real Estate,AMRY,0.69,34.782609
2530,2018,0.1745,20.79,"2018-12-13,2018-09-14,2018-06-19",AmanahRaya Real Estate,AMRY,0.69,25.289855

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
539,2020,0.4,7.90,"2020-07-07,2020-03-13",Amway,AMWA,5.12,7.812500
540,2019,0.8,13.67,"2019-12-06,2019-09-10,2019-06-18,2019-03-13",Amway,AMWA,5.12,15.625000
541,2018,0.8,11.41,"2018-11-28,2018-09-04,2018-05-30,2018-03-09",Amway,AMWA,5.12,15.625000
542,2017,0.8,10.85,"2017-11-29,2017-09-08,2017-05-31,2017-03-08",Amway,AMWA,5.12,15.625000
543,2016,1.3,14.94,"2016-11-30,2016-09-01,2016-06-01,2016-03-09",Amway,AMWA,5.12,25.390625
544,2015,0.8,4.28,"2015-12-01,2015-09-02",Amway,AMWA,5.12,15.625000

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
545,2019,0.120,16.67,2019-05-07,Ann Joo Resources,ANNJ,0.74,16.216216
546,2018,0.380,21.69,"2018-09-07,2018-04-19",Ann Joo Resources,ANNJ,0.74,51.351351
547,2017,0.195,5.70,"2017-09-06,2017-05-08",Ann Joo Resources,ANNJ,0.74,26.351351
548,2015,0.030,1.56,2015-06-03,Ann Joo Resources,ANNJ,0.74,4.054054

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
501,2019,0.44,19.81,"2019-10-03,2019-04-17,2019-01-14",Asia File Corp,AFCB,1.85,23.783784
502,2018,0.47,17.21,"2018-10-05,2018-05-08,2018-01-17",Asia File Corp,AFCB,1.85,25.405405
503,2017,0.07,2.10,2017-05-09,Asia File Corp,AFCB,1.85,3.783784
504,2016,0.44,12.89,"2016-12-22,2016-08-26,2016-03-31",Asia File Corp,AFCB,1.85,23.783784
505,2015,0.15,3.23,2015-11-16,Asia File Corp,AFCB,1.85,8.108108

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
415,2020,0.1400,15.71,"2020-07-02,2020-04-08",Astro Malaysia,ASTR,0.82,17.073171
416,2019,0.3300,27.33,"2019-12-18,2019-09-27,2019-07-09,2019-04-08",Astro Malaysia,ASTR,0.82,40.243902
417,2018,0.1200,6.67,2018-04-10,Astro Malaysia,ASTR,0.82,14.634146
418,2017,0.4750,22.42,"2017-12-19,2017-09-29,2017-06-30,2017-04-10",Astro Malaysia,ASTR,0.82,57.926829
419,2016,0.5126,17.97,"2016-12-21,2016-09-28,2016-06-14,2016-04-04",Astro Malaysia,ASTR,0.82,62.512195
420,2015,0.2450,8.44,"2015-12-21,2015-09-30",Astro Malaysia,ASTR,0.82,29.878049

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
588,2020,0.2000,5.31,2020-05-14,Atlan,ATLA,3.77,5.305040
589,2019,0.5500,13.80,"2019-10-30,2019-07-29,2019-02-11",Atlan,ATLA,3.77,14.588859
590,2018,0.5700,12.78,"2018-07-25,2018-02-15",Atlan,ATLA,3.77,15.119363
591,2017,0.4950,11.26,"2017-10-30,2017-07-27,2017-02-13",Atlan,ATLA,3.77,13.129973
592,2016,0.2688,5.39,2016-07-28,Atlan,ATLA,3.77,7.129973
593,2015,0.1750,3.37,2015-10-15,Atlan,ATLA,3.77,4.641910

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2522,2020,0.1373,13.39,"2020-06-12,2020-02-20",Atrium,ATRL,1.04,13.201923
2523,2019,0.2930,26.69,"2019-11-13,2019-07-17,2019-03-21,2019-02-12",Atrium,ATRL,1.04,28.173077
2524,2018,0.1525,13.80,"2018-08-10,2018-05-14",Atrium,ATRL,1.04,14.663462

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
163,2020,3.41,28.05,"2020-06-05,2020-03-17,2020-03-05",BAT Malaysia,BATO,10.76,31.691450
164,2019,5.82,28.22,"2019-11-13,2019-08-08,2019-06-13,2019-03-06",BAT Malaysia,BATO,10.76,54.089219
165,2018,6.36,18.66,"2018-11-01,2018-08-01,2018-06-01,2018-03-09",BAT Malaysia,BATO,10.76,59.107807
166,2017,8.67,21.31,"2017-11-10,2017-08-10,2017-05-12,2017-03-09",BAT Malaysia,BATO,10.76,80.576208
167,2016,8.57,16.11,"2016-08-11,2016-05-16,2016-03-03",BAT Malaysia,BATO,10.76,79.646840
168,2015,6.24,5.58,"2015-11-13,2015-08-13",BAT Malaysia,BATO,10.76,57.992565

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
659,2020,0.060,5.26,2020-03-09,BP Plastics,BPPL,1.16,5.172414
660,2019,0.115,10.85,"2019-12-10,2019-06-20",BP Plastics,BPPL,1.16,9.913793
661,2018,0.080,7.51,"2018-12-10,2018-06-11",BP Plastics,BPPL,1.16,6.896552
662,2017,0.200,16.27,"2017-12-14,2017-06-15,2017-03-15",BP Plastics,BPPL,1.16,17.241379
663,2016,0.210,13.84,"2016-12-07,2016-09-07,2016-06-08,2016-03-01",BP Plastics,BPPL,1.16,18.103448

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
629,2020,0.0400,3.54,2020-03-11,Berjaya Food,BJFO,1.15,3.478261
630,2019,0.1600,10.95,"2019-12-11,2019-07-10,2019-04-09,2019-01-07",Berjaya Food,BJFO,1.15,13.913043
631,2018,0.1667,10.79,"2018-10-08,2018-07-10,2018-04-10,2018-01-10",Berjaya Food,BJFO,1.15,14.495652
632,2016,0.0550,2.79,"2016-04-06,2016-01-07",Berjaya Food,BJFO,1.15,4.782609
633,2015,0.0550,3.11,2015-10-13,Berjaya Food,BJFO,1.15,4.782609

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
47,2020,0.1600,7.27,2020-03-10,Berjaya Sports Toto,BSTB,2.2,7.272727
48,2019,0.6350,25.35,"2019-12-12,2019-07-18,2019-04-10,2019-01-16",Berjaya Sports Toto,BSTB,2.2,28.863636
49,2018,0.6100,26.95,"2018-10-03,2018-07-16,2018-04-11,2018-01-24",Berjaya Sports Toto,BSTB,2.2,27.727273
50,2017,0.6100,24.15,"2017-10-06,2017-07-18,2017-04-11,2017-01-05",Berjaya Sports Toto,BSTB,2.2,27.727273
51,2016,0.5189,16.22,"2016-07-18,2016-04-11,2016-01-18",Berjaya Sports Toto,BSTB,2.2,23.586364
52,2015,0.1839,5.99,2015-10-08,Berjaya Sports Toto,BSTB,2.2,8.359091

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
624,2020,0.2495,16.96,"2020-05-04,2020-01-28",Bermaz Auto,BERA,1.48,16.858108
625,2019,0.4230,18.36,"2019-10-09,2019-07-09,2019-04-05",Bermaz Auto,BERA,1.48,28.581081
626,2018,0.4480,20.83,"2018-12-27,2018-10-08,2018-07-06,2018-04-06,20...",Bermaz Auto,BERA,1.48,30.270270
627,2017,0.4320,21.27,"2017-10-09,2017-07-07,2017-04-06,2017-01-05",Bermaz Auto,BERA,1.48,29.189189
628,2016,0.3909,17.41,"2016-10-04,2016-07-05,2016-03-30,2016-01-04",Bermaz Auto,BERA,1.48,26.412162

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
612,2017,0.045,10.23,2017-03-28,Bina Darulaman,BDBS,0.265,16.981132
613,2016,0.040,4.85,2016-04-12,Bina Darulaman,BDBS,0.265,15.094340
614,2015,0.035,4.93,2015-04-21,Bina Darulaman,BDBS,0.265,13.207547

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
653,2020,0.26,6.08,"2020-07-20,2020-03-26",Bintulu Port,BPOT,4.2,6.190476
654,2019,0.62,14.10,"2019-12-13,2019-09-19,2019-07-18,2019-03-27",Bintulu Port,BPOT,4.2,14.761905
655,2018,0.71,13.34,"2018-12-12,2018-09-19,2018-07-18,2018-05-14",Bintulu Port,BPOT,4.2,16.904762
656,2017,0.91,15.06,"2017-12-13,2017-09-18,2017-07-12,2017-05-09",Bintulu Port,BPOT,4.2,21.666667
657,2016,0.92,13.95,"2016-11-30,2016-09-21,2016-07-20,2016-05-11",Bintulu Port,BPOT,4.2,21.904762
658,2015,0.44,3.10,"2015-12-09,2015-09-15",Bintulu Port,BPOT,4.2,10.476190

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
104,2018,0.3600,24.91,"2018-12-13,2018-09-19,2018-06-13,2018-03-13",Boustead,BOUS,0.595,60.504202
105,2017,0.5707,20.66,"2017-12-14,2017-09-14,2017-06-13,2017-03-14",Boustead,BOUS,0.595,95.915966
106,2016,0.6173,24.09,"2016-12-13,2016-09-09,2016-06-08,2016-03-29",Boustead,BOUS,0.595,103.747899
107,2015,0.4200,5.22,"2015-12-22,2015-09-15",Boustead,BOUS,0.595,70.588235

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
649,2019,0.0550,14.67,2019-06-10,Boustead Plantations,BOPL,0.37,14.864865
650,2018,0.3557,34.01,"2018-12-05,2018-09-06,2018-06-06,2018-03-12",Boustead Plantations,BOPL,0.37,96.135135
651,2017,0.5450,33.07,"2017-12-06,2017-09-06,2017-06-05,2017-03-01",Boustead Plantations,BOPL,0.37,147.297297
652,2016,0.2600,17.27,"2016-09-05,2016-06-06",Boustead Plantations,BOPL,0.37,70.270270

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
683,2019,0.07,7.54,"2019-12-23,2019-03-27",CB Industrial Product,CBIP,0.91,7.692308
684,2018,0.11,9.22,"2018-07-12,2018-01-12",CB Industrial Product,CBIP,0.91,12.087912
685,2017,0.12,6.39,"2017-07-27,2017-01-03",CB Industrial Product,CBIP,0.91,13.186813
686,2016,0.06,2.97,2016-06-28,CB Industrial Product,CBIP,0.91,6.593407
687,2015,0.12,2.86,"2015-12-11,2015-06-11",CB Industrial Product,CBIP,0.91,13.186813

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
12,2020,0.26,7.05,2020-03-16,CIMB Group,CIMB,3.7,7.027027
13,2019,0.51,10.37,"2019-10-04,2019-03-25",CIMB Group,CIMB,3.7,13.783784
14,2018,0.50,8.92,"2018-09-24,2018-03-28",CIMB Group,CIMB,3.7,13.513514
15,2017,0.45,6.63,"2017-10-10,2017-03-28",CIMB Group,CIMB,3.7,12.162162
16,2016,0.33,6.49,"2016-09-27,2016-03-24",CIMB Group,CIMB,3.7,8.918919
17,2015,0.08,1.73,2015-09-21,CIMB Group,CIMB,3.7,2.162162

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
780,2019,0.0075,2.08,2019-05-09,CJ Century Logistics,CJCE,0.37,2.027027
781,2018,0.0300,4.97,"2018-09-12,2018-05-08",CJ Century Logistics,CJCE,0.37,8.108108
782,2017,0.0650,6.29,"2017-08-30,2017-05-08",CJ Century Logistics,CJCE,0.37,17.567568
783,2016,0.0400,4.44,2016-12-05,CJ Century Logistics,CJCE,0.37,10.810811
784,2015,0.1250,14.38,"2015-12-04,2015-09-01,2015-06-01",CJ Century Logistics,CJCE,0.37,33.783784

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
772,2020,0.066,8.10,2020-06-25,CSC Steel,CSTH,0.825,8.000000
773,2019,0.040,4.97,2019-06-27,CSC Steel,CSTH,0.825,4.848485
774,2018,0.150,12.26,"2018-07-27,2018-02-26",CSC Steel,CSTH,0.825,18.181818
775,2017,0.100,7.46,2017-06-28,CSC Steel,CSTH,0.825,12.121212
776,2016,0.080,4.26,2016-06-28,CSC Steel,CSTH,0.825,9.696970

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
804,2020,0.025,8.33,2020-01-10,CYL Corp,CYLC,0.33,7.575758
805,2018,0.080,17.78,"2018-05-24,2018-01-03",CYL Corp,CYLC,0.33,24.242424
806,2017,0.090,12.48,"2017-05-25,2017-01-04",CYL Corp,CYLC,0.33,27.272727
807,2016,0.115,13.16,"2016-06-01,2016-01-07",CYL Corp,CYLC,0.33,34.848485
808,2015,0.050,5.85,2015-06-04,CYL Corp,CYLC,0.33,15.151515

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
311,2020,0.0625,7.81,2020-02-06,CapitaLand Malaysia Mall,CAMA,0.8,7.8125
312,2019,0.1463,14.18,"2019-08-08,2019-02-13",CapitaLand Malaysia Mall,CAMA,0.8,18.2875
313,2018,0.1632,14.62,"2018-08-06,2018-02-07",CapitaLand Malaysia Mall,CAMA,0.8,20.4000
314,2017,0.1680,11.42,"2017-08-01,2017-02-07",CapitaLand Malaysia Mall,CAMA,0.8,21.0000
315,2016,0.1679,10.93,"2016-07-29,2016-02-03",CapitaLand Malaysia Mall,CAMA,0.8,20.9875
316,2015,0.0899,6.33,2015-07-06,CapitaLand Malaysia Mall,CAMA,0.8,11.2375

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
108,2020,3.6309,12.52,"2020-09-04,2020-05-15,2020-03-26,2020-01-02",Carlsberg Brewery,CBMS,25.48,14.250000
109,2019,4.3520,17.91,"2019-10-18,2019-07-17,2019-05-16,2019-03-27,20...",Carlsberg Brewery,CBMS,25.48,17.080063
110,2018,1.9770,10.25,"2018-09-18,2018-06-18,2018-05-02",Carlsberg Brewery,CBMS,25.48,7.759027
111,2017,1.4900,9.56,"2017-09-19,2017-05-03",Carlsberg Brewery,CBMS,25.48,5.847724
112,2016,1.4400,9.72,"2016-09-21,2016-05-03",Carlsberg Brewery,CBMS,25.48,5.651491
113,2015,0.7100,5.83,2015-09-22,Carlsberg Brewery,CBMS,25.48,2.786499

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
725,2020,0.0500,4.13,2020-06-04,Chemical Co Malaysia,CLMS,1.26,3.968254
726,2019,0.1100,8.43,"2019-12-05,2019-05-30",Chemical Co Malaysia,CLMS,1.26,8.730159
727,2018,0.1750,9.70,"2018-12-27,2018-06-20",Chemical Co Malaysia,CLMS,1.26,13.888889
728,2017,0.1500,7.98,2017-05-15,Chemical Co Malaysia,CLMS,1.26,11.904762
729,2016,0.0875,7.64,"2016-10-28,2016-05-18",Chemical Co Malaysia,CLMS,1.26,6.944444
730,2015,0.0250,2.78,2015-09-14,Chemical Co Malaysia,CLMS,1.26,1.984127

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
796,2020,0.0485,4.75,2020-04-23,Chin Well,CWHB,1.02,4.754902
797,2019,0.1645,10.74,"2019-10-24,2019-04-24",Chin Well,CWHB,1.02,16.127451
798,2018,0.1520,9.14,"2018-09-07,2018-04-24",Chin Well,CWHB,1.02,14.901961
799,2017,0.1480,8.26,"2017-10-31,2017-04-26",Chin Well,CWHB,1.02,14.509804
800,2016,0.1634,10.22,"2016-10-26,2016-04-01",Chin Well,CWHB,1.02,16.019608
801,2015,0.0584,3.06,2015-10-28,Chin Well,CWHB,1.02,5.725490

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
766,2020,0.05,7.14,2020-04-01,Classic Scenic,CSCB,0.7,7.142857
767,2019,0.13,13.70,"2019-09-26,2019-04-01",Classic Scenic,CSCB,0.7,18.571429
768,2018,0.17,12.99,"2018-10-11,2018-05-04",Classic Scenic,CSCB,0.7,24.285714
769,2017,0.21,12.37,"2017-11-01,2017-04-25",Classic Scenic,CSCB,0.7,30.000000
770,2016,0.22,12.18,"2016-10-31,2016-04-28",Classic Scenic,CSCB,0.7,31.428571
771,2015,0.08,6.15,2015-10-29,Classic Scenic,CSCB,0.7,11.428571

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
791,2019,0.03,3.00,2019-11-08,Country View,CVIE,1.0,3.0
792,2018,0.05,4.00,2018-11-08,Country View,CVIE,1.0,5.0
793,2017,0.15,10.34,2017-05-29,Country View,CVIE,1.0,15.0
794,2016,0.17,11.36,"2016-11-09,2016-08-05",Country View,CVIE,1.0,17.0
795,2015,0.20,14.08,2015-11-04,Country View,CVIE,1.0,20.0

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
754,2019,0.12,11.67,"2019-10-30,2019-08-08",Crescendo Corp,CREC,0.925,12.972973
755,2018,0.12,9.16,"2018-10-29,2018-08-08",Crescendo Corp,CREC,0.925,12.972973
756,2017,0.11,7.69,"2017-10-27,2017-08-09",Crescendo Corp,CREC,0.925,11.891892
757,2016,0.10,6.51,"2016-10-27,2016-08-10",Crescendo Corp,CREC,0.925,10.810811
758,2015,0.07,4.05,2015-10-28,Crescendo Corp,CREC,0.925,7.567568

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
830,2020,0.0440,6.82,2020-03-12,Deleum,DLEU,0.65,6.769231
831,2019,0.0715,8.57,"2019-09-06,2019-03-11",Deleum,DLEU,0.65,11.000000
832,2018,0.0875,8.37,"2018-09-07,2018-03-13",Deleum,DLEU,0.65,13.461538
833,2017,0.0675,7.77,"2017-09-07,2017-03-13",Deleum,DLEU,0.65,10.384615
834,2016,0.1025,9.53,"2016-09-07,2016-03-11",Deleum,DLEU,0.65,15.769231
835,2015,0.0700,6.14,2015-09-08,Deleum,DLEU,0.65,10.769231

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
427,2020,0.363,8.27,"2020-05-28,2020-02-27",DiGi.Com,DSOM,4.28,8.481308
428,2019,0.763,16.10,"2019-11-21,2019-08-30,2019-05-31,2019-02-27",DiGi.Com,DSOM,4.28,17.827103
429,2018,0.765,17.42,"2018-11-21,2018-08-29,2018-05-31,2018-02-22",DiGi.Com,DSOM,4.28,17.873832
430,2017,0.753,15.19,"2017-11-21,2017-08-29,2017-05-29,2017-03-01",DiGi.Com,DSOM,4.28,17.593458
431,2016,0.635,13.40,"2016-08-29,2016-05-25,2016-02-25",DiGi.Com,DSOM,4.28,14.836449
432,2015,0.243,4.88,2015-11-06,DiGi.Com,DSOM,4.28,5.677570

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
839,2020,0.0500,6.99,2020-03-10,Dominant Enterprise,DOMN,0.72,6.944444
840,2019,0.2700,21.65,"2019-12-10,2019-09-30,2019-09-06,2019-03-11",Dominant Enterprise,DOMN,0.72,37.500000
841,2018,0.2700,21.03,"2018-12-07,2018-09-27,2018-09-03,2018-03-12",Dominant Enterprise,DOMN,0.72,37.500000
842,2017,0.2300,18.01,"2017-12-08,2017-09-20,2017-08-30,2017-03-08",Dominant Enterprise,DOMN,0.72,31.944444
843,2016,0.1213,10.47,"2016-12-07,2016-09-05,2016-03-09",Dominant Enterprise,DOMN,0.72,16.847222
844,2015,0.0842,3.67,"2015-12-08,2015-09-04",Dominant Enterprise,DOMN,0.72,11.694444

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2357,2020,0.1400,11.42,"2020-06-29,2020-03-30",ELK-Desa Resources,ELKD,1.33,10.526316
2358,2019,0.2100,14.05,"2019-12-31,2019-08-15,2019-01-16",ELK-Desa Resources,ELKD,1.33,15.789474
2359,2018,0.1350,11.49,"2018-09-03,2018-01-23",ELK-Desa Resources,ELKD,1.33,10.150376
2360,2017,0.1997,16.73,"2017-08-16,2017-03-29,2017-01-16",ELK-Desa Resources,ELKD,1.33,15.015038

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2361,2020,0.0525,7.93,"2020-06-12,2020-03-24",Elsoft Research,ELSR,0.65,8.076923
2362,2019,0.1758,20.61,"2019-12-09,2019-09-17,2019-06-18,2019-03-20",Elsoft Research,ELSR,0.65,27.046154
2363,2018,0.2133,8.80,"2018-12-06,2018-09-12,2018-06-20,2018-03-20",Elsoft Research,ELSR,0.65,32.815385
2364,2017,0.1400,5.32,"2017-12-13,2017-09-13,2017-03-20",Elsoft Research,ELSR,0.65,21.538462
2365,2015,0.0483,2.93,2015-12-08,Elsoft Research,ELSR,0.65,7.430769

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
879,2019,0.060,8.63,2019-07-29,Eng Kah Corp,ENGH,0.73,8.219178
880,2018,0.075,7.36,"2018-10-16,2018-07-27",Eng Kah Corp,ENGH,0.73,10.273973
881,2017,0.125,8.77,"2017-07-27,2017-01-26",Eng Kah Corp,ENGH,0.73,17.123288
882,2016,0.195,9.47,"2016-08-04,2016-07-27,2016-01-27",Eng Kah Corp,ENGH,0.73,26.712329
883,2015,0.130,2.62,"2015-11-04,2015-08-14",Eng Kah Corp,ENGH,0.73,17.808219

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
890,2019,0.0600,12.00,"2019-12-12,2019-09-23",Esthetics Int,ESTH,0.455,13.186813
891,2018,0.0600,9.59,"2018-12-12,2018-09-24",Esthetics Int,ESTH,0.455,13.186813
892,2017,0.0600,9.24,"2017-12-13,2017-09-21",Esthetics Int,ESTH,0.455,13.186813
893,2016,0.0575,6.45,"2016-12-13,2016-09-20",Esthetics Int,ESTH,0.455,12.637363
894,2015,0.0700,3.89,"2015-12-11,2015-09-11",Esthetics Int,ESTH,0.455,15.384615

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
925,2019,0.100,17.24,2019-03-12,FCW,FCWH,0.59,16.949153
926,2016,0.015,1.76,2016-01-05,FCW,FCWH,0.59,2.542373
927,2015,0.050,4.90,2015-05-28,FCW,FCWH,0.59,8.474576

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1743,2020,0.14,6.97,2020-04-22,Faber,UEME,2.04,6.862745
1744,2019,0.28,9.92,"2019-10-09,2019-04-16",Faber,UEME,2.04,13.725490
1745,2018,0.24,9.45,"2018-10-10,2018-05-03",Faber,UEME,2.04,11.764706
1746,2017,0.15,6.22,"2017-09-06,2017-06-06",Faber,UEME,2.04,7.352941
1747,2016,0.15,4.60,2016-03-14,Faber,UEME,2.04,7.352941
1748,2015,0.05,1.47,2015-06-08,Faber,UEME,2.04,2.450980

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
928,2020,0.0383,1.67,2020-07-07,Far East,FEHS,2.29,1.672489
929,2019,0.0600,2.59,"2019-12-06,2019-06-26",Far East,FEHS,2.29,2.620087
930,2018,0.1052,3.71,"2018-12-28,2018-05-31",Far East,FEHS,2.29,4.593886
931,2017,0.6000,5.89,"2017-11-29,2017-05-29",Far East,FEHS,2.29,26.200873
932,2016,0.5000,5.96,"2016-11-30,2016-06-07",Far East,FEHS,2.29,21.834061
933,2015,0.6000,3.85,"2015-12-21,2015-06-29",Far East,FEHS,2.29,26.200873

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
948,2020,0.125,8.12,2020-08-19,Fima Corp,FIMA,1.6,7.8125
949,2019,0.250,16.46,"2019-12-12,2019-09-10",Fima Corp,FIMA,1.6,15.6250
950,2018,0.250,13.53,"2018-12-05,2018-08-29",Fima Corp,FIMA,1.6,15.6250
951,2017,0.250,12.17,"2017-12-06,2017-08-30",Fima Corp,FIMA,1.6,15.6250
952,2016,0.275,12.41,"2016-12-07,2016-09-01",Fima Corp,FIMA,1.6,17.1875
953,2015,0.225,5.56,"2015-12-11,2015-09-22",Fima Corp,FIMA,1.6,14.0625

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
965,2019,0.235,19.18,"2019-07-29,2019-03-29",Focus Lumber,FOLU,0.735,31.972789
966,2018,0.140,10.78,"2018-06-12,2018-03-12",Focus Lumber,FOLU,0.735,19.047619
967,2015,0.240,10.20,"2015-12-03,2015-08-13",Focus Lumber,FOLU,0.735,32.653061

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
959,2020,0.0350,6.73,2020-07-09,Freight Management,FMHB,0.53,6.603774
960,2019,0.0683,12.44,"2019-10-30,2019-06-27",Freight Management,FMHB,0.53,12.886792
961,2018,0.0833,9.38,"2018-10-29,2018-06-27",Freight Management,FMHB,0.53,15.716981
962,2017,0.1000,8.20,"2017-10-27,2017-06-28",Freight Management,FMHB,0.53,18.867925
963,2016,0.1000,7.80,"2016-10-28,2016-06-28",Freight Management,FMHB,0.53,18.867925
964,2015,0.1000,4.17,"2015-11-25,2015-06-26",Freight Management,FMHB,0.53,18.867925

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
324,2020,0.2370,8.69,"2020-06-30,2020-03-12",Gas Malaysia,GASM,2.78,8.525180
325,2019,0.3630,12.71,"2019-10-08,2019-06-07,2019-03-07",Gas Malaysia,GASM,2.78,13.057554
326,2018,0.3936,13.86,"2018-08-28,2018-05-28,2018-03-02",Gas Malaysia,GASM,2.78,14.158273
327,2017,0.3372,11.77,"2017-09-14,2017-05-24,2017-03-01",Gas Malaysia,GASM,2.78,12.129496
328,2016,0.1704,6.94,"2016-08-26,2016-05-25",Gas Malaysia,GASM,2.78,6.129496
329,2015,0.1156,5.07,2015-08-27,Gas Malaysia,GASM,2.78,4.158273

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1009,2019,0.0850,7.89,"2019-04-05,2019-01-04",George Kent,GKMS,0.645,13.178295
1010,2018,0.1850,20.97,"2018-10-10,2018-04-03",George Kent,GKMS,0.645,28.682171
1011,2017,0.1384,3.85,"2017-10-11,2017-06-28",George Kent,GKMS,0.645,21.457364
1012,2016,0.1180,3.73,"2016-12-19,2016-07-08",George Kent,GKMS,0.645,18.294574
1013,2015,0.0880,5.35,"2015-12-31,2015-10-13",George Kent,GKMS,0.645,13.643411

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1020,2019,0.0080,2.81,2019-12-16,Glomac,GLOM,0.285,2.807018
1021,2018,0.0150,4.05,2018-12-14,Glomac,GLOM,0.285,5.263158
1022,2017,0.0623,11.67,"2017-11-28,2017-04-27",Glomac,GLOM,0.285,21.859649
1023,2016,0.0825,10.94,"2016-11-28,2016-05-12",Glomac,GLOM,0.285,28.947368

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1024,2019,0.005,2.08,2019-09-24,Gromutual,GMUT,0.24,2.083333
1025,2018,0.005,1.85,2018-09-21,Gromutual,GMUT,0.24,2.083333
1026,2017,0.040,10.63,"2017-12-11,2017-06-15",Gromutual,GMUT,0.24,16.666667
1027,2016,0.010,2.13,2016-09-14,Gromutual,GMUT,0.24,4.166667
1028,2015,0.020,5.00,2015-12-04,Gromutual,GMUT,0.24,8.333333

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1062,2020,0.180,11.03,"2020-05-29,2020-02-21",Hai O Enterprise,HAIO,1.95,9.230769
1063,2019,0.310,14.73,"2019-11-07,2019-02-22",Hai O Enterprise,HAIO,1.95,15.897436
1064,2018,0.515,13.96,"2018-11-07,2018-05-28,2018-02-23",Hai O Enterprise,HAIO,1.95,26.410256
1065,2017,0.250,5.13,"2017-11-08,2017-02-14",Hai O Enterprise,HAIO,1.95,12.820513
1066,2016,0.300,8.95,"2016-11-09,2016-02-17",Hai O Enterprise,HAIO,1.95,15.384615
1067,2015,0.150,6.44,2015-11-11,Hai O Enterprise,HAIO,1.95,7.692308

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
287,2020,0.025,1.69,2020-03-09,Hap Seng Plantations,HAPP,1.47,1.700680
288,2019,0.040,2.58,"2019-09-12,2019-03-11",Hap Seng Plantations,HAPP,1.47,2.721088
289,2018,0.185,8.74,"2018-09-12,2018-03-12",Hap Seng Plantations,HAPP,1.47,12.585034
290,2017,0.255,9.98,"2017-09-07,2017-03-07",Hap Seng Plantations,HAPP,1.47,17.346939
291,2016,0.160,6.22,"2016-09-07,2016-03-07",Hap Seng Plantations,HAPP,1.47,10.884354
292,2015,0.080,3.27,2015-09-08,Hap Seng Plantations,HAPP,1.47,5.442177

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2494,2020,0.0777,11.77,2020-03-11,Hektar REIT,HEKR,0.66,11.772727
2495,2019,0.3407,33.41,"2019-12-11,2019-09-12,2019-06-10,2019-03-13",Hektar REIT,HEKR,0.66,51.621212
2496,2018,0.3705,31.08,"2018-12-12,2018-08-30,2018-06-04,2018-02-26",Hektar REIT,HEKR,0.66,56.136364
2497,2017,0.1143,9.53,2017-08-23,Hektar REIT,HEKR,0.66,17.318182

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1075,2020,0.1300,31.64,"2020-06-24,2020-03-27,2020-01-09",HeveaBoard,HEVE,0.5,26.00
1076,2019,0.1540,25.62,"2019-09-20,2019-06-24,2019-03-13",HeveaBoard,HEVE,0.5,30.80
1077,2018,0.2650,34.10,"2018-12-05,2018-09-12,2018-06-19,2018-03-21",HeveaBoard,HEVE,0.5,53.00
1078,2017,0.2680,20.98,"2017-12-07,2017-09-20,2017-06-13,2017-03-15",HeveaBoard,HEVE,0.5,53.60
1079,2016,0.1265,9.59,"2016-12-05,2016-09-06,2016-06-13,2016-03-08",HeveaBoard,HEVE,0.5,25.30
1080,2015,0.0213,0.70,"2015-11-30,2015-09-11",HeveaBoard,HEVE,0.5,4.26

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1096,2020,0.0300,5.13,2020-02-13,Homeritz Corp,HOME,0.595,5.042017
1097,2019,0.0600,9.50,"2019-08-29,2019-02-12",Homeritz Corp,HOME,0.595,10.084034
1098,2018,0.0840,12.55,"2018-08-28,2018-02-12",Homeritz Corp,HOME,0.595,14.117647
1099,2017,0.1100,11.65,"2017-08-28,2017-05-24,2017-01-26",Homeritz Corp,HOME,0.595,18.487395
1100,2016,0.0850,9.60,"2016-08-29,2016-01-29",Homeritz Corp,HOME,0.595,14.285714
1101,2015,0.0423,3.65,2015-08-27,Homeritz Corp,HOME,0.595,7.109244

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1122,2017,0.06,11.74,"2017-09-27,2017-03-30",Hua Yang,HUAY,0.27,22.222222
1123,2016,0.13,7.03,2016-04-01,Hua Yang,HUAY,0.27,48.148148
1124,2015,0.13,7.34,2015-09-30,Hua Yang,HUAY,0.27,48.148148

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1102,2020,0.0600,6.32,2020-03-12,Hup Seng Industries,HSIB,0.95,6.315789
1103,2019,0.1800,19.82,"2019-12-18,2019-10-02,2019-03-18",Hup Seng Industries,HSIB,0.95,18.947368
1104,2018,0.1833,17.92,"2018-12-17,2018-09-18,2018-03-14",Hup Seng Industries,HSIB,0.95,19.294737
1105,2017,0.1300,11.54,"2017-12-14,2017-09-20,2017-03-20",Hup Seng Industries,HSIB,0.95,13.684211
1106,2016,0.0800,6.48,"2016-09-20,2016-03-23",Hup Seng Industries,HSIB,0.95,8.421053

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1134,2019,0.0175,10.94,2019-08-27,I-Berhad,IBHD,0.155,11.290323
1135,2018,0.0213,5.26,2018-09-04,I-Berhad,IBHD,0.155,13.741935
1136,2017,0.0188,3.65,2017-07-11,I-Berhad,IBHD,0.155,12.129032
1137,2016,0.0130,2.17,2016-07-29,I-Berhad,IBHD,0.155,8.387097
1138,2015,0.0151,2.96,2015-09-03,I-Berhad,IBHD,0.155,9.741935

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
356,2020,0.1781,10.12,"2020-05-06,2020-02-05",IGB REIT,IGRE,1.79,9.949721
357,2019,0.3675,19.23,"2019-11-06,2019-08-06,2019-05-08,2019-02-07",IGB REIT,IGRE,1.79,20.530726
358,2018,0.3773,22.99,"2018-11-07,2018-07-26,2018-05-04,2018-02-06",IGB REIT,IGRE,1.79,21.078212
359,2017,0.1739,10.46,"2017-08-14,2017-02-08",IGB REIT,IGRE,1.79,9.715084
360,2016,0.1620,9.85,"2016-08-05,2016-02-10",IGB REIT,IGRE,1.79,9.050279
361,2015,0.0837,6.15,2015-08-07,IGB REIT,IGRE,1.79,4.675978

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1181,2018,0.10,10.31,2018-06-27,IQ,IQGH,0.405,24.691358
1182,2017,0.22,11.58,"2017-12-27,2017-06-28",IQ,IQGH,0.405,54.320988
1183,2016,0.21,7.16,"2016-12-28,2016-06-28",IQ,IQGH,0.405,51.851852
1184,2015,0.08,4.21,2015-12-28,IQ,IQGH,0.405,19.753086

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1161,2020,0.0880,5.57,"2020-06-15,2020-03-17",Inari Amertron,INAR,1.78,4.943820
1162,2019,0.2210,13.87,"2019-12-18,2019-09-19,2019-06-13,2019-03-13",Inari Amertron,INAR,1.78,12.415730
1163,2018,0.2540,13.39,"2018-12-18,2018-09-18,2018-06-06,2018-03-13",Inari Amertron,INAR,1.78,14.269663
1164,2017,0.2685,9.66,"2017-12-13,2017-09-18,2017-06-06,2017-03-15",Inari Amertron,INAR,1.78,15.084270
1165,2016,0.2623,9.47,"2016-12-13,2016-09-13,2016-06-08,2016-03-11",Inari Amertron,INAR,1.78,14.735955
1166,2015,0.1470,2.00,"2015-11-26,2015-09-09",Inari Amertron,INAR,1.78,8.258427

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1191,2018,0.025,18.52,2018-09-18,Ivory Properties,IVRY,0.135,18.518519

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
300,2019,0.0050,1.64,2019-12-19,JCY Int,JCYI,0.315,1.587302
301,2018,0.0050,2.78,2018-03-19,JCY Int,JCYI,0.315,1.587302
302,2017,0.1825,35.80,"2017-12-18,2017-09-15,2017-06-15,2017-03-15",JCY Int,JCYI,0.315,57.936508
303,2016,0.2525,44.09,"2016-12-19,2016-09-13,2016-06-16,2016-03-16",JCY Int,JCYI,0.315,80.158730
304,2015,0.1150,10.00,"2015-12-16,2015-09-18",JCY Int,JCYI,0.315,36.507937

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1206,2017,0.010,9.09,2017-03-23,Jasa Kita,JKBM,0.075,13.333333
1207,2016,0.003,1.88,2016-09-30,Jasa Kita,JKBM,0.075,4.000000
1208,2015,0.003,1.88,2015-09-14,Jasa Kita,JKBM,0.075,4.000000

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1192,2019,0.155,15.93,"2019-12-18,2019-04-12",Jaycorp,JAYC,0.89,17.415730
1193,2018,0.050,5.18,2018-12-14,Jaycorp,JAYC,0.89,5.617978
1194,2017,0.210,19.21,"2017-12-19,2017-07-13",Jaycorp,JAYC,0.89,23.595506
1195,2016,0.100,8.13,2016-12-14,Jaycorp,JAYC,0.89,11.235955
1196,2015,0.040,2.96,2015-12-11,Jaycorp,JAYC,0.89,4.494382
1197,2014,0.035,0.00,2014-12-16,Jaycorp,JAYC,0.89,3.932584

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1200,2020,0.1200,8.48,"2020-07-03,2020-03-12",Johore Tin,JHTN,1.4,8.571429
1201,2019,0.2400,15.79,"2019-12-16,2019-09-24,2019-06-20,2019-03-13",Johore Tin,JHTN,1.4,17.142857
1202,2018,0.1450,13.35,"2018-12-13,2018-09-14,2018-06-11,2018-03-14",Johore Tin,JHTN,1.4,10.357143
1203,2017,0.0926,7.70,"2017-12-21,2017-10-02,2017-06-13",Johore Tin,JHTN,1.4,6.614286
1204,2016,0.0150,1.00,2016-06-29,Johore Tin,JHTN,1.4,1.071429
1205,2015,0.0350,2.03,2015-07-01,Johore Tin,JHTN,1.4,2.500000

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2470,2020,0.1227,15.58,"2020-05-08,2020-01-30",KIP REIT,KIPR,0.8,15.3375
2471,2019,0.2484,28.88,"2019-10-31,2019-08-09,2019-05-03,2019-01-29",KIP REIT,KIPR,0.8,31.0500
2472,2018,0.1799,22.71,"2018-08-08,2018-05-07,2018-02-12",KIP REIT,KIPR,0.8,22.4875
2473,2017,0.0684,7.78,"2017-11-09,2017-08-09",KIP REIT,KIPR,0.8,8.5500

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
362,2020,0.7550,9.59,"2020-05-21,2020-02-07",KLCC Property,KLCC,7.96,9.484925
363,2019,1.4036,17.83,"2019-11-25,2019-09-06,2019-05-23,2019-02-11",KLCC Property,KLCC,7.96,17.633166
364,2018,1.4297,18.57,"2018-11-28,2018-08-29,2018-05-30,2018-02-08",KLCC Property,KLCC,7.96,17.961055
365,2017,1.4260,18.28,"2017-11-29,2017-09-06,2017-06-05,2017-02-06",KLCC Property,KLCC,7.96,17.914573
366,2015,0.6720,4.89,"2015-11-24,2015-08-20",KLCC Property,KLCC,7.96,8.442211

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
391,2020,0.0580,6.48,"2020-07-08,2020-03-30,2020-01-30",KPJ Healthcare,KPJH,0.835,6.946108
392,2019,0.0800,8.43,"2019-09-23,2019-06-18,2019-03-27,2019-01-29",KPJ Healthcare,KPJH,0.835,9.580838
393,2018,0.0541,5.16,"2018-09-12,2018-06-27,2018-03-28",KPJ Healthcare,KPJH,0.835,6.479042
394,2017,0.1753,7.00,"2017-12-11,2017-09-19,2017-06-28,2017-04-05",KPJ Healthcare,KPJH,0.835,20.994012
395,2016,0.2740,6.52,"2016-12-19,2016-09-23,2016-06-28,2016-03-29",KPJ Healthcare,KPJH,0.835,32.814371
396,2015,0.1595,1.80,"2015-12-29,2015-09-23",KPJ Healthcare,KPJH,0.835,19.101796

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1833,2018,0.05,4.76,2018-05-31,Kim Hin Industry Bhd,KIMH,0.72,6.944444
1834,2017,0.12,8.40,"2017-12-11,2017-07-03",Kim Hin Industry Bhd,KIMH,0.72,16.666667
1835,2016,0.15,8.05,"2016-12-07,2016-06-17,2016-04-26",Kim Hin Industry Bhd,KIMH,0.72,20.833333

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1255,2019,0.12,10.26,"2019-10-30,2019-08-08",Kim Loong Resources,KIML,1.2,10.000000
1256,2018,0.12,9.28,"2018-10-29,2018-08-08",Kim Loong Resources,KIML,1.2,10.000000
1257,2017,0.32,7.90,"2017-10-27,2017-08-09",Kim Loong Resources,KIML,1.2,26.666667
1258,2016,0.26,7.40,"2016-10-27,2016-08-10",Kim Loong Resources,KIML,1.2,21.666667
1259,2015,0.13,3.71,2015-10-28,Kim Loong Resources,KIML,1.2,10.833333

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1285,2019,0.0425,7.46,2019-06-27,Kumpulan Perangsang Selangor,KPSB,0.52,8.173077
1286,2018,0.0425,3.08,2018-06-27,Kumpulan Perangsang Selangor,KPSB,0.52,8.173077
1287,2017,0.0625,5.00,2017-07-19,Kumpulan Perangsang Selangor,KPSB,0.52,12.019231
1288,2016,0.0200,1.35,2016-07-21,Kumpulan Perangsang Selangor,KPSB,0.52,3.846154
1289,2015,0.0400,3.67,2015-07-20,Kumpulan Perangsang Selangor,KPSB,0.52,7.692308

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1316,2019,0.050,11.63,2019-09-11,LBI Capital,LBIP,0.42,11.904762
1317,2018,0.025,3.91,2018-05-02,LBI Capital,LBIP,0.42,5.952381
1318,2017,0.105,10.19,2017-06-09,LBI Capital,LBIP,0.42,25.000000
1319,2016,0.070,5.47,2016-09-09,LBI Capital,LBIP,0.42,16.666667
1320,2015,0.050,3.65,2015-11-27,LBI Capital,LBIP,0.42,11.904762
1321,2014,0.050,0.00,2014-11-04,LBI Capital,LBIP,0.42,11.904762

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1322,2019,0.0180,4.86,2019-08-29,LBS Bina,LBSB,0.375,4.800000
1323,2018,0.0440,6.21,"2018-08-02,2018-06-08",LBS Bina,LBSB,0.375,11.733333
1324,2017,0.0582,3.90,"2017-08-11,2017-07-07",LBS Bina,LBSB,0.375,15.520000
1325,2016,0.0350,1.72,2016-08-16,LBS Bina,LBSB,0.375,9.333333

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1346,2020,0.7000,5.19,2020-02-17,LPI Capital,LOND,13.5,5.185185
1347,2019,1.3700,8.86,"2019-07-29,2019-02-14",LPI Capital,LOND,13.5,10.148148
1348,2018,1.2350,7.55,"2018-07-20,2018-01-23",LPI Capital,LOND,13.5,9.148148
1349,2017,1.6200,8.61,"2017-07-21,2017-02-20",LPI Capital,LOND,13.5,12.000000
1350,2016,1.4500,8.79,"2016-07-22,2016-02-12",LPI Capital,LOND,13.5,10.740741
1351,2015,0.5667,3.59,2015-07-22,LPI Capital,LOND,13.5,4.197778

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1308,2019,0.0100,10.53,2019-10-07,Land General,LAND,0.085,11.764706
1309,2018,0.0150,9.38,2018-10-04,Land General,LAND,0.085,17.647059
1310,2016,0.0159,7.07,2016-09-28,Land General,LAND,0.085,18.705882
1311,2015,0.0200,5.19,2015-09-23,Land General,LAND,0.085,23.529412

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1336,2020,0.3000,11.80,"2020-07-09,2020-03-16",Lii Hen Industries,LHEN,2.7,11.111111
1337,2019,0.7400,25.35,"2019-12-11,2019-09-11,2019-07-04,2019-06-12,20...",Lii Hen Industries,LHEN,2.7,27.407407
1338,2018,0.5250,18.58,"2018-12-10,2018-09-06,2018-07-03,2018-06-11",Lii Hen Industries,LHEN,2.7,19.444444
1339,2017,0.6400,20.16,"2017-12-12,2017-09-08,2017-07-07,2017-06-13",Lii Hen Industries,LHEN,2.7,23.703704
1340,2016,0.5766,17.88,"2016-12-13,2016-09-06,2016-07-08,2016-06-10",Lii Hen Industries,LHEN,2.7,21.355556
1341,2015,0.1550,3.47,"2015-12-08,2015-09-07",Lii Hen Industries,LHEN,2.7,5.740741

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2394,2020,0.25,5.91,2020-03-17,Lingkaran Trans Kota,LTKH,4.22,5.924171
2395,2019,0.50,10.85,"2019-09-18,2019-03-14",Lingkaran Trans Kota,LTKH,4.22,11.848341
2396,2018,0.45,9.91,"2018-09-18,2018-03-16",Lingkaran Trans Kota,LTKH,4.22,10.663507
2397,2017,0.55,9.55,"2017-09-18,2017-03-15",Lingkaran Trans Kota,LTKH,4.22,13.033175
2398,2016,0.20,3.44,2016-09-19,Lingkaran Trans Kota,LTKH,4.22,4.739336

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1326,2019,0.0450,7.53,"2019-09-03,2019-04-23",Luxchem Corp,LCBH,0.69,6.521739
1327,2018,0.0483,7.91,"2018-09-05,2018-04-18",Luxchem Corp,LCBH,0.69,7.000000
1328,2017,0.0933,6.18,"2017-08-29,2017-04-19",Luxchem Corp,LCBH,0.69,13.521739
1329,2016,0.1350,8.50,"2016-09-09,2016-05-31",Luxchem Corp,LCBH,0.69,19.565217
1330,2015,0.0500,2.89,2015-09-11,Luxchem Corp,LCBH,0.69,7.246377

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1363,2019,0.06,8.57,2019-07-23,MAA,MAAS,0.7,8.571429
1364,2018,0.06,6.42,2018-03-22,MAA,MAAS,0.7,8.571429
1365,2017,0.18,22.88,"2017-09-28,2017-03-13",MAA,MAAS,0.7,25.714286
1366,2016,0.12,13.09,"2016-09-20,2016-03-11",MAA,MAAS,0.7,17.142857

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
871,2019,0.219,15.54,"2019-10-25,2019-04-23,2019-01-24",MB World Group,MBWO,0.99,22.121212
872,2017,0.035,1.89,2017-10-26,MB World Group,MBWO,0.99,3.535354

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
145,2020,0.600,7.68,"2020-05-22,2020-03-02",MISC,MISC,7.82,7.672634
146,2019,1.200,16.18,"2019-11-26,2019-08-27,2019-06-10,2019-03-06",MISC,MISC,7.82,15.345269
147,2018,1.200,17.72,"2018-11-30,2018-08-17,2018-05-24,2018-02-26",MISC,MISC,7.82,15.345269
148,2017,0.720,9.95,"2017-11-15,2017-08-21,2017-05-19",MISC,MISC,7.82,9.207161
149,2016,0.825,10.65,"2016-08-18,2016-04-18,2016-02-22",MISC,MISC,7.82,10.549872
150,2015,0.135,1.59,2015-08-18,MISC,MISC,7.82,1.726343

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2487,2020,0.0680,9.32,2020-01-31,MRCB-Quill Unit,MQRE,0.735,9.251701
2488,2019,0.1512,14.60,"2019-08-22,2019-02-04",MRCB-Quill Unit,MQRE,0.735,20.571429
2489,2018,0.1262,11.51,"2018-08-21,2018-02-05",MRCB-Quill Unit,MQRE,0.735,17.170068
2490,2017,0.1269,10.49,2017-08-24,MRCB-Quill Unit,MQRE,0.735,17.265306

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1452,2017,0.14,4.86,2017-05-25,MSM Malaysia,MSMH,0.605,23.140496
1453,2016,0.50,10.48,"2016-12-02,2016-05-25",MSM Malaysia,MSMH,0.605,82.644628
1454,2015,0.50,5.42,"2015-12-08,2015-06-16",MSM Malaysia,MSMH,0.605,82.644628

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1371,2020,0.1923,9.01,"2020-07-07,2020-03-24",Magni Tech Ind,MATE,2.13,9.028169
1372,2019,0.1863,7.90,"2019-12-24,2019-10-09",Magni Tech Ind,MATE,2.13,8.746479
1373,2018,0.3475,8.59,"2018-12-26,2018-10-10,2018-03-28",Magni Tech Ind,MATE,2.13,16.314554
1374,2017,0.4050,7.03,"2017-12-27,2017-10-11,2017-03-29",Magni Tech Ind,MATE,2.13,19.014085
1375,2016,0.4250,9.52,"2016-12-27,2016-10-11,2016-04-05,2016-01-07",Magni Tech Ind,MATE,2.13,19.953052
1376,2015,0.0533,1.27,2015-11-05,Magni Tech Ind,MATE,2.13,2.502347

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
151,2020,0.305,13.73,"2020-06-12,2020-03-17",Magnum,MAGM,2.23,13.677130
152,2019,0.640,24.54,"2019-12-13,2019-09-18,2019-06-18,2019-03-13",Magnum,MAGM,2.23,28.699552
153,2018,0.480,22.91,"2018-12-13,2018-09-14,2018-06-13,2018-03-13",Magnum,MAGM,2.23,21.524664
154,2017,0.380,21.35,"2017-12-14,2017-09-13,2017-03-10",Magnum,MAGM,2.23,17.040359
155,2016,0.575,24.78,"2016-12-08,2016-09-13,2016-06-08,2016-03-11",Magnum,MAGM,2.23,25.784753
156,2015,0.175,6.86,2015-12-07,Magnum,MAGM,2.23,7.847534

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2093,2020,0.0655,6.86,2020-05-14,Malakoff Corporation Bhd,MALA,0.99,6.616162
2094,2019,0.1154,15.14,"2019-09-12,2019-05-09",Malakoff Corporation Bhd,MALA,0.99,11.656566
2095,2018,0.1200,12.66,"2018-09-07,2018-05-14",Malakoff Corporation Bhd,MALA,0.99,12.121212
2096,2017,0.1300,13.75,"2017-09-08,2017-05-03",Malakoff Corporation Bhd,MALA,0.99,13.131313
2097,2016,0.1250,8.75,"2016-09-06,2016-05-05",Malakoff Corporation Bhd,MALA,0.99,12.626263

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
29,2020,0.64,8.40,2020-04-10,Malayan Banking,MBBM,7.71,8.300908
30,2019,1.14,14.40,"2019-09-18,2019-05-07",Malayan Banking,MBBM,7.71,14.785992
31,2018,1.12,11.79,"2018-09-28,2018-06-05",Malayan Banking,MBBM,7.71,14.526589
32,2017,1.07,10.42,"2017-09-29,2017-05-04",Malayan Banking,MBBM,7.71,13.878080
33,2016,1.04,12.31,"2016-09-23,2016-05-04",Malayan Banking,MBBM,7.71,13.488975
34,2015,0.57,6.22,2015-10-08,Malayan Banking,MBBM,7.71,7.392996

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1402,2020,0.0300,5.77,2020-03-12,Malayan Flour Mills,MFMS,0.515,5.825243
1403,2019,0.0511,8.64,"2019-08-28,2019-03-13",Malayan Flour Mills,MFMS,0.515,9.922330
1404,2018,0.1176,14.81,"2018-09-04,2018-03-14",Malayan Flour Mills,MFMS,0.515,22.834951
1405,2017,0.1300,5.92,"2017-08-30,2017-03-08",Malayan Flour Mills,MFMS,0.515,25.242718
1406,2016,0.0900,5.73,"2016-08-29,2016-03-09",Malayan Flour Mills,MFMS,0.515,17.475728
1407,2015,0.0550,4.33,2015-08-19,Malayan Flour Mills,MFMS,0.515,10.679612

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1408,2018,0.1,20.0,2018-09-24,Malpac,MHBS,0.5,20.0

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2434,2017,0.05,62.5,2017-07-24,Marine General,MARI,0.075,66.666667

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1377,2020,0.1200,6.56,2020-03-26,Matrix Concepts,MATR,1.86,6.451613
1378,2019,0.4975,25.78,"2019-12-19,2019-09-19,2019-06-20,2019-03-19",Matrix Concepts,MATR,1.86,26.747312
1379,2018,0.5220,26.48,"2018-12-19,2018-09-19,2018-06-20,2018-03-21",Matrix Concepts,MATR,1.86,28.064516
1380,2017,0.5080,20.63,"2017-12-20,2017-09-12,2017-06-02,2017-03-29",Matrix Concepts,MATR,1.86,27.311828
1381,2016,0.5909,23.59,"2016-12-23,2016-09-21,2016-06-15,2016-03-23",Matrix Concepts,MATR,1.86,31.768817
1382,2015,0.1514,6.23,2015-12-21,Matrix Concepts,MATR,1.86,8.139785

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
403,2020,0.39,7.30,"2020-05-28,2020-03-17",Maxis,MXSC,5.29,7.372401
404,2019,0.80,14.61,"2019-11-28,2019-08-29,2019-05-30,2019-02-28",Maxis,MXSC,5.29,15.122873
405,2018,0.80,14.23,"2018-11-28,2018-08-28,2018-05-28,2018-02-26",Maxis,MXSC,5.29,15.122873
406,2017,0.80,13.46,"2017-11-28,2017-08-28,2017-05-29,2017-02-24",Maxis,MXSC,5.29,15.122873
407,2016,0.60,9.84,"2016-08-26,2016-05-27,2016-02-25",Maxis,MXSC,5.29,11.342155
408,2015,0.31,5.22,2015-11-26,Maxis,MXSC,5.29,5.860113

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
0,2020,0.0112,6.22,2020-07-10,Media Chinese Int,MDCH,0.175,6.400000
1,2019,0.0226,12.90,"2019-12-09,2019-06-19",Media Chinese Int,MDCH,0.175,12.914286
2,2018,0.0322,16.50,"2018-12-12,2018-06-18",Media Chinese Int,MDCH,0.175,18.400000
3,2017,0.0557,15.78,"2017-12-11,2017-06-16",Media Chinese Int,MDCH,0.175,31.828571
4,2016,0.0879,13.60,"2016-12-13,2016-06-20",Media Chinese Int,MDCH,0.175,50.228571
5,2015,0.0790,6.18,"2015-12-08,2015-07-08",Media Chinese Int,MDCH,0.175,45.142857

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
175,2017,0.08,20.78,2017-05-31,Media Prima,MPRM,0.155,51.612903
176,2016,0.26,20.25,"2016-12-14,2016-09-07,2016-06-01",Media Prima,MPRM,0.155,167.741935
177,2015,0.21,6.76,"2015-12-08,2015-09-09",Media Prima,MPRM,0.155,135.483871

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1862,2018,0.01,3.85,2018-04-11,Mieco Chipboard Bhd,MIEC,0.27,3.703704
1863,2017,0.04,6.02,2017-03-10,Mieco Chipboard Bhd,MIEC,0.27,14.814815

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2399,2019,0.0080,4.10,2019-06-13,Mikro MSC,MIKB,0.2,4.0
2400,2018,0.0250,9.72,"2018-11-27,2018-04-17",Mikro MSC,MIKB,0.2,12.5
2401,2017,0.0222,6.35,"2017-11-16,2017-03-20",Mikro MSC,MIKB,0.2,11.1
2402,2016,0.0110,1.90,2016-11-22,Mikro MSC,MIKB,0.2,5.5

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1420,2019,0.0150,8.11,2019-07-17,Mitrajaya,MITR,0.185,8.108108
1421,2018,0.0200,5.13,2018-07-16,Mitrajaya,MITR,0.185,10.810811
1422,2017,0.0480,10.32,2017-07-14,Mitrajaya,MITR,0.185,25.945946
1423,2016,0.0500,3.79,2016-07-15,Mitrajaya,MITR,0.185,27.027027
1424,2015,0.0333,2.73,2015-08-17,Mitrajaya,MITR,0.185,18.000000

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1491,2020,0.0160,3.14,2020-04-03,NTPM,NTPM,0.515,3.106796
1492,2019,0.0160,5.16,2019-10-04,NTPM,NTPM,0.515,3.106796
1493,2018,0.0680,13.94,"2018-12-20,2018-09-26,2018-04-05",NTPM,NTPM,0.515,13.203883
1494,2017,0.0480,7.52,"2017-10-05,2017-09-27",NTPM,NTPM,0.515,9.320388
1495,2016,0.0480,5.92,"2016-12-16,2016-09-28,2016-04-13",NTPM,NTPM,0.515,9.320388
1496,2015,0.0073,0.69,2015-04-02,NTPM,NTPM,0.515,1.417476

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
274,2020,0.0500,6.13,2020-06-17,OSK,OSKH,0.81,6.172840
275,2019,0.1000,11.85,"2019-09-17,2019-05-06",OSK,OSKH,0.81,12.345679
276,2018,0.1067,11.02,"2018-09-24,2018-05-28",OSK,OSKH,0.81,13.172840
277,2017,0.1250,9.79,"2017-09-21,2017-04-20",OSK,OSKH,0.81,15.432099
278,2016,0.1000,6.32,"2016-10-12,2016-04-19",OSK,OSKH,0.81,12.345679
279,2015,0.0750,4.60,2015-10-23,OSK,OSKH,0.81,9.259259

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2416,2018,0.05,12.05,2018-04-30,OSK Ventures Intl,OSKV,0.395,12.658228
2417,2017,0.02,3.25,2017-04-19,OSK Ventures Intl,OSKV,0.395,5.063291

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1885,2020,0.0390,6.61,2020-04-17,Oka Corporation Bhd,OKAC,0.595,6.554622
1886,2019,0.0783,11.95,"2019-11-04,2019-04-16",Oka Corporation Bhd,OKAC,0.595,13.159664
1887,2018,0.0917,9.77,"2018-10-12,2018-04-06",Oka Corporation Bhd,OKAC,0.595,15.411765
1888,2017,0.1100,6.41,"2017-10-31,2017-04-13",Oka Corporation Bhd,OKAC,0.595,18.487395
1889,2016,0.0800,6.00,"2016-11-02,2016-02-04",Oka Corporation Bhd,OKAC,0.595,13.445378
1890,2015,0.0300,3.35,2015-11-04,Oka Corporation Bhd,OKAC,0.595,5.042017

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1506,2020,0.0330,4.51,"2020-07-09,2020-03-09",Oriental Food Ind,OFIH,0.725,4.551724
1507,2019,0.0750,10.36,"2019-12-12,2019-09-12,2019-06-17,2019-03-06",Oriental Food Ind,OFIH,0.725,10.344828
1508,2018,0.0900,11.87,"2018-12-12,2018-09-19,2018-03-14",Oriental Food Ind,OFIH,0.725,12.413793
1509,2017,0.1600,11.27,"2017-12-07,2017-09-11,2017-06-08,2017-03-08",Oriental Food Ind,OFIH,0.725,22.068966
1510,2016,0.1775,9.74,"2016-12-09,2016-09-08,2016-06-09,2016-03-09",Oriental Food Ind,OFIH,0.725,24.482759
1511,2015,0.0450,2.11,2015-12-09,Oriental Food Ind,OFIH,0.725,6.206897

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1599,2019,0.0750,11.55,"2019-12-13,2019-09-20,2019-01-11",PW Consolidated,PWFC,0.5,15.00
1600,2018,0.0643,7.73,"2018-09-19,2018-01-17",PW Consolidated,PWFC,0.5,12.86
1601,2017,0.0386,3.92,2017-09-20,PW Consolidated,PWFC,0.5,7.72
1602,2016,0.1397,11.74,"2016-12-14,2016-07-11,2016-03-15,2016-01-20",PW Consolidated,PWFC,0.5,27.94
1603,2015,0.0800,6.40,2015-03-19,PW Consolidated,PWFC,0.5,16.00

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1526,2020,0.1260,15.71,"2020-05-14,2020-04-22,2020-03-04",Pacific Orient,PACO,0.79,15.949367
1527,2019,0.3401,34.81,"2019-12-30,2019-10-11,2019-07-26,2019-05-03,20...",Pacific Orient,PACO,0.79,43.050633
1528,2018,0.3188,29.04,"2018-10-12,2018-08-01,2018-05-04,2018-03-09,20...",Pacific Orient,PACO,0.79,40.354430
1529,2017,0.4390,34.58,"2017-10-12,2017-07-24,2017-04-21,2017-03-08,20...",Pacific Orient,PACO,0.79,55.569620
1530,2016,0.2930,22.38,"2016-07-22,2016-05-03,2016-02-22",Pacific Orient,PACO,0.79,37.088608
1531,2015,0.1810,12.83,"2015-12-29,2015-11-18",Pacific Orient,PACO,0.79,22.911392

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
433,2020,0.1,4.07,2020-03-12,Padini,PDNI,2.46,4.065041
434,2019,0.4,11.57,"2019-12-12,2019-09-12,2019-06-13,2019-03-13",Padini,PDNI,2.46,16.260163
435,2018,0.4,8.27,"2018-12-12,2018-09-12,2018-06-08,2018-03-13",Padini,PDNI,2.46,16.260163
436,2017,0.4,9.17,"2017-12-13,2017-09-13,2017-06-13,2017-03-08",Padini,PDNI,2.46,16.260163
437,2016,0.3,11.75,"2016-09-09,2016-06-01,2016-03-09",Padini,PDNI,2.46,12.195122
438,2015,0.2,4.61,"2015-12-10,2015-09-02",Padini,PDNI,2.46,8.130081

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1561,2020,1.98,6.56,2020-09-09,Panasonic Manufacture,PMMY,30.3,6.534653
1562,2019,4.52,13.98,"2019-12-20,2019-09-06",Panasonic Manufacture,PMMY,30.3,14.917492
1563,2018,2.96,7.80,"2018-12-26,2018-09-05",Panasonic Manufacture,PMMY,30.3,9.768977
1564,2017,2.34,6.09,"2017-12-26,2017-09-06",Panasonic Manufacture,PMMY,30.3,7.722772
1565,2016,2.78,7.59,"2016-12-23,2016-09-06",Panasonic Manufacture,PMMY,30.3,9.174917
1566,2015,1.00,1.71,"2015-12-22,2015-09-03",Panasonic Manufacture,PMMY,30.3,3.300330

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2168,2020,0.0200,5.26,2020-03-30,Pantech Group Holdings Bhd,PNTE,0.38,5.263158
2169,2019,0.0200,4.00,2019-12-30,Pantech Group Holdings Bhd,PNTE,0.38,5.263158
2170,2018,0.0598,11.50,"2018-12-27,2018-07-31,2018-03-28",Pantech Group Holdings Bhd,PNTE,0.38,15.736842
2171,2017,0.0679,10.48,"2017-12-27,2017-09-27,2017-08-02,2017-03-29",Pantech Group Holdings Bhd,PNTE,0.38,17.868421
2172,2016,0.0629,11.17,"2016-09-28,2016-07-27,2016-03-16",Pantech Group Holdings Bhd,PNTE,0.38,16.552632

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1532,2020,0.0160,6.40,2020-06-26,Paos,PAOS,0.25,6.40
1533,2019,0.0320,9.84,"2019-11-11,2019-05-14",Paos,PAOS,0.25,12.80
1534,2018,0.0080,2.11,2018-11-09,Paos,PAOS,0.25,3.20
1535,2017,0.0243,5.62,"2017-11-09,2017-05-15",Paos,PAOS,0.25,9.72
1536,2016,0.0417,4.88,"2016-11-10,2016-05-12",Paos,PAOS,0.25,16.68
1537,2015,0.0500,3.55,"2015-11-11,2015-05-13",Paos,PAOS,0.25,20.00

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1583,2020,0.0650,6.88,2020-07-08,Paramount Corp,PRMS,0.97,6.701031
1584,2019,0.1236,13.11,"2019-09-06,2019-06-19",Paramount Corp,PRMS,0.97,12.742268
1585,2018,0.1700,8.52,"2018-09-05,2018-06-18",Paramount Corp,PRMS,0.97,17.525773
1586,2017,0.1700,9.09,"2017-09-07,2017-05-29",Paramount Corp,PRMS,0.97,17.525773
1587,2016,0.1650,10.76,"2016-09-07,2016-05-30",Paramount Corp,PRMS,0.97,17.010309
1588,2015,0.0750,4.81,2015-09-08,Paramount Corp,PRMS,0.97,7.731959

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2302,2020,0.065,6.95,2020-03-26,Pecca Group,PECC,0.95,6.842105
2303,2019,0.115,11.78,"2019-11-07,2019-04-24",Pecca Group,PECC,0.95,12.105263
2304,2018,0.100,11.12,"2018-12-12,2018-03-27",Pecca Group,PECC,0.95,10.526316
2305,2017,0.090,6.58,"2017-12-12,2017-03-10",Pecca Group,PECC,0.95,9.473684
2306,2016,0.040,2.48,2016-12-07,Pecca Group,PECC,0.95,4.210526

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2324,2020,0.0113,6.28,2020-04-30,Perak Transit,PERT,0.18,6.277778
2325,2019,0.0230,13.80,"2019-12-04,2019-01-15",Perak Transit,PERT,0.18,12.777778
2326,2018,0.0253,9.05,"2018-11-26,2018-05-25,2018-01-18",Perak Transit,PERT,0.18,14.055556
2327,2017,0.0149,4.82,"2017-11-22,2017-08-24,2017-04-26",Perak Transit,PERT,0.18,8.277778

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1928,2019,0.60,13.71,"2019-09-04,2019-06-14",Perusahaan Sadur Timah,PSTM,4.08,14.705882
1929,2018,0.60,12.83,"2018-09-05,2018-05-07",Perusahaan Sadur Timah,PSTM,4.08,14.705882
1930,2017,0.40,11.11,2017-08-04,Perusahaan Sadur Timah,PSTM,4.08,9.803922
1931,2016,0.78,11.41,"2016-11-16,2016-08-03",Perusahaan Sadur Timah,PSTM,4.08,19.117647
1932,2015,0.73,6.48,"2015-11-13,2015-08-04",Perusahaan Sadur Timah,PSTM,4.08,17.892157

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
379,2020,1.30,6.39,"2020-06-03,2020-03-10",Petronas Dagangan,PETR,21.4,6.074766
380,2019,3.09,13.26,"2019-12-06,2019-09-10,2019-06-13,2019-03-11",Petronas Dagangan,PETR,21.4,14.439252
381,2018,3.17,11.59,"2018-12-10,2018-09-04,2018-06-01,2018-03-09",Petronas Dagangan,PETR,21.4,14.813084
382,2017,2.92,12.28,"2017-11-23,2017-09-05,2017-05-31,2017-03-06",Petronas Dagangan,PETR,21.4,13.644860
383,2016,2.40,10.23,"2016-11-21,2016-08-26,2016-05-24,2016-03-04",Petronas Dagangan,PETR,21.4,11.214953
384,2015,0.78,1.57,"2015-11-17,2015-08-20",Petronas Dagangan,PETR,21.4,3.644860

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
409,2020,1.44,9.04,"2020-06-12,2020-03-04",Petronas Gas,PGAS,16.98,8.480565
410,2019,2.88,17.74,"2019-12-05,2019-09-13,2019-06-18,2019-03-01",Petronas Gas,PGAS,16.98,16.961131
411,2018,2.69,14.73,"2018-12-13,2018-08-29,2018-05-31,2018-03-12",Petronas Gas,PGAS,16.98,15.842167
412,2017,2.56,14.08,"2017-11-23,2017-08-28,2017-05-26,2017-03-07",Petronas Gas,PGAS,16.98,15.076561
413,2016,2.40,11.18,"2016-11-16,2016-08-24,2016-05-23,2016-03-09",Petronas Gas,PGAS,16.98,14.134276
414,2015,1.01,2.57,"2015-11-18,2015-08-19",Petronas Gas,PGAS,16.98,5.948174

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2162,2020,0.165,7.43,2020-06-04,Pharmaniaga Bhd,PHMA,2.31,7.142857
2163,2019,0.485,21.57,"2019-09-11,2019-06-03,2019-03-08",Pharmaniaga Bhd,PHMA,2.31,20.995671
2164,2018,0.790,25.67,"2018-12-03,2018-09-03,2018-05-30,2018-03-13",Pharmaniaga Bhd,PHMA,2.31,34.199134
2165,2017,0.630,15.05,"2017-11-29,2017-08-29,2017-05-29,2017-03-07",Pharmaniaga Bhd,PHMA,2.31,27.272727
2166,2016,1.020,18.45,"2016-12-05,2016-09-02,2016-06-01,2016-03-01",Pharmaniaga Bhd,PHMA,2.31,44.155844
2167,2015,0.690,5.67,"2015-12-09,2015-09-01",Pharmaniaga Bhd,PHMA,2.31,29.870130

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1546,2020,0.16,6.30,2020-06-17,Pintaras Jaya,PINT,2.58,6.201550
1547,2019,0.40,13.37,"2019-12-24,2019-06-12",Pintaras Jaya,PINT,2.58,15.503876
1548,2018,0.40,16.03,"2018-12-26,2018-06-18",Pintaras Jaya,PINT,2.58,15.503876
1549,2017,0.40,12.05,"2017-12-26,2017-06-09",Pintaras Jaya,PINT,2.58,15.503876
1550,2016,0.39,10.74,"2016-12-23,2016-06-10",Pintaras Jaya,PINT,2.58,15.116279
1551,2015,0.18,5.10,2015-12-22,Pintaras Jaya,PINT,2.58,6.976744

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1540,2020,0.140,14.02,"2020-04-30,2020-04-29",Poh Huat Resources,PHUA,1.22,11.475410
1541,2019,0.140,9.46,"2019-10-30,2019-07-29,2019-05-13",Poh Huat Resources,PHUA,1.22,11.475410
1542,2018,0.210,15.08,"2018-11-28,2018-08-02,2018-04-26",Poh Huat Resources,PHUA,1.22,17.213115
1543,2017,0.240,13.61,"2017-11-13,2017-06-30,2017-04-05",Poh Huat Resources,PHUA,1.22,19.672131
1544,2016,0.175,10.69,"2016-11-22,2016-07-15,2016-05-10,2016-01-06",Poh Huat Resources,PHUA,1.22,14.344262
1545,2015,0.055,2.82,2015-09-30,Poh Huat Resources,PHUA,1.22,4.508197

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1573,2020,0.1690,7.40,"2020-06-15,2020-03-16",Power Root,POWE,2.33,7.253219
1574,2019,0.3042,15.40,"2019-12-13,2019-09-13,2019-06-18,2019-03-15",Power Root,POWE,2.33,13.055794
1575,2018,0.3035,20.02,"2018-12-14,2018-09-14,2018-06-18,2018-03-13",Power Root,POWE,2.33,13.025751
1576,2017,0.4500,22.78,"2017-12-14,2017-09-18,2017-06-15,2017-03-14",Power Root,POWE,2.33,19.313305
1577,2016,0.3950,18.97,"2016-12-15,2016-09-15,2016-06-13,2016-03-14",Power Root,POWE,2.33,16.952790
1578,2015,0.1500,3.38,"2015-12-10,2015-09-14",Power Root,POWE,2.33,6.437768

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1933,2020,0.010,2.30,2020-09-10,Prestar Resources Bhd,PTAR,0.43,2.325581
1934,2019,0.055,10.15,"2019-07-11,2019-01-18",Prestar Resources Bhd,PTAR,0.43,12.790698
1935,2018,0.050,7.14,2018-06-08,Prestar Resources Bhd,PTAR,0.43,11.627907
1936,2017,0.090,8.84,"2017-11-01,2017-06-05,2017-01-19",Prestar Resources Bhd,PTAR,0.43,20.930233
1937,2016,0.020,2.82,2016-07-27,Prestar Resources Bhd,PTAR,0.43,4.651163
1938,2015,0.020,3.85,2015-08-18,Prestar Resources Bhd,PTAR,0.43,4.651163

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2173,2018,0.0695,9.19,"2018-09-14,2018-06-04,2018-03-12",Prestariang Bhd,PSTG,0.46,15.108696
2174,2017,0.1225,7.61,"2017-12-07,2017-09-08,2017-06-05,2017-03-07",Prestariang Bhd,PSTG,0.46,26.630435
2175,2016,0.1425,6.45,"2016-12-06,2016-09-07,2016-06-07,2016-03-09",Prestariang Bhd,PSTG,0.46,30.978261
2176,2015,0.0325,1.14,2015-12-08,Prestariang Bhd,PSTG,0.46,7.065217

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1589,2019,0.0180,6.78,"2019-12-30,2019-06-18",Protasco,PRTO,0.25,7.20
1590,2018,0.1107,25.88,"2018-06-19,2018-01-09",Protasco,PRTO,0.25,44.28
1591,2017,0.1460,13.45,"2017-06-19,2017-01-09",Protasco,PRTO,0.25,58.40
1592,2016,0.0900,5.77,2016-06-15,Protasco,PRTO,0.25,36.00
1593,2015,0.1700,5.33,"2015-12-29,2015-06-17",Protasco,PRTO,0.25,68.00

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2228,2020,0.0983,11.06,"2020-05-06,2020-03-12",Ranhill Holdings,RANH,0.93,10.569892
2229,2019,0.1400,12.70,"2019-12-30,2019-07-24,2019-04-24",Ranhill Holdings,RANH,0.93,15.053763
2230,2018,0.2250,21.40,"2018-11-27,2018-08-23,2018-05-16,2018-01-29",Ranhill Holdings,RANH,0.93,24.193548
2231,2017,0.2440,33.11,"2017-11-24,2017-05-31,2017-03-13,2017-01-03",Ranhill Holdings,RANH,0.93,26.236559
2232,2016,0.0180,1.91,2016-09-09,Ranhill Holdings,RANH,0.93,1.935484

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2428,2019,0.0680,15.41,"2019-12-13,2019-07-10",SCC,SCCH,0.4,17.000
2429,2018,0.0670,13.21,"2018-12-27,2018-07-17",SCC,SCCH,0.4,16.750
2430,2017,0.0615,12.01,"2017-12-27,2017-06-09",SCC,SCCH,0.4,15.375

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1964,2020,0.0525,2.71,"2020-07-13,2020-04-13",SCGM Bhd,SCGB,1.97,2.664975
1965,2019,0.0725,7.04,"2019-12-23,2019-10-08,2019-07-11,2019-04-09",SCGM Bhd,SCGB,1.97,3.680203
1966,2018,0.2100,14.54,"2018-12-27,2018-10-08,2018-07-05,2018-03-28",SCGM Bhd,SCGB,1.97,10.659898
1967,2017,0.2600,9.29,"2017-12-20,2017-09-21,2017-07-07,2017-03-29",SCGM Bhd,SCGB,1.97,13.197970
1968,2016,0.3833,11.41,"2016-12-22,2016-09-20,2016-07-11,2016-03-25",SCGM Bhd,SCGB,1.97,19.456853

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1653,2020,0.150,7.50,2020-03-30,SHL Consolidated,SHLC,2.14,7.009346
1654,2019,0.400,17.61,"2019-09-19,2019-03-21",SHL Consolidated,SHLC,2.14,18.691589
1655,2018,0.405,16.87,"2018-09-13,2018-03-21",SHL Consolidated,SHLC,2.14,18.925234
1656,2016,0.420,14.68,"2016-09-14,2016-06-13",SHL Consolidated,SHLC,2.14,19.626168
1657,2015,0.500,8.39,"2015-12-11,2015-09-11",SHL Consolidated,SHLC,2.14,23.364486

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1981,2020,0.1100,12.65,"2020-06-11,2020-03-19",SLP Resources Bhd,SLPB,0.85,12.941176
1982,2019,0.2025,16.68,"2019-12-11,2019-09-05,2019-06-11,2019-03-11",SLP Resources Bhd,SLPB,0.85,23.823529
1983,2018,0.1350,12.29,"2018-12-05,2018-09-05,2018-03-09",SLP Resources Bhd,SLPB,0.85,15.882353
1984,2017,0.1213,6.59,"2017-12-06,2017-09-06,2017-03-09",SLP Resources Bhd,SLPB,0.85,14.270588
1985,2016,0.0900,3.51,"2016-12-06,2016-09-06,2016-03-08",SLP Resources Bhd,SLPB,0.85,10.588235
1986,2015,0.0250,1.16,2015-09-22,SLP Resources Bhd,SLPB,0.85,2.941176

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
467,2020,0.0100,1.18,2020-03-11,SP Setia,SETI,0.855,1.169591
468,2019,0.0855,6.68,2019-03-29,SP Setia,SETI,0.855,10.000000
469,2018,0.3090,12.13,"2018-10-09,2018-03-21",SP Setia,SETI,0.855,36.140351
470,2017,0.3948,11.87,"2017-09-12,2017-06-16",SP Setia,SETI,0.855,46.175439
471,2016,0.3834,10.83,"2016-10-26,2016-06-30",SP Setia,SETI,0.855,44.842105
472,2015,0.0970,3.10,2015-08-07,SP Setia,SETI,0.855,11.345029

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2308,2020,0.024,4.80,2020-03-09,Salutica Bhd,SALU,0.515,4.660194
2309,2019,0.096,17.56,"2019-12-06,2019-09-06,2019-06-13,2019-03-13",Salutica Bhd,SALU,0.515,18.640777
2310,2018,0.096,18.24,"2018-12-06,2018-09-13,2018-06-07,2018-02-26",Salutica Bhd,SALU,0.515,18.640777
2311,2017,0.072,5.66,"2017-12-06,2017-09-13,2017-06-13",Salutica Bhd,SALU,0.515,13.980583

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2187,2020,0.0600,8.49,"2020-07-30,2020-03-03",Samchem Holdings Bhd,SAHB,0.705,8.510638
2188,2019,0.0850,13.85,"2019-12-02,2019-07-19,2019-06-10",Samchem Holdings Bhd,SAHB,0.705,12.056738
2189,2018,0.1050,13.68,"2018-10-23,2018-07-24,2018-06-01",Samchem Holdings Bhd,SAHB,0.705,14.893617
2190,2017,0.0975,10.56,"2017-11-22,2017-09-20,2017-05-29",Samchem Holdings Bhd,SAHB,0.705,13.829787
2191,2016,0.1475,13.40,"2016-11-25,2016-09-14,2016-06-28,2016-05-03",Samchem Holdings Bhd,SAHB,0.705,20.921986
2192,2015,0.0325,4.33,2015-09-07,Samchem Holdings Bhd,SAHB,0.705,4.609929

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1951,2020,0.02,5.00,2020-08-25,Sapura Industrial Bhd,SAPU,0.435,4.597701
1952,2019,0.05,13.89,2019-07-25,Sapura Industrial Bhd,SAPU,0.435,11.494253
1953,2018,0.08,10.96,"2018-12-24,2018-08-16",Sapura Industrial Bhd,SAPU,0.435,18.390805
1954,2017,0.11,12.92,"2017-12-22,2017-08-04",Sapura Industrial Bhd,SAPU,0.435,25.287356
1955,2016,0.12,12.57,"2016-11-22,2016-07-14",Sapura Industrial Bhd,SAPU,0.435,27.586207
1956,2015,0.12,5.83,"2015-12-22,2015-07-23",Sapura Industrial Bhd,SAPU,0.435,27.586207

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2427,2017,0.0292,4.64,"2017-05-12,2017-01-26",Sasbadi,SAHO,0.135,21.62963

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2193,2020,0.1000,10.29,"2020-06-15,2020-03-05",Scicom MSC Bhd,SCCM,0.95,10.526316
2194,2019,0.2650,27.25,"2019-12-09,2019-09-12,2019-06-07,2019-03-08",Scicom MSC Bhd,SCCM,0.95,27.894737
2195,2018,0.3600,20.84,"2018-12-05,2018-09-07,2018-06-04,2018-02-20",Scicom MSC Bhd,SCCM,0.95,37.894737
2196,2017,0.3600,18.56,"2017-11-23,2017-09-08,2017-06-01,2017-03-10",Scicom MSC Bhd,SCCM,0.95,37.894737
2197,2016,0.3400,15.69,"2016-11-17,2016-09-08,2016-06-03,2016-03-08",Scicom MSC Bhd,SCCM,0.95,35.789474
2198,2015,0.1525,3.43,"2015-12-10,2015-09-03",Scicom MSC Bhd,SCCM,0.95,16.052632

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2474,2020,0.0989,5.75,"2020-06-12,2020-03-13",Serba Dinamik,SERB,1.75,5.651429
2475,2019,0.2994,7.83,"2019-12-13,2019-09-13,2019-06-14,2019-03-12",Serba Dinamik,SERB,1.75,17.108571
2476,2018,0.2775,7.42,"2018-12-11,2018-09-14,2018-06-11,2018-03-13",Serba Dinamik,SERB,1.75,15.857143

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
169,2020,0.09,4.31,2020-04-24,Sime Darby,SIME,2.13,4.225352
170,2019,0.09,4.50,2019-09-30,Sime Darby,SIME,2.13,4.225352
171,2018,0.25,10.29,"2018-09-27,2018-04-17",Sime Darby,SIME,2.13,11.737089
172,2017,0.50,11.40,"2017-12-04,2017-04-19",Sime Darby,SIME,2.13,23.474178
173,2016,0.52,6.20,"2016-11-14,2016-04-19",Sime Darby,SIME,2.13,24.413146
174,2015,0.61,3.14,"2015-12-09,2015-04-21",Sime Darby,SIME,2.13,28.638498

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2503,2020,0.04,5.88,2020-03-30,Sime Darby Property,SIPR,0.69,5.797101
2504,2019,0.04,5.14,"2019-09-27,2019-03-27",Sime Darby Property,SIPR,0.69,5.797101
2505,2018,0.10,8.30,"2018-09-26,2018-04-12",Sime Darby Property,SIPR,0.69,14.492754

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2216,2020,0.02,5.71,2020-03-30,Star Media Group Bhd,STAR,0.355,5.633803
2217,2019,0.03,8.00,2019-03-27,Star Media Group Bhd,STAR,0.355,8.450704
2218,2018,0.12,15.38,2018-03-28,Star Media Group Bhd,STAR,0.355,33.802817
2219,2017,0.33,19.14,"2017-09-27,2017-03-29",Star Media Group Bhd,STAR,0.355,92.957746
2220,2016,0.36,14.45,"2016-09-28,2016-03-29",Star Media Group Bhd,STAR,0.355,101.408451
2221,2015,0.15,6.28,2015-09-22,Star Media Group Bhd,STAR,0.355,42.253521

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2006,2020,0.0981,6.02,2020-02-27,Sunway Real Estate Invest Trust,SUNW,1.63,6.018405
2007,2019,0.3791,20.23,"2019-11-19,2019-08-23,2019-05-16,2019-02-27",Sunway Real Estate Invest Trust,SUNW,1.63,23.257669
2008,2018,0.3833,22.43,"2018-11-15,2018-08-23,2018-05-16,2018-02-20",Sunway Real Estate Invest Trust,SUNW,1.63,23.515337
2009,2017,0.3686,21.50,"2017-11-13,2017-08-24,2017-05-18,2017-02-27",Sunway Real Estate Invest Trust,SUNW,1.63,22.613497
2010,2016,0.2716,16.18,"2016-08-25,2016-05-12,2016-02-11",Sunway Real Estate Invest Trust,SUNW,1.63,16.662577
2011,2015,0.1730,5.87,"2015-11-12,2015-08-24",Sunway Real Estate Invest Trust,SUNW,1.63,10.613497

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1993,2020,0.0305,4.42,2020-03-27,Superlon Holdings Bhd,SPLH,0.69,4.420290
1994,2019,0.0610,6.89,"2019-07-09,2019-04-03,2019-01-02",Superlon Holdings Bhd,SPLH,0.69,8.840580
1995,2018,0.0875,6.21,"2018-07-05,2018-04-02,2018-01-02",Superlon Holdings Bhd,SPLH,0.69,12.681159
1996,2017,0.0825,4.20,"2017-07-05,2017-04-10",Superlon Holdings Bhd,SPLH,0.69,11.956522
1997,2016,0.1550,6.71,"2016-12-29,2016-07-13,2016-01-14",Superlon Holdings Bhd,SPLH,0.69,22.463768

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
199,2018,0.036,7.27,2018-05-16,TH Plantations,THPB,0.295,12.203390
200,2017,0.106,11.40,"2017-12-06,2017-05-09",TH Plantations,THPB,0.295,35.932203
201,2015,0.020,1.80,2015-05-20,TH Plantations,THPB,0.295,6.779661

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2259,2020,0.1575,18.86,"2020-05-29,2020-03-11,2020-01-24",Taliworks Corporation Bhd,TWRK,0.865,18.208092
2260,2019,0.1440,15.91,"2019-10-30,2019-07-29,2019-04-25",Taliworks Corporation Bhd,TWRK,0.865,16.647399
2261,2018,0.2880,26.56,"2018-12-27,2018-09-26,2018-06-13,2018-03-15",Taliworks Corporation Bhd,TWRK,0.865,33.294798
2262,2017,0.3200,26.79,"2017-12-14,2017-08-29,2017-06-15,2017-03-01",Taliworks Corporation Bhd,TWRK,0.865,36.994220
2263,2016,0.2400,16.67,"2016-08-23,2016-06-13,2016-03-10",Taliworks Corporation Bhd,TWRK,0.865,27.745665
2264,2015,0.0650,4.85,2015-12-09,Taliworks Corporation Bhd,TWRK,0.865,7.514451

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1707,2020,0.0245,4.90,2020-01-30,Tambun Indah Land,TAMB,0.52,4.711538
1708,2019,0.1160,18.10,"2019-08-22,2019-01-24",Tambun Indah Land,TAMB,0.52,22.307692
1709,2018,0.1770,22.22,"2018-07-30,2018-01-22",Tambun Indah Land,TAMB,0.52,34.038462
1710,2017,0.1900,16.24,"2017-07-24,2017-01-24",Tambun Indah Land,TAMB,0.52,36.538462
1711,2016,0.1870,13.32,"2016-08-01,2016-01-26",Tambun Indah Land,TAMB,0.52,35.961538
1712,2015,0.0970,0.00,2015-09-01,Tambun Indah Land,TAMB,0.52,18.653846

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2034,2019,0.06,1.06,2019-05-09,Tasek Corporation Bhd,TKCS,5.79,1.036269
2035,2018,0.40,7.50,2018-05-14,Tasek Corporation Bhd,TKCS,5.79,6.908463
2036,2017,1.20,12.24,2017-05-09,Tasek Corporation Bhd,TKCS,5.79,20.725389
2037,2016,2.10,14.94,"2016-08-18,2016-05-12",Tasek Corporation Bhd,TKCS,5.79,36.269430
2038,2015,0.60,4.02,2015-11-18,Tasek Corporation Bhd,TKCS,5.79,10.362694

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1733,2020,0.0600,6.67,2020-02-27,Teo Seng Capital,TSCP,0.92,6.521739
1734,2019,0.1475,11.86,"2019-12-06,2019-06-17,2019-04-11",Teo Seng Capital,TSCP,0.92,16.032609
1735,2016,0.0500,4.88,"2016-11-18,2016-07-05",Teo Seng Capital,TSCP,0.92,5.434783
1736,2015,0.0250,1.89,2015-11-27,Teo Seng Capital,TSCP,0.92,2.717391
1737,2014,0.0333,0.00,2014-09-15,Teo Seng Capital,TSCP,0.92,3.619565

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2239,2017,0.1,21.05,2017-12-28,Texchem Resources Bhd,TEXC,0.465,21.505376
2240,2016,0.1,10.42,2016-12-23,Texchem Resources Bhd,TEXC,0.465,21.505376
2241,2015,0.3,17.67,"2015-12-28,2015-08-17",Texchem Resources Bhd,TEXC,0.465,64.516129

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2045,2020,0.1100,10.74,"2020-08-13,2020-06-05",Tien Wah Press Holdings,TWPH,1.01,10.891089
2046,2019,0.0800,7.77,2019-06-04,Tien Wah Press Holdings,TWPH,1.01,7.920792
2047,2018,0.0600,5.22,2018-06-06,Tien Wah Press Holdings,TWPH,1.01,5.940594
2048,2017,0.2200,13.15,"2017-09-27,2017-06-07",Tien Wah Press Holdings,TWPH,1.01,21.782178
2049,2016,0.3072,17.12,"2016-09-28,2016-06-07",Tien Wah Press Holdings,TWPH,1.01,30.415842
2050,2015,0.0800,2.84,2015-09-29,Tien Wah Press Holdings,TWPH,1.01,7.920792

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2039,2018,0.0290,3.92,"2018-06-13,2018-03-13",Tomypak Holdings Bhd,TOMY,0.505,5.742574
2040,2017,0.1720,13.01,"2017-12-07,2017-09-19,2017-05-31,2017-03-14",Tomypak Holdings Bhd,TOMY,0.505,34.059406
2041,2016,0.3481,18.37,"2016-12-08,2016-09-09,2016-05-31,2016-03-16",Tomypak Holdings Bhd,TOMY,0.505,68.930693
2042,2015,0.1400,3.29,"2015-12-09,2015-09-02",Tomypak Holdings Bhd,TOMY,0.505,27.722772

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2028,2020,0.10,4.81,2020-06-26,Tong Herr Resources Bhd,THRB,2.09,4.784689
2029,2019,0.20,11.05,2019-05-31,Tong Herr Resources Bhd,THRB,2.09,9.569378
2030,2018,0.62,16.02,"2018-12-10,2018-05-31",Tong Herr Resources Bhd,THRB,2.09,29.665072
2031,2017,0.68,19.97,"2017-12-08,2017-06-01",Tong Herr Resources Bhd,THRB,2.09,32.535885
2032,2016,0.25,10.78,"2016-12-08,2016-06-10",Tong Herr Resources Bhd,THRB,2.09,11.961722
2033,2015,0.12,6.09,2015-06-12,Tong Herr Resources Bhd,THRB,2.09,5.741627

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2531,2020,0.0518,6.91,2020-02-05,Tower Real Estate,TWRE,0.75,6.906667
2532,2019,0.0593,7.32,2019-08-09,Tower Real Estate,TWRE,0.75,7.906667
2533,2018,0.1500,16.05,"2018-11-09,2018-08-13,2018-02-19",Tower Real Estate,TWRE,0.75,20.000000

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2125,2019,0.0300,8.96,2019-05-27,Tune Protect Group Bhd,TUNE,0.345,8.695652
2126,2018,0.0300,4.48,2018-05-30,Tune Protect Group Bhd,TUNE,0.345,8.695652
2127,2017,0.0520,7.22,2017-05-18,Tune Protect Group Bhd,TUNE,0.345,15.072464
2128,2016,0.0500,3.65,2016-06-01,Tune Protect Group Bhd,TUNE,0.345,14.492754
2129,2015,0.0404,3.04,2015-06-03,Tune Protect Group Bhd,TUNE,0.345,11.710145

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2507,2020,0.0911,7.41,2020-02-05,UOA REIT,UOAR,1.23,7.406504
2508,2019,0.1846,14.94,"2019-08-06,2019-02-04",UOA REIT,UOAR,1.23,15.008130
2509,2018,0.1684,11.82,"2018-08-09,2018-02-07",UOA REIT,UOAR,1.23,13.691057

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2063,2018,0.0333,4.30,2018-04-26,United U Li Corporation,UULI,0.36,9.250000
2064,2017,0.1200,4.15,2017-03-29,United U Li Corporation,UULI,0.36,33.333333
2065,2016,0.6300,13.38,"2016-12-27,2016-09-26,2016-06-23,2016-04-14,20...",United U Li Corporation,UULI,0.36,175.000000
2066,2015,0.1400,2.94,2015-10-19,United U Li Corporation,UULI,0.36,38.888889

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2067,2020,0.0680,5.79,"2020-02-17,2020-01-16",VS Industry Bhd,VSID,1.0,6.80
2068,2019,0.1910,16.92,"2019-10-15,2019-07-15,2019-04-10,2019-02-20,20...",VS Industry Bhd,VSID,1.0,19.10
2069,2018,0.2560,13.22,"2018-10-12,2018-07-12,2018-04-10,2018-02-21,20...",VS Industry Bhd,VSID,1.0,25.60
2070,2017,0.1819,8.00,"2017-10-12,2017-07-10,2017-04-26,2017-02-24",VS Industry Bhd,VSID,1.0,18.19
2071,2016,0.2280,17.77,"2016-07-13,2016-04-27,2016-02-24,2016-01-15",VS Industry Bhd,VSID,1.0,22.80
2072,2015,0.0360,0.00,2015-10-12,VS Industry Bhd,VSID,1.0,3.60

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2076,2020,0.1110,13.06,"2020-06-12,2020-03-10",Wellcall Holdings Bhd,WCAL,0.83,13.373494
2077,2019,0.2205,19.07,"2019-12-13,2019-09-10,2019-06-12,2019-03-13",Wellcall Holdings Bhd,WCAL,0.83,26.566265
2078,2018,0.2308,18.06,"2018-12-06,2018-09-07,2018-06-08,2018-03-09",Wellcall Holdings Bhd,WCAL,0.83,27.807229
2079,2017,0.3072,16.71,"2017-12-12,2017-09-15,2017-06-08,2017-03-16",Wellcall Holdings Bhd,WCAL,0.83,37.012048
2080,2016,0.3680,17.77,"2016-12-08,2016-09-09,2016-06-08,2016-03-09",Wellcall Holdings Bhd,WCAL,0.83,44.337349
2081,2015,0.1840,3.55,"2015-12-07,2015-09-11",Wellcall Holdings Bhd,WCAL,0.83,22.168675

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2084,2018,0.07,5.93,2018-06-20,White Horse Bhd,WHSE,0.71,9.859155
2085,2017,0.20,10.48,"2017-12-20,2017-06-21",White Horse Bhd,WHSE,0.71,28.169014
2086,2016,0.20,9.98,"2016-12-21,2016-06-20",White Horse Bhd,WHSE,0.71,28.169014
2087,2015,0.10,4.63,2015-12-21,White Horse Bhd,WHSE,0.71,14.084507

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2455,2020,0.0039,0.37,2020-03-04,YTL Hospitality REIT,YTLR,1.07,0.364486
2456,2019,0.3056,22.95,"2019-12-09,2019-08-14,2019-06-17,2019-03-11",YTL Hospitality REIT,YTLR,1.07,28.560748
2457,2018,0.2912,24.42,"2018-12-05,2018-08-10,2018-06-06,2018-03-08",YTL Hospitality REIT,YTLR,1.07,27.214953
2458,2017,0.2702,22.84,"2017-12-06,2017-08-09,2017-06-07,2017-03-08",YTL Hospitality REIT,YTLR,1.07,25.252336
2459,2016,0.0864,7.20,2016-12-09,YTL Hospitality REIT,YTLR,1.07,8.074766

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1797,2020,0.040,6.15,2020-07-28,Yoong Onn Corp,YGON,0.645,6.201550
1798,2019,0.095,12.57,"2019-12-19,2019-07-08",Yoong Onn Corp,YGON,0.645,14.728682
1799,2018,0.090,8.21,"2018-12-19,2018-07-05",Yoong Onn Corp,YGON,0.645,13.953488
1800,2017,0.090,7.58,"2017-12-20,2017-07-07",Yoong Onn Corp,YGON,0.645,13.953488
1801,2016,0.120,10.39,"2016-12-20,2016-07-07,2016-01-06",Yoong Onn Corp,YGON,0.645,18.604651
1802,2015,0.040,0.00,2015-07-06,Yoong Onn Corp,YGON,0.645,6.201550

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
202,2020,0.170,15.32,"2020-05-27,2020-02-18",Zhulian Corp,ZHCO,1.19,14.285714
203,2019,0.320,21.46,"2019-11-14,2019-08-15,2019-05-14,2019-02-11",Zhulian Corp,ZHCO,1.19,26.890756
204,2018,0.270,19.79,"2018-11-02,2018-08-15,2018-05-14,2018-02-12",Zhulian Corp,ZHCO,1.19,22.689076
205,2017,0.240,13.18,"2017-11-01,2017-08-09,2017-05-08,2017-02-14",Zhulian Corp,ZHCO,1.19,20.168067
206,2016,0.180,12.60,"2016-08-10,2016-05-09,2016-02-15",Zhulian Corp,ZHCO,1.19,15.126050
207,2015,0.065,4.48,2015-10-29,Zhulian Corp,ZHCO,1.19,5.462185