In [1]:
# default_exp data.finance

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [75]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [71]:
from libs import is_lib_exists

In [76]:
required_libs = [ ("numpy", "numpy"),
                  ("pandas", "pandas"),
                  ("seaborn", "seaborn"),
                  ("matplotlib", "matplotlib"),
                  ("investpy", "investpy"),
                  ("dateutil", "python-dateutil"),
                ]

In [73]:
for (clz,lib) in required_libs:
    if not is_lib_exists(clz):
        print(f"Installing {lib}")
        !pip install {lib}
    else:
        print(f"{lib} exists")

numpy exists
pandas exists
seaborn exists
matplotlib exists
investpy exists
python-dateutil exists

In [7]:
#export
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import investpy
from pathlib import Path
from dateutil.relativedelta import *
from datetime import *
import calendar
import traceback

In [8]:
%matplotlib inline

In [80]:
# % - line, %% - cell
# %run, %%timeit, %%writefile, %pycat
# %who, %store
# %html 
# %env, %pinfo
# %lsmagic
# %history
# %prun
# %%heat
# https://github.com/lmmx/devnotes/wiki/IPython-'magic'-function-documentation#edit
# %quickref

# https://ipython.readthedocs.io/en/stable/interactive/magics.html#

In [85]:
#%%bash
#for i in {2..10}
#do
#echo $i
#done

In [10]:
from IPython.display import display, Image

# Finance Data

> Functionality to gather finance data.

The classes here provide bases classes used to gather finance data for model training.

In [11]:
#hide
from nbdev.showdoc import *

In [12]:
# Dataset path
DATASET_PATH = Path("../../data")  

# Country to analyze
COUNTRY = "malaysia"

# Dataset
DATASET = DATASET_PATH/f"ftse_klse_investing.csv"

# Stocks summary
DATASET_STOCKS_SUMMARY = DATASET_PATH/f"stocks_summary.csv"

## FTSE KLSE

In [13]:
# Retrieve stock components
dataset = investpy.get_stocks(country=COUNTRY)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 929 entries, 0 to 928
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    929 non-null    object
 1   name       929 non-null    object
 2   full_name  929 non-null    object
 3   isin       929 non-null    object
 4   currency   929 non-null    object
 5   symbol     929 non-null    object
dtypes: object(6)
memory usage: 43.7+ KB

In [14]:
# Save the dataset
dataset.to_csv(DATASET, index=False)

#dataset = pd.read_csv(DATASET, header=0, sep=',', quotechar='"')

In [15]:
display(dataset.head(3))

,country,name,full_name,isin,currency,symbol
0,malaysia,Media Chinese Int,Media Chinese International Ltd,BMG5959D1048,MYR,MDCH
1,malaysia,AMMB,AMMB Holdings Bhd,MYL1015OO006,MYR,AMMB
2,malaysia,CIMB Group,CIMB Group Holdings Bhd,MYL1023OO000,MYR,CIMB

## TODO - stock sector, balance sheet and P&L

In [16]:
def calculate_yield(idx, name, symbol):
    """Calculate stock yield based on latest close price"""
    try:
        df_dividends = investpy.get_stock_dividends(stock=symbol, country=COUNTRY)
        #display(df_dividends)
        df_dividends['Year'] = pd.DatetimeIndex(df_dividends['Date']).year
        # Convert yield percentage to number
        df_dividends['Historical Yield'] =  df_dividends['Yield'].apply(\
                                                     lambda y : \
                                                     float(y.translate(str.maketrans({',': '.', '%': '', '-':'0'}))))
        
        # Aggregate the dividends by years
        df_dividends_summary = df_dividends.groupby(by=['Year'], sort=False, as_index=False).\
                                agg({'Dividend':'sum', 'Historical Yield':'sum', \
                                     'Date': lambda d: ','.join(d.dt.strftime('%Y-%m-%d'))})
        # print(df_dividends.groupby(by=['Year'], sort=False, as_index=False))
        # display(df_dividends_summary[df_dividends_summary['Year'].isin(PAST_3_YEARS)])
        #display(df_dividends_summary)
        
        df_recent_data = investpy.get_stock_recent_data(stock=symbol, country=COUNTRY).reset_index()
        last_close_price = df_recent_data[df_recent_data['Date'].eq(df_recent_data['Date'].max())]['Close'].values[0]
        # display(f"Recent price {last_close_price}")
        # display(df_recent_data)
     
        df_dividends_summary['Name'] = name
        df_dividends_summary['Symbol'] = symbol
        df_dividends_summary['Last Close Price'] = last_close_price
        df_dividends_summary['Calculated Yield'] = df_dividends_summary['Dividend'] / last_close_price * 100
       
        # display(df_dividends_summary)
        
        
        print(f'{idx}. {symbol} - {name}')
        return df_dividends_summary
            
    except Exception as exception:
        print(f"{idx}. Skipping {name} - {symbol}")
        #traceback.print_exc()
        return pd.DataFrame()

In [17]:
def summarize_stocks(df_summary, df):
    """Summarize the stock dividends details"""
    if df is None or df.empty:
        return df_summary
    if df_summary.empty:
        return df
    return df_summary.append(df)

In [18]:
import time

def generate_dataset():
    #!rm -rf {DATASET_STOCK_SUMMARY}
    df_all_dividends = pd.DataFrame()

    #df = calculate_yield(0, "BIMB", "BIMB")
    #df_all_dividends = summarize_stocks(df_all_dividends, df)
    #display(df_all_dividends)

    START_INDEX = 0
    for idx, row in dataset.iloc[START_INDEX:].iterrows():
        name = row['name']
        symbol = row['symbol']
        df = calculate_yield(idx, name, symbol)
        df_all_dividends = summarize_stocks(df_all_dividends, df)
        if (idx % 10 == 0 or idx == (len(dataset) - 1)):
            df_all_dividends.to_csv(DATASET_STOCKS_SUMMARY, mode='a', index=False)
            df_all_dividends = pd.DataFrame()
        time.sleep(3)
    # display(df_all_dividends)

# Generate the dataset again?

In [19]:
dataset = pd.read_csv(DATASET_STOCKS_SUMMARY, header=0, sep=',', quotechar='"')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2551 entries, 0 to 2550
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              2551 non-null   int64
 1   Dividend          2551 non-null   float64
 2   Historical Yield  2551 non-null   float64
 3   Date              2551 non-null   object
 4   Name              2551 non-null   object
 5   Symbol            2551 non-null   object
 6   Last Close Price  2551 non-null   float64
 7   Calculated Yield  2551 non-null   float64
dtypes: float64(4), int64(1), object(3)
memory usage: 159.6+ KB

In [88]:
# Today's date
TODAY = date.today()

# Past 3 years
PAST_3_YEARS = [ TODAY.year - y for y in range(1,4) ]

# Expected YIELD %
EXPECTED_YIELD_PERCENTAGE = 20

In [89]:
df_dividend_stocks = dataset[
                 (dataset['Year'].isin(PAST_3_YEARS)) & 
                 (dataset['Calculated Yield'] >= EXPECTED_YIELD_PERCENTAGE)]
df_dividend_stocks = df_dividend_stocks.sort_values(by=['Name', 'Year'])

In [90]:
for symbol in df_dividend_stocks['Symbol'].unique():
    display(dataset[dataset['Symbol']==symbol])

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
604,2019,0.0200,11.76,2019-09-26,AYS Ventures,AYSV,0.175,11.428571
605,2018,0.0500,14.74,"2018-08-01,2018-03-14",AYS Ventures,AYSV,0.175,28.571429
606,2017,0.0250,5.95,2017-08-02,AYS Ventures,AYSV,0.175,14.285714
607,2016,0.0283,6.11,"2016-12-06,2016-03-07",AYS Ventures,AYSV,0.175,16.171429

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
282,2019,0.24,28.24,2019-03-11,Airasia,AIRA,0.9,26.666667
283,2018,0.24,7.74,2018-06-12,Airasia,AIRA,0.9,26.666667
284,2017,0.30,9.13,"2017-09-13,2017-05-23",Airasia,AIRA,0.9,33.333333
285,2016,0.04,1.30,2016-05-26,Airasia,AIRA,0.9,4.444444
286,2015,0.03,1.64,2015-06-01,Airasia,AIRA,0.9,3.333333

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2120,2020,0.0448,6.53,"2020-03-24,2020-02-14",Al-Salam Real Estate,ALSA,0.69,6.492754
2121,2019,0.2150,24.52,"2019-12-11,2019-09-23,2019-06-17,2019-02-14",Al-Salam Real Estate,ALSA,0.69,31.159420
2122,2018,0.1215,14.30,"2018-09-18,2018-06-13,2018-02-12",Al-Salam Real Estate,ALSA,0.69,17.608696
2123,2017,0.1225,12.42,"2017-09-13,2017-02-14",Al-Salam Real Estate,ALSA,0.69,17.753623
2124,2016,0.0320,3.05,2016-09-13,Al-Salam Real Estate,ALSA,0.69,4.637681

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
537,2017,0.205,41.84,2017-07-03,Aluminium Malaysia,ALCO,0.4,51.25
538,2015,0.050,3.70,2015-08-03,Aluminium Malaysia,ALCO,0.4,12.50

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2528,2020,0.0620,9.12,2020-03-06,AmanahRaya Real Estate,AMRY,0.69,8.985507
2529,2019,0.2400,30.14,"2019-12-11,2019-09-18,2019-06-14,2019-03-13",AmanahRaya Real Estate,AMRY,0.69,34.782609
2530,2018,0.1745,20.79,"2018-12-13,2018-09-14,2018-06-19",AmanahRaya Real Estate,AMRY,0.69,25.289855

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
545,2019,0.120,16.67,2019-05-07,Ann Joo Resources,ANNJ,0.74,16.216216
546,2018,0.380,21.69,"2018-09-07,2018-04-19",Ann Joo Resources,ANNJ,0.74,51.351351
547,2017,0.195,5.70,"2017-09-06,2017-05-08",Ann Joo Resources,ANNJ,0.74,26.351351
548,2015,0.030,1.56,2015-06-03,Ann Joo Resources,ANNJ,0.74,4.054054

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
501,2019,0.44,19.81,"2019-10-03,2019-04-17,2019-01-14",Asia File Corp,AFCB,1.85,23.783784
502,2018,0.47,17.21,"2018-10-05,2018-05-08,2018-01-17",Asia File Corp,AFCB,1.85,25.405405
503,2017,0.07,2.10,2017-05-09,Asia File Corp,AFCB,1.85,3.783784
504,2016,0.44,12.89,"2016-12-22,2016-08-26,2016-03-31",Asia File Corp,AFCB,1.85,23.783784
505,2015,0.15,3.23,2015-11-16,Asia File Corp,AFCB,1.85,8.108108

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
415,2020,0.1400,15.71,"2020-07-02,2020-04-08",Astro Malaysia,ASTR,0.82,17.073171
416,2019,0.3300,27.33,"2019-12-18,2019-09-27,2019-07-09,2019-04-08",Astro Malaysia,ASTR,0.82,40.243902
417,2018,0.1200,6.67,2018-04-10,Astro Malaysia,ASTR,0.82,14.634146
418,2017,0.4750,22.42,"2017-12-19,2017-09-29,2017-06-30,2017-04-10",Astro Malaysia,ASTR,0.82,57.926829
419,2016,0.5126,17.97,"2016-12-21,2016-09-28,2016-06-14,2016-04-04",Astro Malaysia,ASTR,0.82,62.512195
420,2015,0.2450,8.44,"2015-12-21,2015-09-30",Astro Malaysia,ASTR,0.82,29.878049

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2522,2020,0.1373,13.39,"2020-06-12,2020-02-20",Atrium,ATRL,1.04,13.201923
2523,2019,0.2930,26.69,"2019-11-13,2019-07-17,2019-03-21,2019-02-12",Atrium,ATRL,1.04,28.173077
2524,2018,0.1525,13.80,"2018-08-10,2018-05-14",Atrium,ATRL,1.04,14.663462

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
163,2020,3.41,28.05,"2020-06-05,2020-03-17,2020-03-05",BAT Malaysia,BATO,10.76,31.691450
164,2019,5.82,28.22,"2019-11-13,2019-08-08,2019-06-13,2019-03-06",BAT Malaysia,BATO,10.76,54.089219
165,2018,6.36,18.66,"2018-11-01,2018-08-01,2018-06-01,2018-03-09",BAT Malaysia,BATO,10.76,59.107807
166,2017,8.67,21.31,"2017-11-10,2017-08-10,2017-05-12,2017-03-09",BAT Malaysia,BATO,10.76,80.576208
167,2016,8.57,16.11,"2016-08-11,2016-05-16,2016-03-03",BAT Malaysia,BATO,10.76,79.646840
168,2015,6.24,5.58,"2015-11-13,2015-08-13",BAT Malaysia,BATO,10.76,57.992565

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
47,2020,0.1600,7.27,2020-03-10,Berjaya Sports Toto,BSTB,2.2,7.272727
48,2019,0.6350,25.35,"2019-12-12,2019-07-18,2019-04-10,2019-01-16",Berjaya Sports Toto,BSTB,2.2,28.863636
49,2018,0.6100,26.95,"2018-10-03,2018-07-16,2018-04-11,2018-01-24",Berjaya Sports Toto,BSTB,2.2,27.727273
50,2017,0.6100,24.15,"2017-10-06,2017-07-18,2017-04-11,2017-01-05",Berjaya Sports Toto,BSTB,2.2,27.727273
51,2016,0.5189,16.22,"2016-07-18,2016-04-11,2016-01-18",Berjaya Sports Toto,BSTB,2.2,23.586364
52,2015,0.1839,5.99,2015-10-08,Berjaya Sports Toto,BSTB,2.2,8.359091

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
624,2020,0.2495,16.96,"2020-05-04,2020-01-28",Bermaz Auto,BERA,1.48,16.858108
625,2019,0.4230,18.36,"2019-10-09,2019-07-09,2019-04-05",Bermaz Auto,BERA,1.48,28.581081
626,2018,0.4480,20.83,"2018-12-27,2018-10-08,2018-07-06,2018-04-06,20...",Bermaz Auto,BERA,1.48,30.270270
627,2017,0.4320,21.27,"2017-10-09,2017-07-07,2017-04-06,2017-01-05",Bermaz Auto,BERA,1.48,29.189189
628,2016,0.3909,17.41,"2016-10-04,2016-07-05,2016-03-30,2016-01-04",Bermaz Auto,BERA,1.48,26.412162

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
653,2020,0.26,6.08,"2020-07-20,2020-03-26",Bintulu Port,BPOT,4.2,6.190476
654,2019,0.62,14.10,"2019-12-13,2019-09-19,2019-07-18,2019-03-27",Bintulu Port,BPOT,4.2,14.761905
655,2018,0.71,13.34,"2018-12-12,2018-09-19,2018-07-18,2018-05-14",Bintulu Port,BPOT,4.2,16.904762
656,2017,0.91,15.06,"2017-12-13,2017-09-18,2017-07-12,2017-05-09",Bintulu Port,BPOT,4.2,21.666667
657,2016,0.92,13.95,"2016-11-30,2016-09-21,2016-07-20,2016-05-11",Bintulu Port,BPOT,4.2,21.904762
658,2015,0.44,3.10,"2015-12-09,2015-09-15",Bintulu Port,BPOT,4.2,10.476190

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
104,2018,0.3600,24.91,"2018-12-13,2018-09-19,2018-06-13,2018-03-13",Boustead,BOUS,0.595,60.504202
105,2017,0.5707,20.66,"2017-12-14,2017-09-14,2017-06-13,2017-03-14",Boustead,BOUS,0.595,95.915966
106,2016,0.6173,24.09,"2016-12-13,2016-09-09,2016-06-08,2016-03-29",Boustead,BOUS,0.595,103.747899
107,2015,0.4200,5.22,"2015-12-22,2015-09-15",Boustead,BOUS,0.595,70.588235

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
649,2019,0.0550,14.67,2019-06-10,Boustead Plantations,BOPL,0.37,14.864865
650,2018,0.3557,34.01,"2018-12-05,2018-09-06,2018-06-06,2018-03-12",Boustead Plantations,BOPL,0.37,96.135135
651,2017,0.5450,33.07,"2017-12-06,2017-09-06,2017-06-05,2017-03-01",Boustead Plantations,BOPL,0.37,147.297297
652,2016,0.2600,17.27,"2016-09-05,2016-06-06",Boustead Plantations,BOPL,0.37,70.270270

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
804,2020,0.025,8.33,2020-01-10,CYL Corp,CYLC,0.33,7.575758
805,2018,0.080,17.78,"2018-05-24,2018-01-03",CYL Corp,CYLC,0.33,24.242424
806,2017,0.090,12.48,"2017-05-25,2017-01-04",CYL Corp,CYLC,0.33,27.272727
807,2016,0.115,13.16,"2016-06-01,2016-01-07",CYL Corp,CYLC,0.33,34.848485
808,2015,0.050,5.85,2015-06-04,CYL Corp,CYLC,0.33,15.151515

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
311,2020,0.0625,7.81,2020-02-06,CapitaLand Malaysia Mall,CAMA,0.8,7.8125
312,2019,0.1463,14.18,"2019-08-08,2019-02-13",CapitaLand Malaysia Mall,CAMA,0.8,18.2875
313,2018,0.1632,14.62,"2018-08-06,2018-02-07",CapitaLand Malaysia Mall,CAMA,0.8,20.4000
314,2017,0.1680,11.42,"2017-08-01,2017-02-07",CapitaLand Malaysia Mall,CAMA,0.8,21.0000
315,2016,0.1679,10.93,"2016-07-29,2016-02-03",CapitaLand Malaysia Mall,CAMA,0.8,20.9875
316,2015,0.0899,6.33,2015-07-06,CapitaLand Malaysia Mall,CAMA,0.8,11.2375

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
766,2020,0.05,7.14,2020-04-01,Classic Scenic,CSCB,0.7,7.142857
767,2019,0.13,13.70,"2019-09-26,2019-04-01",Classic Scenic,CSCB,0.7,18.571429
768,2018,0.17,12.99,"2018-10-11,2018-05-04",Classic Scenic,CSCB,0.7,24.285714
769,2017,0.21,12.37,"2017-11-01,2017-04-25",Classic Scenic,CSCB,0.7,30.000000
770,2016,0.22,12.18,"2016-10-31,2016-04-28",Classic Scenic,CSCB,0.7,31.428571
771,2015,0.08,6.15,2015-10-29,Classic Scenic,CSCB,0.7,11.428571

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
839,2020,0.0500,6.99,2020-03-10,Dominant Enterprise,DOMN,0.72,6.944444
840,2019,0.2700,21.65,"2019-12-10,2019-09-30,2019-09-06,2019-03-11",Dominant Enterprise,DOMN,0.72,37.500000
841,2018,0.2700,21.03,"2018-12-07,2018-09-27,2018-09-03,2018-03-12",Dominant Enterprise,DOMN,0.72,37.500000
842,2017,0.2300,18.01,"2017-12-08,2017-09-20,2017-08-30,2017-03-08",Dominant Enterprise,DOMN,0.72,31.944444
843,2016,0.1213,10.47,"2016-12-07,2016-09-05,2016-03-09",Dominant Enterprise,DOMN,0.72,16.847222
844,2015,0.0842,3.67,"2015-12-08,2015-09-04",Dominant Enterprise,DOMN,0.72,11.694444

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2361,2020,0.0525,7.93,"2020-06-12,2020-03-24",Elsoft Research,ELSR,0.65,8.076923
2362,2019,0.1758,20.61,"2019-12-09,2019-09-17,2019-06-18,2019-03-20",Elsoft Research,ELSR,0.65,27.046154
2363,2018,0.2133,8.80,"2018-12-06,2018-09-12,2018-06-20,2018-03-20",Elsoft Research,ELSR,0.65,32.815385
2364,2017,0.1400,5.32,"2017-12-13,2017-09-13,2017-03-20",Elsoft Research,ELSR,0.65,21.538462
2365,2015,0.0483,2.93,2015-12-08,Elsoft Research,ELSR,0.65,7.430769

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
928,2020,0.0383,1.67,2020-07-07,Far East,FEHS,2.29,1.672489
929,2019,0.0600,2.59,"2019-12-06,2019-06-26",Far East,FEHS,2.29,2.620087
930,2018,0.1052,3.71,"2018-12-28,2018-05-31",Far East,FEHS,2.29,4.593886
931,2017,0.6000,5.89,"2017-11-29,2017-05-29",Far East,FEHS,2.29,26.200873
932,2016,0.5000,5.96,"2016-11-30,2016-06-07",Far East,FEHS,2.29,21.834061
933,2015,0.6000,3.85,"2015-12-21,2015-06-29",Far East,FEHS,2.29,26.200873

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
965,2019,0.235,19.18,"2019-07-29,2019-03-29",Focus Lumber,FOLU,0.735,31.972789
966,2018,0.140,10.78,"2018-06-12,2018-03-12",Focus Lumber,FOLU,0.735,19.047619
967,2015,0.240,10.20,"2015-12-03,2015-08-13",Focus Lumber,FOLU,0.735,32.653061

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1009,2019,0.0850,7.89,"2019-04-05,2019-01-04",George Kent,GKMS,0.645,13.178295
1010,2018,0.1850,20.97,"2018-10-10,2018-04-03",George Kent,GKMS,0.645,28.682171
1011,2017,0.1384,3.85,"2017-10-11,2017-06-28",George Kent,GKMS,0.645,21.457364
1012,2016,0.1180,3.73,"2016-12-19,2016-07-08",George Kent,GKMS,0.645,18.294574
1013,2015,0.0880,5.35,"2015-12-31,2015-10-13",George Kent,GKMS,0.645,13.643411

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1020,2019,0.0080,2.81,2019-12-16,Glomac,GLOM,0.285,2.807018
1021,2018,0.0150,4.05,2018-12-14,Glomac,GLOM,0.285,5.263158
1022,2017,0.0623,11.67,"2017-11-28,2017-04-27",Glomac,GLOM,0.285,21.859649
1023,2016,0.0825,10.94,"2016-11-28,2016-05-12",Glomac,GLOM,0.285,28.947368

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1062,2020,0.180,11.03,"2020-05-29,2020-02-21",Hai O Enterprise,HAIO,1.95,9.230769
1063,2019,0.310,14.73,"2019-11-07,2019-02-22",Hai O Enterprise,HAIO,1.95,15.897436
1064,2018,0.515,13.96,"2018-11-07,2018-05-28,2018-02-23",Hai O Enterprise,HAIO,1.95,26.410256
1065,2017,0.250,5.13,"2017-11-08,2017-02-14",Hai O Enterprise,HAIO,1.95,12.820513
1066,2016,0.300,8.95,"2016-11-09,2016-02-17",Hai O Enterprise,HAIO,1.95,15.384615
1067,2015,0.150,6.44,2015-11-11,Hai O Enterprise,HAIO,1.95,7.692308

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2494,2020,0.0777,11.77,2020-03-11,Hektar REIT,HEKR,0.66,11.772727
2495,2019,0.3407,33.41,"2019-12-11,2019-09-12,2019-06-10,2019-03-13",Hektar REIT,HEKR,0.66,51.621212
2496,2018,0.3705,31.08,"2018-12-12,2018-08-30,2018-06-04,2018-02-26",Hektar REIT,HEKR,0.66,56.136364
2497,2017,0.1143,9.53,2017-08-23,Hektar REIT,HEKR,0.66,17.318182

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1075,2020,0.1300,31.64,"2020-06-24,2020-03-27,2020-01-09",HeveaBoard,HEVE,0.5,26.00
1076,2019,0.1540,25.62,"2019-09-20,2019-06-24,2019-03-13",HeveaBoard,HEVE,0.5,30.80
1077,2018,0.2650,34.10,"2018-12-05,2018-09-12,2018-06-19,2018-03-21",HeveaBoard,HEVE,0.5,53.00
1078,2017,0.2680,20.98,"2017-12-07,2017-09-20,2017-06-13,2017-03-15",HeveaBoard,HEVE,0.5,53.60
1079,2016,0.1265,9.59,"2016-12-05,2016-09-06,2016-06-13,2016-03-08",HeveaBoard,HEVE,0.5,25.30
1080,2015,0.0213,0.70,"2015-11-30,2015-09-11",HeveaBoard,HEVE,0.5,4.26

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1122,2017,0.06,11.74,"2017-09-27,2017-03-30",Hua Yang,HUAY,0.27,22.222222
1123,2016,0.13,7.03,2016-04-01,Hua Yang,HUAY,0.27,48.148148
1124,2015,0.13,7.34,2015-09-30,Hua Yang,HUAY,0.27,48.148148

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
356,2020,0.1781,10.12,"2020-05-06,2020-02-05",IGB REIT,IGRE,1.79,9.949721
357,2019,0.3675,19.23,"2019-11-06,2019-08-06,2019-05-08,2019-02-07",IGB REIT,IGRE,1.79,20.530726
358,2018,0.3773,22.99,"2018-11-07,2018-07-26,2018-05-04,2018-02-06",IGB REIT,IGRE,1.79,21.078212
359,2017,0.1739,10.46,"2017-08-14,2017-02-08",IGB REIT,IGRE,1.79,9.715084
360,2016,0.1620,9.85,"2016-08-05,2016-02-10",IGB REIT,IGRE,1.79,9.050279
361,2015,0.0837,6.15,2015-08-07,IGB REIT,IGRE,1.79,4.675978

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1181,2018,0.10,10.31,2018-06-27,IQ,IQGH,0.405,24.691358
1182,2017,0.22,11.58,"2017-12-27,2017-06-28",IQ,IQGH,0.405,54.320988
1183,2016,0.21,7.16,"2016-12-28,2016-06-28",IQ,IQGH,0.405,51.851852
1184,2015,0.08,4.21,2015-12-28,IQ,IQGH,0.405,19.753086

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
300,2019,0.0050,1.64,2019-12-19,JCY Int,JCYI,0.315,1.587302
301,2018,0.0050,2.78,2018-03-19,JCY Int,JCYI,0.315,1.587302
302,2017,0.1825,35.80,"2017-12-18,2017-09-15,2017-06-15,2017-03-15",JCY Int,JCYI,0.315,57.936508
303,2016,0.2525,44.09,"2016-12-19,2016-09-13,2016-06-16,2016-03-16",JCY Int,JCYI,0.315,80.158730
304,2015,0.1150,10.00,"2015-12-16,2015-09-18",JCY Int,JCYI,0.315,36.507937

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1192,2019,0.155,15.93,"2019-12-18,2019-04-12",Jaycorp,JAYC,0.89,17.415730
1193,2018,0.050,5.18,2018-12-14,Jaycorp,JAYC,0.89,5.617978
1194,2017,0.210,19.21,"2017-12-19,2017-07-13",Jaycorp,JAYC,0.89,23.595506
1195,2016,0.100,8.13,2016-12-14,Jaycorp,JAYC,0.89,11.235955
1196,2015,0.040,2.96,2015-12-11,Jaycorp,JAYC,0.89,4.494382
1197,2014,0.035,0.00,2014-12-16,Jaycorp,JAYC,0.89,3.932584

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2470,2020,0.1227,15.58,"2020-05-08,2020-01-30",KIP REIT,KIPR,0.8,15.3375
2471,2019,0.2484,28.88,"2019-10-31,2019-08-09,2019-05-03,2019-01-29",KIP REIT,KIPR,0.8,31.0500
2472,2018,0.1799,22.71,"2018-08-08,2018-05-07,2018-02-12",KIP REIT,KIPR,0.8,22.4875
2473,2017,0.0684,7.78,"2017-11-09,2017-08-09",KIP REIT,KIPR,0.8,8.5500

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
391,2020,0.0580,6.48,"2020-07-08,2020-03-30,2020-01-30",KPJ Healthcare,KPJH,0.835,6.946108
392,2019,0.0800,8.43,"2019-09-23,2019-06-18,2019-03-27,2019-01-29",KPJ Healthcare,KPJH,0.835,9.580838
393,2018,0.0541,5.16,"2018-09-12,2018-06-27,2018-03-28",KPJ Healthcare,KPJH,0.835,6.479042
394,2017,0.1753,7.00,"2017-12-11,2017-09-19,2017-06-28,2017-04-05",KPJ Healthcare,KPJH,0.835,20.994012
395,2016,0.2740,6.52,"2016-12-19,2016-09-23,2016-06-28,2016-03-29",KPJ Healthcare,KPJH,0.835,32.814371
396,2015,0.1595,1.80,"2015-12-29,2015-09-23",KPJ Healthcare,KPJH,0.835,19.101796

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1255,2019,0.12,10.26,"2019-10-30,2019-08-08",Kim Loong Resources,KIML,1.2,10.000000
1256,2018,0.12,9.28,"2018-10-29,2018-08-08",Kim Loong Resources,KIML,1.2,10.000000
1257,2017,0.32,7.90,"2017-10-27,2017-08-09",Kim Loong Resources,KIML,1.2,26.666667
1258,2016,0.26,7.40,"2016-10-27,2016-08-10",Kim Loong Resources,KIML,1.2,21.666667
1259,2015,0.13,3.71,2015-10-28,Kim Loong Resources,KIML,1.2,10.833333

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1316,2019,0.050,11.63,2019-09-11,LBI Capital,LBIP,0.42,11.904762
1317,2018,0.025,3.91,2018-05-02,LBI Capital,LBIP,0.42,5.952381
1318,2017,0.105,10.19,2017-06-09,LBI Capital,LBIP,0.42,25.000000
1319,2016,0.070,5.47,2016-09-09,LBI Capital,LBIP,0.42,16.666667
1320,2015,0.050,3.65,2015-11-27,LBI Capital,LBIP,0.42,11.904762
1321,2014,0.050,0.00,2014-11-04,LBI Capital,LBIP,0.42,11.904762

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1336,2020,0.3000,11.80,"2020-07-09,2020-03-16",Lii Hen Industries,LHEN,2.7,11.111111
1337,2019,0.7400,25.35,"2019-12-11,2019-09-11,2019-07-04,2019-06-12,20...",Lii Hen Industries,LHEN,2.7,27.407407
1338,2018,0.5250,18.58,"2018-12-10,2018-09-06,2018-07-03,2018-06-11",Lii Hen Industries,LHEN,2.7,19.444444
1339,2017,0.6400,20.16,"2017-12-12,2017-09-08,2017-07-07,2017-06-13",Lii Hen Industries,LHEN,2.7,23.703704
1340,2016,0.5766,17.88,"2016-12-13,2016-09-06,2016-07-08,2016-06-10",Lii Hen Industries,LHEN,2.7,21.355556
1341,2015,0.1550,3.47,"2015-12-08,2015-09-07",Lii Hen Industries,LHEN,2.7,5.740741

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1363,2019,0.06,8.57,2019-07-23,MAA,MAAS,0.7,8.571429
1364,2018,0.06,6.42,2018-03-22,MAA,MAAS,0.7,8.571429
1365,2017,0.18,22.88,"2017-09-28,2017-03-13",MAA,MAAS,0.7,25.714286
1366,2016,0.12,13.09,"2016-09-20,2016-03-11",MAA,MAAS,0.7,17.142857

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
871,2019,0.219,15.54,"2019-10-25,2019-04-23,2019-01-24",MB World Group,MBWO,0.99,22.121212
872,2017,0.035,1.89,2017-10-26,MB World Group,MBWO,0.99,3.535354

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2487,2020,0.0680,9.32,2020-01-31,MRCB-Quill Unit,MQRE,0.735,9.251701
2488,2019,0.1512,14.60,"2019-08-22,2019-02-04",MRCB-Quill Unit,MQRE,0.735,20.571429
2489,2018,0.1262,11.51,"2018-08-21,2018-02-05",MRCB-Quill Unit,MQRE,0.735,17.170068
2490,2017,0.1269,10.49,2017-08-24,MRCB-Quill Unit,MQRE,0.735,17.265306

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1452,2017,0.14,4.86,2017-05-25,MSM Malaysia,MSMH,0.605,23.140496
1453,2016,0.50,10.48,"2016-12-02,2016-05-25",MSM Malaysia,MSMH,0.605,82.644628
1454,2015,0.50,5.42,"2015-12-08,2015-06-16",MSM Malaysia,MSMH,0.605,82.644628

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
151,2020,0.305,13.73,"2020-06-12,2020-03-17",Magnum,MAGM,2.23,13.677130
152,2019,0.640,24.54,"2019-12-13,2019-09-18,2019-06-18,2019-03-13",Magnum,MAGM,2.23,28.699552
153,2018,0.480,22.91,"2018-12-13,2018-09-14,2018-06-13,2018-03-13",Magnum,MAGM,2.23,21.524664
154,2017,0.380,21.35,"2017-12-14,2017-09-13,2017-03-10",Magnum,MAGM,2.23,17.040359
155,2016,0.575,24.78,"2016-12-08,2016-09-13,2016-06-08,2016-03-11",Magnum,MAGM,2.23,25.784753
156,2015,0.175,6.86,2015-12-07,Magnum,MAGM,2.23,7.847534

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1402,2020,0.0300,5.77,2020-03-12,Malayan Flour Mills,MFMS,0.515,5.825243
1403,2019,0.0511,8.64,"2019-08-28,2019-03-13",Malayan Flour Mills,MFMS,0.515,9.922330
1404,2018,0.1176,14.81,"2018-09-04,2018-03-14",Malayan Flour Mills,MFMS,0.515,22.834951
1405,2017,0.1300,5.92,"2017-08-30,2017-03-08",Malayan Flour Mills,MFMS,0.515,25.242718
1406,2016,0.0900,5.73,"2016-08-29,2016-03-09",Malayan Flour Mills,MFMS,0.515,17.475728
1407,2015,0.0550,4.33,2015-08-19,Malayan Flour Mills,MFMS,0.515,10.679612

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1408,2018,0.1,20.0,2018-09-24,Malpac,MHBS,0.5,20.0

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2434,2017,0.05,62.5,2017-07-24,Marine General,MARI,0.075,66.666667

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1377,2020,0.1200,6.56,2020-03-26,Matrix Concepts,MATR,1.86,6.451613
1378,2019,0.4975,25.78,"2019-12-19,2019-09-19,2019-06-20,2019-03-19",Matrix Concepts,MATR,1.86,26.747312
1379,2018,0.5220,26.48,"2018-12-19,2018-09-19,2018-06-20,2018-03-21",Matrix Concepts,MATR,1.86,28.064516
1380,2017,0.5080,20.63,"2017-12-20,2017-09-12,2017-06-02,2017-03-29",Matrix Concepts,MATR,1.86,27.311828
1381,2016,0.5909,23.59,"2016-12-23,2016-09-21,2016-06-15,2016-03-23",Matrix Concepts,MATR,1.86,31.768817
1382,2015,0.1514,6.23,2015-12-21,Matrix Concepts,MATR,1.86,8.139785

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
0,2020,0.0112,6.22,2020-07-10,Media Chinese Int,MDCH,0.175,6.400000
1,2019,0.0226,12.90,"2019-12-09,2019-06-19",Media Chinese Int,MDCH,0.175,12.914286
2,2018,0.0322,16.50,"2018-12-12,2018-06-18",Media Chinese Int,MDCH,0.175,18.400000
3,2017,0.0557,15.78,"2017-12-11,2017-06-16",Media Chinese Int,MDCH,0.175,31.828571
4,2016,0.0879,13.60,"2016-12-13,2016-06-20",Media Chinese Int,MDCH,0.175,50.228571
5,2015,0.0790,6.18,"2015-12-08,2015-07-08",Media Chinese Int,MDCH,0.175,45.142857

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
175,2017,0.08,20.78,2017-05-31,Media Prima,MPRM,0.155,51.612903
176,2016,0.26,20.25,"2016-12-14,2016-09-07,2016-06-01",Media Prima,MPRM,0.155,167.741935
177,2015,0.21,6.76,"2015-12-08,2015-09-09",Media Prima,MPRM,0.155,135.483871

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1420,2019,0.0150,8.11,2019-07-17,Mitrajaya,MITR,0.185,8.108108
1421,2018,0.0200,5.13,2018-07-16,Mitrajaya,MITR,0.185,10.810811
1422,2017,0.0480,10.32,2017-07-14,Mitrajaya,MITR,0.185,25.945946
1423,2016,0.0500,3.79,2016-07-15,Mitrajaya,MITR,0.185,27.027027
1424,2015,0.0333,2.73,2015-08-17,Mitrajaya,MITR,0.185,18.000000

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1506,2020,0.0330,4.51,"2020-07-09,2020-03-09",Oriental Food Ind,OFIH,0.725,4.551724
1507,2019,0.0750,10.36,"2019-12-12,2019-09-12,2019-06-17,2019-03-06",Oriental Food Ind,OFIH,0.725,10.344828
1508,2018,0.0900,11.87,"2018-12-12,2018-09-19,2018-03-14",Oriental Food Ind,OFIH,0.725,12.413793
1509,2017,0.1600,11.27,"2017-12-07,2017-09-11,2017-06-08,2017-03-08",Oriental Food Ind,OFIH,0.725,22.068966
1510,2016,0.1775,9.74,"2016-12-09,2016-09-08,2016-06-09,2016-03-09",Oriental Food Ind,OFIH,0.725,24.482759
1511,2015,0.0450,2.11,2015-12-09,Oriental Food Ind,OFIH,0.725,6.206897

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1526,2020,0.1260,15.71,"2020-05-14,2020-04-22,2020-03-04",Pacific Orient,PACO,0.79,15.949367
1527,2019,0.3401,34.81,"2019-12-30,2019-10-11,2019-07-26,2019-05-03,20...",Pacific Orient,PACO,0.79,43.050633
1528,2018,0.3188,29.04,"2018-10-12,2018-08-01,2018-05-04,2018-03-09,20...",Pacific Orient,PACO,0.79,40.354430
1529,2017,0.4390,34.58,"2017-10-12,2017-07-24,2017-04-21,2017-03-08,20...",Pacific Orient,PACO,0.79,55.569620
1530,2016,0.2930,22.38,"2016-07-22,2016-05-03,2016-02-22",Pacific Orient,PACO,0.79,37.088608
1531,2015,0.1810,12.83,"2015-12-29,2015-11-18",Pacific Orient,PACO,0.79,22.911392

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2162,2020,0.165,7.43,2020-06-04,Pharmaniaga Bhd,PHMA,2.31,7.142857
2163,2019,0.485,21.57,"2019-09-11,2019-06-03,2019-03-08",Pharmaniaga Bhd,PHMA,2.31,20.995671
2164,2018,0.790,25.67,"2018-12-03,2018-09-03,2018-05-30,2018-03-13",Pharmaniaga Bhd,PHMA,2.31,34.199134
2165,2017,0.630,15.05,"2017-11-29,2017-08-29,2017-05-29,2017-03-07",Pharmaniaga Bhd,PHMA,2.31,27.272727
2166,2016,1.020,18.45,"2016-12-05,2016-09-02,2016-06-01,2016-03-01",Pharmaniaga Bhd,PHMA,2.31,44.155844
2167,2015,0.690,5.67,"2015-12-09,2015-09-01",Pharmaniaga Bhd,PHMA,2.31,29.870130

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1933,2020,0.010,2.30,2020-09-10,Prestar Resources Bhd,PTAR,0.43,2.325581
1934,2019,0.055,10.15,"2019-07-11,2019-01-18",Prestar Resources Bhd,PTAR,0.43,12.790698
1935,2018,0.050,7.14,2018-06-08,Prestar Resources Bhd,PTAR,0.43,11.627907
1936,2017,0.090,8.84,"2017-11-01,2017-06-05,2017-01-19",Prestar Resources Bhd,PTAR,0.43,20.930233
1937,2016,0.020,2.82,2016-07-27,Prestar Resources Bhd,PTAR,0.43,4.651163
1938,2015,0.020,3.85,2015-08-18,Prestar Resources Bhd,PTAR,0.43,4.651163

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2173,2018,0.0695,9.19,"2018-09-14,2018-06-04,2018-03-12",Prestariang Bhd,PSTG,0.46,15.108696
2174,2017,0.1225,7.61,"2017-12-07,2017-09-08,2017-06-05,2017-03-07",Prestariang Bhd,PSTG,0.46,26.630435
2175,2016,0.1425,6.45,"2016-12-06,2016-09-07,2016-06-07,2016-03-09",Prestariang Bhd,PSTG,0.46,30.978261
2176,2015,0.0325,1.14,2015-12-08,Prestariang Bhd,PSTG,0.46,7.065217

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1589,2019,0.0180,6.78,"2019-12-30,2019-06-18",Protasco,PRTO,0.25,7.20
1590,2018,0.1107,25.88,"2018-06-19,2018-01-09",Protasco,PRTO,0.25,44.28
1591,2017,0.1460,13.45,"2017-06-19,2017-01-09",Protasco,PRTO,0.25,58.40
1592,2016,0.0900,5.77,2016-06-15,Protasco,PRTO,0.25,36.00
1593,2015,0.1700,5.33,"2015-12-29,2015-06-17",Protasco,PRTO,0.25,68.00

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2228,2020,0.0983,11.06,"2020-05-06,2020-03-12",Ranhill Holdings,RANH,0.93,10.569892
2229,2019,0.1400,12.70,"2019-12-30,2019-07-24,2019-04-24",Ranhill Holdings,RANH,0.93,15.053763
2230,2018,0.2250,21.40,"2018-11-27,2018-08-23,2018-05-16,2018-01-29",Ranhill Holdings,RANH,0.93,24.193548
2231,2017,0.2440,33.11,"2017-11-24,2017-05-31,2017-03-13,2017-01-03",Ranhill Holdings,RANH,0.93,26.236559
2232,2016,0.0180,1.91,2016-09-09,Ranhill Holdings,RANH,0.93,1.935484

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1981,2020,0.1100,12.65,"2020-06-11,2020-03-19",SLP Resources Bhd,SLPB,0.85,12.941176
1982,2019,0.2025,16.68,"2019-12-11,2019-09-05,2019-06-11,2019-03-11",SLP Resources Bhd,SLPB,0.85,23.823529
1983,2018,0.1350,12.29,"2018-12-05,2018-09-05,2018-03-09",SLP Resources Bhd,SLPB,0.85,15.882353
1984,2017,0.1213,6.59,"2017-12-06,2017-09-06,2017-03-09",SLP Resources Bhd,SLPB,0.85,14.270588
1985,2016,0.0900,3.51,"2016-12-06,2016-09-06,2016-03-08",SLP Resources Bhd,SLPB,0.85,10.588235
1986,2015,0.0250,1.16,2015-09-22,SLP Resources Bhd,SLPB,0.85,2.941176

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
467,2020,0.0100,1.18,2020-03-11,SP Setia,SETI,0.855,1.169591
468,2019,0.0855,6.68,2019-03-29,SP Setia,SETI,0.855,10.000000
469,2018,0.3090,12.13,"2018-10-09,2018-03-21",SP Setia,SETI,0.855,36.140351
470,2017,0.3948,11.87,"2017-09-12,2017-06-16",SP Setia,SETI,0.855,46.175439
471,2016,0.3834,10.83,"2016-10-26,2016-06-30",SP Setia,SETI,0.855,44.842105
472,2015,0.0970,3.10,2015-08-07,SP Setia,SETI,0.855,11.345029

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1951,2020,0.02,5.00,2020-08-25,Sapura Industrial Bhd,SAPU,0.435,4.597701
1952,2019,0.05,13.89,2019-07-25,Sapura Industrial Bhd,SAPU,0.435,11.494253
1953,2018,0.08,10.96,"2018-12-24,2018-08-16",Sapura Industrial Bhd,SAPU,0.435,18.390805
1954,2017,0.11,12.92,"2017-12-22,2017-08-04",Sapura Industrial Bhd,SAPU,0.435,25.287356
1955,2016,0.12,12.57,"2016-11-22,2016-07-14",Sapura Industrial Bhd,SAPU,0.435,27.586207
1956,2015,0.12,5.83,"2015-12-22,2015-07-23",Sapura Industrial Bhd,SAPU,0.435,27.586207

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2427,2017,0.0292,4.64,"2017-05-12,2017-01-26",Sasbadi,SAHO,0.135,21.62963

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2193,2020,0.1000,10.29,"2020-06-15,2020-03-05",Scicom MSC Bhd,SCCM,0.95,10.526316
2194,2019,0.2650,27.25,"2019-12-09,2019-09-12,2019-06-07,2019-03-08",Scicom MSC Bhd,SCCM,0.95,27.894737
2195,2018,0.3600,20.84,"2018-12-05,2018-09-07,2018-06-04,2018-02-20",Scicom MSC Bhd,SCCM,0.95,37.894737
2196,2017,0.3600,18.56,"2017-11-23,2017-09-08,2017-06-01,2017-03-10",Scicom MSC Bhd,SCCM,0.95,37.894737
2197,2016,0.3400,15.69,"2016-11-17,2016-09-08,2016-06-03,2016-03-08",Scicom MSC Bhd,SCCM,0.95,35.789474
2198,2015,0.1525,3.43,"2015-12-10,2015-09-03",Scicom MSC Bhd,SCCM,0.95,16.052632

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
169,2020,0.09,4.31,2020-04-24,Sime Darby,SIME,2.13,4.225352
170,2019,0.09,4.50,2019-09-30,Sime Darby,SIME,2.13,4.225352
171,2018,0.25,10.29,"2018-09-27,2018-04-17",Sime Darby,SIME,2.13,11.737089
172,2017,0.50,11.40,"2017-12-04,2017-04-19",Sime Darby,SIME,2.13,23.474178
173,2016,0.52,6.20,"2016-11-14,2016-04-19",Sime Darby,SIME,2.13,24.413146
174,2015,0.61,3.14,"2015-12-09,2015-04-21",Sime Darby,SIME,2.13,28.638498

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2216,2020,0.02,5.71,2020-03-30,Star Media Group Bhd,STAR,0.355,5.633803
2217,2019,0.03,8.00,2019-03-27,Star Media Group Bhd,STAR,0.355,8.450704
2218,2018,0.12,15.38,2018-03-28,Star Media Group Bhd,STAR,0.355,33.802817
2219,2017,0.33,19.14,"2017-09-27,2017-03-29",Star Media Group Bhd,STAR,0.355,92.957746
2220,2016,0.36,14.45,"2016-09-28,2016-03-29",Star Media Group Bhd,STAR,0.355,101.408451
2221,2015,0.15,6.28,2015-09-22,Star Media Group Bhd,STAR,0.355,42.253521

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2006,2020,0.0981,6.02,2020-02-27,Sunway Real Estate Invest Trust,SUNW,1.63,6.018405
2007,2019,0.3791,20.23,"2019-11-19,2019-08-23,2019-05-16,2019-02-27",Sunway Real Estate Invest Trust,SUNW,1.63,23.257669
2008,2018,0.3833,22.43,"2018-11-15,2018-08-23,2018-05-16,2018-02-20",Sunway Real Estate Invest Trust,SUNW,1.63,23.515337
2009,2017,0.3686,21.50,"2017-11-13,2017-08-24,2017-05-18,2017-02-27",Sunway Real Estate Invest Trust,SUNW,1.63,22.613497
2010,2016,0.2716,16.18,"2016-08-25,2016-05-12,2016-02-11",Sunway Real Estate Invest Trust,SUNW,1.63,16.662577
2011,2015,0.1730,5.87,"2015-11-12,2015-08-24",Sunway Real Estate Invest Trust,SUNW,1.63,10.613497

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
199,2018,0.036,7.27,2018-05-16,TH Plantations,THPB,0.295,12.203390
200,2017,0.106,11.40,"2017-12-06,2017-05-09",TH Plantations,THPB,0.295,35.932203
201,2015,0.020,1.80,2015-05-20,TH Plantations,THPB,0.295,6.779661

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2259,2020,0.1575,18.86,"2020-05-29,2020-03-11,2020-01-24",Taliworks Corporation Bhd,TWRK,0.865,18.208092
2260,2019,0.1440,15.91,"2019-10-30,2019-07-29,2019-04-25",Taliworks Corporation Bhd,TWRK,0.865,16.647399
2261,2018,0.2880,26.56,"2018-12-27,2018-09-26,2018-06-13,2018-03-15",Taliworks Corporation Bhd,TWRK,0.865,33.294798
2262,2017,0.3200,26.79,"2017-12-14,2017-08-29,2017-06-15,2017-03-01",Taliworks Corporation Bhd,TWRK,0.865,36.994220
2263,2016,0.2400,16.67,"2016-08-23,2016-06-13,2016-03-10",Taliworks Corporation Bhd,TWRK,0.865,27.745665
2264,2015,0.0650,4.85,2015-12-09,Taliworks Corporation Bhd,TWRK,0.865,7.514451

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
1707,2020,0.0245,4.90,2020-01-30,Tambun Indah Land,TAMB,0.52,4.711538
1708,2019,0.1160,18.10,"2019-08-22,2019-01-24",Tambun Indah Land,TAMB,0.52,22.307692
1709,2018,0.1770,22.22,"2018-07-30,2018-01-22",Tambun Indah Land,TAMB,0.52,34.038462
1710,2017,0.1900,16.24,"2017-07-24,2017-01-24",Tambun Indah Land,TAMB,0.52,36.538462
1711,2016,0.1870,13.32,"2016-08-01,2016-01-26",Tambun Indah Land,TAMB,0.52,35.961538
1712,2015,0.0970,0.00,2015-09-01,Tambun Indah Land,TAMB,0.52,18.653846

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2034,2019,0.06,1.06,2019-05-09,Tasek Corporation Bhd,TKCS,5.79,1.036269
2035,2018,0.40,7.50,2018-05-14,Tasek Corporation Bhd,TKCS,5.79,6.908463
2036,2017,1.20,12.24,2017-05-09,Tasek Corporation Bhd,TKCS,5.79,20.725389
2037,2016,2.10,14.94,"2016-08-18,2016-05-12",Tasek Corporation Bhd,TKCS,5.79,36.269430
2038,2015,0.60,4.02,2015-11-18,Tasek Corporation Bhd,TKCS,5.79,10.362694

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2239,2017,0.1,21.05,2017-12-28,Texchem Resources Bhd,TEXC,0.465,21.505376
2240,2016,0.1,10.42,2016-12-23,Texchem Resources Bhd,TEXC,0.465,21.505376
2241,2015,0.3,17.67,"2015-12-28,2015-08-17",Texchem Resources Bhd,TEXC,0.465,64.516129

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2045,2020,0.1100,10.74,"2020-08-13,2020-06-05",Tien Wah Press Holdings,TWPH,1.01,10.891089
2046,2019,0.0800,7.77,2019-06-04,Tien Wah Press Holdings,TWPH,1.01,7.920792
2047,2018,0.0600,5.22,2018-06-06,Tien Wah Press Holdings,TWPH,1.01,5.940594
2048,2017,0.2200,13.15,"2017-09-27,2017-06-07",Tien Wah Press Holdings,TWPH,1.01,21.782178
2049,2016,0.3072,17.12,"2016-09-28,2016-06-07",Tien Wah Press Holdings,TWPH,1.01,30.415842
2050,2015,0.0800,2.84,2015-09-29,Tien Wah Press Holdings,TWPH,1.01,7.920792

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2039,2018,0.0290,3.92,"2018-06-13,2018-03-13",Tomypak Holdings Bhd,TOMY,0.505,5.742574
2040,2017,0.1720,13.01,"2017-12-07,2017-09-19,2017-05-31,2017-03-14",Tomypak Holdings Bhd,TOMY,0.505,34.059406
2041,2016,0.3481,18.37,"2016-12-08,2016-09-09,2016-05-31,2016-03-16",Tomypak Holdings Bhd,TOMY,0.505,68.930693
2042,2015,0.1400,3.29,"2015-12-09,2015-09-02",Tomypak Holdings Bhd,TOMY,0.505,27.722772

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2028,2020,0.10,4.81,2020-06-26,Tong Herr Resources Bhd,THRB,2.09,4.784689
2029,2019,0.20,11.05,2019-05-31,Tong Herr Resources Bhd,THRB,2.09,9.569378
2030,2018,0.62,16.02,"2018-12-10,2018-05-31",Tong Herr Resources Bhd,THRB,2.09,29.665072
2031,2017,0.68,19.97,"2017-12-08,2017-06-01",Tong Herr Resources Bhd,THRB,2.09,32.535885
2032,2016,0.25,10.78,"2016-12-08,2016-06-10",Tong Herr Resources Bhd,THRB,2.09,11.961722
2033,2015,0.12,6.09,2015-06-12,Tong Herr Resources Bhd,THRB,2.09,5.741627

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2531,2020,0.0518,6.91,2020-02-05,Tower Real Estate,TWRE,0.75,6.906667
2532,2019,0.0593,7.32,2019-08-09,Tower Real Estate,TWRE,0.75,7.906667
2533,2018,0.1500,16.05,"2018-11-09,2018-08-13,2018-02-19",Tower Real Estate,TWRE,0.75,20.000000

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2063,2018,0.0333,4.30,2018-04-26,United U Li Corporation,UULI,0.36,9.250000
2064,2017,0.1200,4.15,2017-03-29,United U Li Corporation,UULI,0.36,33.333333
2065,2016,0.6300,13.38,"2016-12-27,2016-09-26,2016-06-23,2016-04-14,20...",United U Li Corporation,UULI,0.36,175.000000
2066,2015,0.1400,2.94,2015-10-19,United U Li Corporation,UULI,0.36,38.888889

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2067,2020,0.0680,5.79,"2020-02-17,2020-01-16",VS Industry Bhd,VSID,1.0,6.80
2068,2019,0.1910,16.92,"2019-10-15,2019-07-15,2019-04-10,2019-02-20,20...",VS Industry Bhd,VSID,1.0,19.10
2069,2018,0.2560,13.22,"2018-10-12,2018-07-12,2018-04-10,2018-02-21,20...",VS Industry Bhd,VSID,1.0,25.60
2070,2017,0.1819,8.00,"2017-10-12,2017-07-10,2017-04-26,2017-02-24",VS Industry Bhd,VSID,1.0,18.19
2071,2016,0.2280,17.77,"2016-07-13,2016-04-27,2016-02-24,2016-01-15",VS Industry Bhd,VSID,1.0,22.80
2072,2015,0.0360,0.00,2015-10-12,VS Industry Bhd,VSID,1.0,3.60

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2076,2020,0.1110,13.06,"2020-06-12,2020-03-10",Wellcall Holdings Bhd,WCAL,0.83,13.373494
2077,2019,0.2205,19.07,"2019-12-13,2019-09-10,2019-06-12,2019-03-13",Wellcall Holdings Bhd,WCAL,0.83,26.566265
2078,2018,0.2308,18.06,"2018-12-06,2018-09-07,2018-06-08,2018-03-09",Wellcall Holdings Bhd,WCAL,0.83,27.807229
2079,2017,0.3072,16.71,"2017-12-12,2017-09-15,2017-06-08,2017-03-16",Wellcall Holdings Bhd,WCAL,0.83,37.012048
2080,2016,0.3680,17.77,"2016-12-08,2016-09-09,2016-06-08,2016-03-09",Wellcall Holdings Bhd,WCAL,0.83,44.337349
2081,2015,0.1840,3.55,"2015-12-07,2015-09-11",Wellcall Holdings Bhd,WCAL,0.83,22.168675

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2084,2018,0.07,5.93,2018-06-20,White Horse Bhd,WHSE,0.71,9.859155
2085,2017,0.20,10.48,"2017-12-20,2017-06-21",White Horse Bhd,WHSE,0.71,28.169014
2086,2016,0.20,9.98,"2016-12-21,2016-06-20",White Horse Bhd,WHSE,0.71,28.169014
2087,2015,0.10,4.63,2015-12-21,White Horse Bhd,WHSE,0.71,14.084507

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
2455,2020,0.0039,0.37,2020-03-04,YTL Hospitality REIT,YTLR,1.07,0.364486
2456,2019,0.3056,22.95,"2019-12-09,2019-08-14,2019-06-17,2019-03-11",YTL Hospitality REIT,YTLR,1.07,28.560748
2457,2018,0.2912,24.42,"2018-12-05,2018-08-10,2018-06-06,2018-03-08",YTL Hospitality REIT,YTLR,1.07,27.214953
2458,2017,0.2702,22.84,"2017-12-06,2017-08-09,2017-06-07,2017-03-08",YTL Hospitality REIT,YTLR,1.07,25.252336
2459,2016,0.0864,7.20,2016-12-09,YTL Hospitality REIT,YTLR,1.07,8.074766

,Year,Dividend,Historical Yield,Date,Name,Symbol,Last Close Price,Calculated Yield
202,2020,0.170,15.32,"2020-05-27,2020-02-18",Zhulian Corp,ZHCO,1.19,14.285714
203,2019,0.320,21.46,"2019-11-14,2019-08-15,2019-05-14,2019-02-11",Zhulian Corp,ZHCO,1.19,26.890756
204,2018,0.270,19.79,"2018-11-02,2018-08-15,2018-05-14,2018-02-12",Zhulian Corp,ZHCO,1.19,22.689076
205,2017,0.240,13.18,"2017-11-01,2017-08-09,2017-05-08,2017-02-14",Zhulian Corp,ZHCO,1.19,20.168067
206,2016,0.180,12.60,"2016-08-10,2016-05-09,2016-02-15",Zhulian Corp,ZHCO,1.19,15.126050
207,2015,0.065,4.48,2015-10-29,Zhulian Corp,ZHCO,1.19,5.462185

## Testing

In [86]:
investpy.get_index_recent_data(index="KL Construction", country=COUNTRY)

              Open    High     Low   Close     Volume Currency
Date
2020-07-02  172.44  172.44  169.34  170.07  193285296      MYR
2020-07-03  170.58  171.76  170.16  170.77  267624192      MYR
2020-07-06  171.07  172.84  170.28  172.41  235658096      MYR
2020-07-07  172.89  172.99  169.57  169.57  226179904      MYR
2020-07-08  169.21  171.34  169.21  170.22  185579808      MYR
2020-07-09  170.36  170.61  169.14  169.14  358489696      MYR
2020-07-10  169.30  170.08  168.74  169.68  222006000      MYR
2020-07-13  170.05  170.45  167.89  168.87  150546496      MYR
2020-07-14  168.77  168.78  164.55  165.55  198104000      MYR
2020-07-15  166.11  166.98  165.44  166.27  129285296      MYR
2020-07-16  166.93  166.95  163.36  163.36  139258896      MYR
2020-07-17  165.96  168.68  165.67  168.62  200662592      MYR
2020-07-20  169.02  169.33  165.65  166.06  264736304      MYR
2020-07-21  165.95  166.94  164.86  165.33  246232704      MYR
2020-07-22  166.46  168.33  166.02  167.57  190687696      MYR
2020-07-23  168.25  172.04  168.03  170.94  175640304      MYR
2020-07-24  171.40  171.40  167.86  169.13  243270096      MYR
2020-07-27  168.88  168.98  167.33  168.47  230821792      MYR
2020-07-28  168.62  169.59  168.21  169.17  345198688      MYR
2020-07-29  169.35  169.35  167.60  169.21  177551696      MYR
2020-07-30  169.55  169.87  167.36  167.81  173079808      MYR

In [53]:
display(investpy.get_stock_information("BATO", country=COUNTRY))

,Stock Symbol,Prev. Close,Todays Range,Revenue,Open,52 wk Range,EPS,Volume,Market Cap,Dividend (Yield),Average Vol. (3m),P/E Ratio,Beta,1-Year Change,Shares Outstanding,Next Earnings Date
0,BATO,10.64,10.66 - 10.82,2.270000e+09,10.76,9.26 - 23.14,1.0,409200.0,3.060000e+09,0.97 (9.12%),1082649.0,10.36,None,- 52.78%,285530000.0,28/10/2020

In [42]:
investpy.get_indices(COUNTRY)

,country,name,full_name,symbol,currency,class,market
0,malaysia,MSCI Malaysia Net USD,MSCI Malaysia Net USD,MIMY00000NUS,USD,major_indices,global_indices
1,malaysia,MSCI Malaysia,MSCI Malaysia,MIMY00000PMY,MYR,major_indices,global_indices
2,malaysia,DJ Malaysia USD,Dow Jones Malaysia USD,MYDOWD,USD,major_indices,global_indices
3,malaysia,KL Construction,KL Construction,KLCT,MYR,primary_sectors,world_indices
4,malaysia,DJ Islamic Malaysia Titans 25,Dow Jones Islamic Market Malaysia Titans 25,DJMY25,MYR,other_indices,global_indices
5,malaysia,DJ Islam Malaysia Titans 25 USD,Dow Jones Islamic Market Malaysia Titans 25 USD,DJMY25D,USD,other_indices,global_indices
6,malaysia,FTSE4Good Bursa Malaysia,FTSE4Good Bursa Malaysia,FTF4GBM,MYR,other_indices,global_indices
7,malaysia,FTSE Bursa Malaysia KLCI,FTSE Bursa Malaysia KLCI,FTFBMKLCI,MYR,other_indices,global_indices
8,malaysia,KL Energy,KL Energy,KLEN,MYR,primary_sectors,world_indices
9,malaysia,MSCI Malaysia Gross,MSCI International Malaysia Gross Real time,MIMY00000GUS,USD,other_indices,global_indices
10,malaysia,TR Malaysia Commercial REITs Price,TR Malaysia Commercial REITs Price,TRXFLDMYPREIC,MYR,other_indices,global_indices
11,malaysia,KLCI,FTSE Malaysia KLCI,KLSE,MYR,major_indices,world_indices
12,malaysia,FTSE BM Asian Palm Oil USD,FTSE Bursa Malaysia Asian Palm Oil Plantation USD,FTFBMAPU,MYR,primary_sectors,world_indices
13,malaysia,FTSE BM Palm Oil Plantation,FTSE Bursa Malaysia Palm Oil Plantation,FTFBMPM,MYR,primary_sectors,world_indices
14,malaysia,DJ Malaysia,Dow Jones Malaysia,MYDOW,MYR,major_indices,global_indices
15,malaysia,KL Consumer Product,KL Consumer Product,KLCM,MYR,primary_sectors,world_indices
16,malaysia,KL Finance,KL Finance,KLFI,MYR,primary_sectors,world_indices
17,malaysia,KL Property,KL Property,KLPR,MYR,primary_sectors,world_indices
18,malaysia,KL REIT,KL REIT,KLRE,MYR,primary_sectors,world_indices
19,malaysia,KL Technology,KL Technology,KLTE,MYR,primary_sectors,world_indices
20,malaysia,KL Telecomunications & Media,KL Telecomunications & Media,KLTC,MYR,primary_sectors,world_indices
21,malaysia,KL Transporation & Logistics,KL Transporation & Logistics,KLTP,MYR,primary_sectors,world_indices
22,malaysia,KL Utilities,KL Utilities,KLUT,MYR,primary_sectors,world_indices
23,malaysia,Malaysia ACE,FTSE Bursa Malaysia ACE,FTFBMMES,MYR,additional_indices,world_indices
24,malaysia,FTSE BM Mid 70,FTSE Bursa Malaysia Mid 70,FTFBM70,MYR,additional_indices,world_indices
25,malaysia,Malaysia Top 100,FTSE Bursa Malaysia Top 100,FTFBM100,MYR,additional_indices,world_indices
26,malaysia,FTSE Malaysia,FTSE Malaysia,FTWIMALL,MYR,additional_indices,world_indices
27,malaysia,FTSE BM Asian Palm Oil MYR,FTSE Bursa Malaysia Asian Palm Oil Plantation MYR,FTFBMAPM,MYR,other_indices,world_indices
28,malaysia,KL Industrial Product,KL Industrial Product,KLIP,MYR,primary_sectors,world_indices
29,malaysia,FTSE BM EMAS,FTSE Bursa Malaysia EMAS,FTFBMEMAS,MYR,other_indices,world_indices
30,malaysia,FTSE BM EMAS Shariah,FTSE Bursa Malaysia EMAS Shariah,FTFBMS,MYR,other_indices,world_indices
31,malaysia,FTSE BM Fledgling,FTSE Bursa Malaysia Fledgling,FTFBMFLG,MYR,other_indices,world_indices
32,malaysia,FTSE BM Hijrah Shariah,FTSE Bursa Malaysia Hijrah Shariah,FTFBMHS,MYR,other_indices,world_indices
33,malaysia,FTSE BM SmallCap,FTSE Bursa Malaysia Small Cap,FTFBMSCAP,MYR,other_indices,world_indices
34,malaysia,Malaysia 50,Investing.com Malaysia 50,invml50,MYR,other_indices,world_indices
35,malaysia,KL Healthcare,KL Healthcare,KLHC,MYR,primary_sectors,world_indices
36,malaysia,KL Morgan Stanley CI,KL Morgan Stanley CI,MSCIMY,MYR,primary_sectors,world_indices
37,malaysia,KL Plantation,KL Plantation,KLPL,MYR,primary_sectors,world_indices